n8n/n8n_langgraph/inflearn_lecture_email_agent.json
{
  "name": "인프런 강의 이메일 에이전트",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -120
      ],
      "id": "20be745d-57e1-4ce1-acb8-09a38235169e",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "7ucz0Uq1S9XuAnkU",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        248,
        100
      ],
      "id": "d1d002c0-ea88-4c5e-8990-edfdeb09a978",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7W4ncREiOY91DI9e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"need_reply\": {\n\t\t\t\"type\": \"boolean\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        368,
        100
      ],
      "id": "dbf624d2-4fcc-4f44-a750-d7be7502719f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=아래 이메일 내용을 보고, 답장이 필요한 이메일인지 판단해주세요. 만약 당신의 오판으로 제가 이메일에 답장을 하지 못하게되면 업무상 차질이 생길 수 있으니 주의해주세요.\n\n1. 업무 협업 메일에는 가급적이면 답장을 해야합니다. \n2. 마케팅이나 뉴스레터의 경우에는 답장을 할 필요가 없습니다.\n\n이메일 내용:\n {{ $json.text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "당신의 업무는 이메일에 답장을 해야하는지 말아야하는지 결정하는 것입니다. 답장이 필요하다면 true, 답장이 필요 없다면 false를 리턴해주세요"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        220,
        -120
      ],
      "id": "f91e2ba5-a863-4bb5-8234-d173f293bd80",
      "name": "답장 여부 판단"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fde49f62-e240-46d6-b4c2-d0350d95e14f",
              "leftValue": "={{ $json.output.need_reply }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        596,
        -120
      ],
      "id": "6523a8c4-b98c-401f-81d8-66397ecf16fd",
      "name": "답장해야한다면?"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1064,
        100
      ],
      "id": "cc4cb04c-d659-4206-ae06-88264b62cd68",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "7W4ncREiOY91DI9e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=아래 이메일을 보고 답장을 작성해주세요\n\n최근 메일:\n{{ $('Gmail Trigger').item.json.text }}\n\n이메일 히스토리:\n{{ $json.messages.filter(item => item.snippet) }}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1036,
        -120
      ],
      "id": "fdc9eaa5-36dc-4420-83f1-9401c94cb9a8",
      "name": "이메일 답장 작성"
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "get",
        "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        820,
        -120
      ],
      "id": "7c2a9001-c45c-4e39-9c95-c5670a264c98",
      "name": "Gmail",
      "webhookId": "318606c9-be67-48fa-b5dc-b34ca1062671",
      "credentials": {
        "gmailOAuth2": {
          "id": "7ucz0Uq1S9XuAnkU",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"title\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"content\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1184,
        100
      ],
      "id": "b900a19b-5dc1-4b77-bc1b-33d3b569eaff",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "={{ $json.output.title }}",
        "message": "={{ $json.output.content }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.from.value[0].address }}"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1420,
        -120
      ],
      "id": "1f13bcca-b399-4304-97d1-7992052bdd29",
      "name": "Gmail1",
      "webhookId": "deca9a0e-9427-466d-9591-86eaac5ffeb0",
      "credentials": {
        "gmailOAuth2": {
          "id": "7ucz0Uq1S9XuAnkU",
          "name": "Gmail account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "답장 여부 판단",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "답장 여부 판단",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "답장 여부 판단",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "답장 여부 판단": {
      "main": [
        [
          {
            "node": "답장해야한다면?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "답장해야한다면?": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "이메일 답장 작성",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "이메일 답장 작성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "이메일 답장 작성",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "이메일 답장 작성": {
      "main": [
        [
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "00cab050-0bc5-4bb4-98b9-6227f684ccda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e4ec4640d6cca0d30d6549745eeb286bfe11a9106586118ad83c6032f39d7a3"
  },
  "id": "tPpPwBMQGyZIon5k",
  "tags": []
}