n8n/n8n_langgraph/pre_processing_with_n8n.json
{
  "name": "n8n data upload",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        20
      ],
      "id": "85aa8a9c-a094-4ddf-98bd-7e284c4b30d8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.name }}",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        340,
        20
      ],
      "id": "d31db206-b935-4344-b1ab-895f8064a62c",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "uw334AqwVhAZiqOZ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P6WNQdG4CedGA9uZ7m7V1ATl3KvBuw789CV7hY9y8oQ",
          "mode": "list",
          "cachedResultName": "파일 목록",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6WNQdG4CedGA9uZ7m7V1ATl3KvBuw789CV7hY9y8oQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6WNQdG4CedGA9uZ7m7V1ATl3KvBuw789CV7hY9y8oQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -100,
        20
      ],
      "id": "3c496b43-1f12-49da-a410-b178672d5db0",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "S5cjaKFfpJytxsuN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        120,
        20
      ],
      "id": "c9f6c3af-94f7-452d-a8f8-4535942cbe56",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "inhouse-rule-index",
          "mode": "list",
          "cachedResultName": "inhouse-rule-index"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        576,
        20
      ],
      "id": "a0beca0d-d08d-44cc-9f0e-30731f2a2dc9",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "DD5wgit5kWJ4zHb8",
          "name": "PineconeApi account 2"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        560,
        240
      ],
      "id": "48978776-5252-47ca-871b-99c1810ed704",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7W4ncREiOY91DI9e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        680,
        242.5
      ],
      "id": "1380d3d9-0d02-4d61-b419-68c5a3f0bd66",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 150,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        768,
        440
      ],
      "id": "9f999c44-cb3c-4785-982e-593f179ab1be",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0060f47e-1336-480e-b0a1-c627c42aa643",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1e4ec4640d6cca0d30d6549745eeb286bfe11a9106586118ad83c6032f39d7a3"
  },
  "id": "3vBZ7sN5UtnwIioG",
  "tags": []
}