n8n/005_email.json
{
  "name": "005-email",
  "nodes": [
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -580,
        0
      ],
      "id": "459e81a2-45b6-4777-b6f0-65780d02e14e",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "dH4hX0lCfSYmYKR9",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=메일 제목:\n{{ $json.subject }}\n\n메일 내용:\n{{ $json.text }}\n\n--------------------\n\n위의 메일의 내용을 참고하여 스펨여부를 판단하세요\n스팸 여부 판별 이유는 한글로 작성",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -380,
        0
      ],
      "id": "3bbd10d7-b570-4a73-8c1a-9936c0537557",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -380,
        180
      ],
      "id": "e458af27-c3ae-4a50-9c5c-3d8fdd185f7a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"is_spam\": \"스팸여부\",\n    \"reason\": \"스팸 판별 이유\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -220,
        220
      ],
      "id": "e2510f2c-1c81-4357-bc5c-250b071b7016",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d3dfa07c-6d67-405e-a14b-3847885e5a29"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e8c46e26-1287-4431-a636-42500926e3d1",
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -20,
        0
      ],
      "id": "fa2dc274-254c-40a1-aa6a-eae214e36b05",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailDateRange": {},
        "emailFlags": {},
        "emailSearchFilters": {
          "from": "={{ $('Email Trigger (IMAP)').item.json.from.value[0].address }}",
          "subject": "={{ $('Email Trigger (IMAP)').item.json.subject }}"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        180,
        -100
      ],
      "id": "fd530234-e6a3-4c71-945d-cf69e9bbfd59",
      "name": "GetMail",
      "credentials": {
        "imap": {
          "id": "dH4hX0lCfSYmYKR9",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "Junk",
          "mode": "list",
          "cachedResultName": "Junk"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        360,
        -100
      ],
      "id": "0c4685d0-f5c0-44a2-bd12-0d26be667986",
      "name": "MoveToJunk",
      "credentials": {
        "imap": {
          "id": "dH4hX0lCfSYmYKR9",
          "name": "NaverMail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GetMail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMail": {
      "main": [
        [
          {
            "node": "MoveToJunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6c3e4b61-9a1a-43fb-b331-d54416dd9baa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "R5qtRHnlDWY9rGTr",
  "tags": []
}