n8n/006_gmail_email.json
{
  "name": "006-gmail-email",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=메일 제목:\n{{ $json.subject }}\n\n메일 내용:\n{{ $json.text }}\n\n--------------------\n\n위의 메일의 내용을 참고하여 스펨여부를 판단하세요\n스팸 여부 판별 이유는 한글로 작성",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -220,
        20
      ],
      "id": "1c8ec430-f75b-4b6e-874e-065495b46cd9",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -220,
        200
      ],
      "id": "fe34a80f-a7a9-49bb-8a01-fd1fd483af20",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"is_spam\": \"스팸여부\",\n    \"reason\": \"스팸 판별 이유\"\n\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -20,
        200
      ],
      "id": "6c8dc011-25ed-4d6b-bd89-b1ef52ec5889",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d3dfa07c-6d67-405e-a14b-3847885e5a29"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e8c46e26-1287-4431-a636-42500926e3d1",
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        220,
        20
      ],
      "id": "6258d1b5-084d-4909-99d6-29567fb5b3e3",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailDateRange": {},
        "emailFlags": {},
        "emailSearchFilters": {
          "from": "={{ $('MAIL DATA').item.json.from }}",
          "subject": "={{ $('MAIL DATA').item.json.subject }}"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        420,
        -100
      ],
      "id": "7a68396e-38c2-40a4-a741-f5a00e89e75e",
      "name": "GetMail",
      "credentials": {
        "imap": {
          "id": "dH4hX0lCfSYmYKR9",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -840,
        160
      ],
      "id": "b9c2cefd-f1a9-4e66-bacb-7fa6361e92e4",
      "name": "Gmail-domsamo(IMAP)",
      "credentials": {
        "imap": {
          "id": "KwCj23NvOVJEn6Iw",
          "name": "Gmail-domsamo"
        }
      }
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -840,
        -20
      ],
      "id": "4e743a29-6aad-43a7-88ad-fd5bc8d2a514",
      "name": "Naver-domsamo(IMAP)",
      "credentials": {
        "imap": {
          "id": "dH4hX0lCfSYmYKR9",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb79cee9-b2dc-4750-b0dd-5caac7dd7639",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "dcded7cb-fa61-4cb7-a705-fa0843e7b751",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "b8b41c7c-a061-4e37-9812-8d97560dedba",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -20
      ],
      "id": "d462a941-306f-4bc5-9b6b-e1b18e3e83b2",
      "name": "Naver Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb79cee9-b2dc-4750-b0dd-5caac7dd7639",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "cd897edd-cf54-46fa-a598-a24d5b117488",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "067140f3-3b80-4652-a869-8e1a39993e9c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        160
      ],
      "id": "ba583592-4eab-488e-93d5-31845c629cff",
      "name": "Gmail Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3af0902d-1ed4-45e3-8f7c-7f02de6fd0c8",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "770fd473-61d5-4c22-b951-311ed1cf861c",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "ad0bcb68-5c39-4f53-8309-074b6fe7076c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        20
      ],
      "id": "8a23dccf-bb9f-4924-a286-af452ec09cce",
      "name": "MAIL DATA"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "destinationMailbox": {
          "__rl": true,
          "value": "Junk",
          "mode": "list",
          "cachedResultName": "Junk"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        620,
        -100
      ],
      "id": "c8ed8cf3-7c7d-4033-90db-3ddf17621e3e",
      "name": "DeleteMail",
      "credentials": {
        "imap": {
          "id": "dH4hX0lCfSYmYKR9",
          "name": "NaverMail"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GetMail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMail": {
      "main": [
        []
      ]
    },
    "Gmail-domsamo(IMAP)": {
      "main": [
        [
          {
            "node": "Gmail Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Naver-domsamo(IMAP)": {
      "main": [
        [
          {
            "node": "Naver Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Naver Fields": {
      "main": [
        [
          {
            "node": "MAIL DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Fields": {
      "main": [
        [
          {
            "node": "MAIL DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL DATA": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa83491d-08e7-4c20-96f9-9a9331c93791",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "0R9Uf6aLUwkrsgY2",
  "tags": []
}