n8n/006_gmail_email.json
{
  "name": "006-gmail-email",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=메일 제목:\n{{ $json.subject }}\n\n메일 내용:\n{{ $json.text }}\n\n-------------\n\n위의 메일의 내용을 참고하여 스팸여부를 판단 하세요.\n스팸 여부 판별 이유는 한글로 작성",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        240,
        -80
      ],
      "id": "24b94efd-8853-4801-80f4-2d57d7fff07d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        240,
        100
      ],
      "id": "d327f709-272b-4c85-bcdb-c37189380bbd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Iy5TlhG2RJOqeaMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"is_spam\": \"스팸여부\",\n    \"reason\": \"스팸 판별 이유\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        420,
        100
      ],
      "id": "fc08b404-d6a3-474e-94f2-4891e38214dc",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d9384317-7088-4dac-9bba-4d4844a6c6f5"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "015ea9d8-f89a-49d0-9051-23654ffc871d",
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        540,
        -80
      ],
      "id": "5d0cda1f-5c1b-4188-a528-a165dfe7d1ed",
      "name": "Switch"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailDateRange": {},
        "emailFlags": {},
        "emailSearchFilters": {
          "from": "={{ $('MAIL DATA').first().json.from }}",
          "subject": "={{ $('MAIL DATA').first().json.subject }}"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        740,
        -160
      ],
      "id": "c9fcc89b-fd10-48e6-8d6d-e329ee4cd000",
      "name": "GetMail",
      "credentials": {
        "imap": {
          "id": "94JWf8panO4rmZtJ",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "Deleted Messages",
          "mode": "list",
          "cachedResultName": "Deleted Messages"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        960,
        -160
      ],
      "id": "1e7f354a-3df6-41a9-bc0b-4a3f282174ba",
      "name": "DeleteMail",
      "credentials": {
        "imap": {
          "id": "94JWf8panO4rmZtJ",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -240,
        -160
      ],
      "id": "4d9507d7-2053-4e59-ad37-74a31aaae590",
      "name": "NaverEmail",
      "credentials": {
        "imap": {
          "id": "94JWf8panO4rmZtJ",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -240,
        20
      ],
      "id": "b5243fc1-e9a2-421c-a454-ca9b77072225",
      "name": "GmailEmail",
      "credentials": {
        "imap": {
          "id": "0W6qSn0eYoxM9pMM",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7db994db-22ca-457b-924f-d926baa59226",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "ae0fad2a-8f1f-4046-9720-8583c3640d8e",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "bc258476-f039-4435-93ad-4479402143e2",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -160
      ],
      "id": "86456b9d-80c0-400e-ad80-5cb74987b049",
      "name": "Naver Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7db994db-22ca-457b-924f-d926baa59226",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "ae0fad2a-8f1f-4046-9720-8583c3640d8e",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "4bc4a8f9-f51b-49b6-9953-a228ad4cdbc8",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        20
      ],
      "id": "855a55dd-2c3f-40bc-84b1-5837cf7ad752",
      "name": "Google Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b944a08b-378f-4d9f-8726-b4b893432c35",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "b8b36de3-0c86-42ff-93db-855d93e0ba09",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "902f71aa-78a9-4c41-bf0c-16a7c68d97d9",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -80
      ],
      "id": "b2290e9c-b1d0-48b4-b3da-46a99a39460d",
      "name": "MAIL DATA"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "GetMail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetMail": {
      "main": [
        []
      ]
    },
    "NaverEmail": {
      "main": [
        [
          {
            "node": "Naver Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GmailEmail": {
      "main": [
        [
          {
            "node": "Google Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Naver Fields": {
      "main": [
        [
          {
            "node": "MAIL DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Fields": {
      "main": [
        [
          {
            "node": "MAIL DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL DATA": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e1dfe1d2-9501-4d17-bdc9-99d26cdd4daf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "g0d84hiq5pJHGjBs",
  "tags": []
}