n8n/008_meeting_agent_fix.json
{
  "name": "008-meeting-agent-fix",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 메일 회신 전문 에이전트 입니다.\n다음의 메일의 제목과 내용을 보고 메일의 회신 여부를 판단하고 내용을 작성하세요.\n\n--------------------\n\n메일 제목:\n{{ $('MAIL DATA').item.json.subject }}\n\n메일 내용:\n{{ $('MAIL DATA').item.json.text }}\n\n보낸 사람 이메일 주소:\n{{ $('MAIL DATA').item.json.from }}\n\n보낸 사람:\n{{ $('MAIL DATA').item.json.name }}\n\n오늘 날짜:\n{{ $json.currentDate }}\n\n받은 사람 이메일 주소:\n{{ $('MAIL DATA').item.json.to }}\n\n--------------------\n- 메일 수신시 Contacts 툴을 사용하여 연락처 검색을 먼저 해야 합니다.\n- Contacts 툴 검색은 이메일 주소만 검색합니다.\n- 연락처에 등록된 사람이 아닌 경우 메일을 회신하지 않습니다.\n- 회신할 내용이 없으면 text 의 값은 공백으로 설정하고 is_reply는 false로 설정합니다.\n- 반드시 오늘 날짜를 먼저 확인하세요.\n- 일정이나 미팅 약속을 요청하는 경우 반드시 Cal-Read 툴을 사용하여 일정 확인 후 해당 날짜에 일정이 없는 경우에만 약속을 잡아야함.\n- 반드시 상대방이 요구하는 날짜를 정확하게 확인 할것.\n- 일정에 대한 내용이 메일에 있다면 Cal-Write 툴을 사용하여 일정을 등록해야 함.\n- 일정의 제목은 20자 내외의 제목을 반드시 추가할하고, 메일 내용을 참조하여 설명을 추가할 것.\n- 일정 등록시 미팅 대상에 대한 정보(이메일, 이름 등)를 최대한 자세히 함께 기재할것.\n- 일정을 잡았을 경우 답장에 해당 일정에 대한 정보를 함께 발송할 것(예: 5월 10일 오후 3시에 뵙겠습니다.)\n- 회신을 보낸때 받은 메일의 제목을 쓰게되면 앞에 [Re]를 붙여서 회신임을 알릴것.\n\n-------\n\n날짜 계산 지침\n- 다음주 목요일 등 자연어 날짜가 들어올 경우, 반드시 오늘 날짜 기준으로 정확한 날짜 (예 2025-10-11) 변환 후 처리해야 합니다.\n- 예를 들어 오늘이 금요일이라면 다음주 목요일은 반드시 다음 주의 목요일인 6일 후를 의미합니다. 이렇게 날짜를 직접 계산 하세요.\n- 날짜 계산은 Asia/Seoul 시간을 기준으로 합니다.\n- 일정에 약속 시간 언급이 없는 경우라면 오전 9시 이후, 12시~1시 제외, 오후 6시 이전 중 아무 시간대나 알아서 약속을 잡습니다.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -40,
        20
      ],
      "id": "7294bc85-63b0-451c-bc04-2a9abff973bd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -40,
        220
      ],
      "id": "b131b4d9-bf5d-42c0-a1cd-d97e4ed23975",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -840,
        160
      ],
      "id": "60c9d2ce-6293-47ad-a2f7-01108246aea7",
      "name": "Gmail-domsamo(IMAP)",
      "credentials": {
        "imap": {
          "id": "KwCj23NvOVJEn6Iw",
          "name": "Gmail-domsamo"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "postProcessAction": "nothing",
        "format": "resolved",
        "options": {}
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2,
      "position": [
        -840,
        -20
      ],
      "id": "00c8e02c-0d9d-4eca-9e2f-b52c1092e82a",
      "name": "Naver-domsamo(IMAP)",
      "credentials": {
        "imap": {
          "id": "dH4hX0lCfSYmYKR9",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb79cee9-b2dc-4750-b0dd-5caac7dd7639",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "dcded7cb-fa61-4cb7-a705-fa0843e7b751",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "b8b41c7c-a061-4e37-9812-8d97560dedba",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "bb3540c7-d26d-4ec6-9686-f66131f5b695",
              "name": "name",
              "value": "={{ $json.from.value[0].name }}",
              "type": "string"
            },
            {
              "id": "18a26669-bc3b-411f-a306-6dd9600ccd8c",
              "name": "to",
              "value": "={{ $json.to.value[0].address }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        -20
      ],
      "id": "841157f0-e0fc-4b4c-bc0c-40517450fd17",
      "name": "Naver Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb79cee9-b2dc-4750-b0dd-5caac7dd7639",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "cd897edd-cf54-46fa-a598-a24d5b117488",
              "name": "from",
              "value": "={{ $json.from.value[0].address }}",
              "type": "string"
            },
            {
              "id": "067140f3-3b80-4652-a869-8e1a39993e9c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        160
      ],
      "id": "5a362614-cbce-465f-a8aa-b362105d6de8",
      "name": "Gmail Fields",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3af0902d-1ed4-45e3-8f7c-7f02de6fd0c8",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "770fd473-61d5-4c22-b951-311ed1cf861c",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "ad0bcb68-5c39-4f53-8309-074b6fe7076c",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "285c38fe-eff3-40f1-8833-a1ae39f56c73",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "c1023191-8e0b-48b7-9bf1-1477c4790b49",
              "name": "to",
              "value": "={{ $json.to }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        20
      ],
      "id": "04b59a96-5ff5-4735-8763-fd4b8c8cf841",
      "name": "MAIL DATA"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "e2efa5b755d3b521b173fd72be836dede264e05a293a3fc979fc46a77aaa8896@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n_test"
        },
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        80,
        220
      ],
      "id": "9b87dc12-dfbb-49a0-9c99-00bab265286a",
      "name": "Cal-Read",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "sIQNWWUBopRg5Au9",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "e2efa5b755d3b521b173fd72be836dede264e05a293a3fc979fc46a77aaa8896@group.calendar.google.com",
          "mode": "list",
          "cachedResultName": "n8n_test"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}",
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        200,
        220
      ],
      "id": "a8b29d92-b425-46b0-a304-dbda75cb22cf",
      "name": "Cal-Write",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "sIQNWWUBopRg5Au9",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "timezone": "Asia/Seoul"
        }
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -260,
        20
      ],
      "id": "0ce281d1-f973-42d8-b66e-197fa2ef4e5d",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "fromEmail": "={{ $json.output.from }}",
        "toEmail": "={{ $json.output.to }}",
        "subject": "={{ $json.output.subject }}",
        "emailFormat": "text",
        "text": "={{ $json.output.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        480,
        -80
      ],
      "id": "d7678f92-7b08-4b9b-8899-fb5455f06bda",
      "name": "Send email",
      "webhookId": "9def745c-9212-4ec5-94e3-555368d61ccd",
      "credentials": {
        "smtp": {
          "id": "QeMd9pzeuVVgGtUx",
          "name": "SMTP-Naver"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n\t\"subject\": \"메일 제목\",\n\t\"text\": \"메일 내용\",\n    \"from\" : \"보낸 사람 메일 주소\",\n    \"to\" : \"domsamo@naver.com\",\n    \"is_reply\" : \"회신 여부\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        440,
        220
      ],
      "id": "916af03e-ed66-41a5-9817-554fab5e7a19",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "getAll",
        "fields": [
          "emailAddresses",
          "addresses",
          "birthdays",
          "names",
          "phoneNumbers"
        ],
        "useQuery": true,
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}"
      },
      "type": "n8n-nodes-base.googleContactsTool",
      "typeVersion": 1,
      "position": [
        320,
        220
      ],
      "id": "a363aab7-c191-42fe-8022-b74252126073",
      "name": "Contacts",
      "credentials": {
        "googleContactsOAuth2Api": {
          "id": "C2xx2D0FyhTlJiJ3",
          "name": "Google Contacts account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.is_reply }}",
                    "rightValue": "true",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f71ce4c6-b02d-4d77-8b8f-1dbf723567fe"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "fe28d946-9aec-41bc-87a9-e88acc81d5ad",
                    "leftValue": "={{ $json.output.is_reply }}",
                    "rightValue": "false",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        320,
        20
      ],
      "id": "abc99979-d91c-442b-91a9-d51a4cc04d5b",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail-domsamo(IMAP)": {
      "main": [
        [
          {
            "node": "Gmail Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Naver-domsamo(IMAP)": {
      "main": [
        [
          {
            "node": "Naver Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Naver Fields": {
      "main": [
        [
          {
            "node": "MAIL DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Fields": {
      "main": [
        [
          {
            "node": "MAIL DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL DATA": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cal-Read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Cal-Write": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fa15a93f-963f-4245-8de6-24a5d68f99b1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "PR3fo14t7tc7indS",
  "tags": []
}