n8n/009_news_feed.json
{
  "name": "009-news-feed",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -220,
        -80
      ],
      "id": "8a1addd0-48bb-4b76-8ea7-cc977958779a",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://www.yonhapnewstv.co.kr/browse/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        -60,
        -80
      ],
      "id": "ec1cb029-0e3b-4c34-ba09-a09e3b6af233",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['content:encodedSnippet'] }}\n\n뉴스 내용을 아주 간단하게 요약해줘.\n내용이 없는 것은 출력하지 말고 생략 할것.\n\n- 요약된 내용만 출력 할 것.\n- 부연 설명, 메타 정보 등 뉴스 외의 내용은 절대 출력 금지.\n- 출력할 내용이 없으면 공백 출력",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        100,
        -80
      ],
      "id": "1cf5556c-6a41-4ab3-9f98-76ec634ba3ad",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        100,
        80
      ],
      "id": "f6a0d067-a8be-492c-bf0f-466487deddd6",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9FrkRfbtspOImIho",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        400,
        -80
      ],
      "id": "de1ba246-8307-4ea4-a8e5-da8c8abff272",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n\n전체 내용을 최대한 간략하게 요약하세요.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        540,
        -80
      ],
      "id": "c300e99e-50c6-4c53-80e5-0edf8c4517c3",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        520,
        100
      ],
      "id": "4ce5b545-1a32-4ccf-908d-287c645ae80e",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Iy5TlhG2RJOqeaMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "7198424709",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        840,
        -80
      ],
      "id": "2ae28202-bba0-4cd7-94a2-ec78bb263423",
      "name": "Telegram",
      "webhookId": "c1f2974f-e37b-46a8-8db4-a3fc8d09d2f0",
      "credentials": {
        "telegramApi": {
          "id": "SWGrWMMxs46skabu",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -220,
        -220
      ],
      "id": "edf3be8e-1679-40fd-8ab9-8cb168c0072c",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {
    "RSS Read": [
      {
        "json": {
          "creator": "문형민",
          "title": "트럼프 \"러, 움직여야\"…우크라전쟁 휴전 위해 러시아 압박",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250412012916740",
          "pubDate": "Sat, 12 Apr 2025 01:29:18 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250411/AKR20250412012916740_01_i.jpg\" alt=\"\"><span class=\"yna_description\">[김선영 제작] 일러스트</span></div>\n\n도널드 트럼프 미국 대통령은 현지시간 11일 교착상태에 빠진 러시아-우크라이나전쟁 휴전 협상과 관련, 러시아를 압박하고 나섰습니다.\n\n트럼프 대통령은 이날 자신의 소셜미디어(SNS) 트루스소셜에 올린 글에서 \"러시아는 움직여야 한다\"고 요구하면서 4년째 계속되고 있는 러시아-우크라이나 전쟁 상황에 대해 \"끔찍하고 의미 없는 전쟁에서 1주일에 수천 명씩, 너무도 많은 사람이 죽어가고 있다\"고 지적했습니다.\n\n그러면서 이번 전쟁에 대해 \"결코 일어나서는 안 됐을 전쟁이고, 내가 대통령이었으면 일어나지 않았을 전쟁\"이라고 거듭 주장했습니다.\n\n트럼프 대통령의 이 같은 언급은 러시아-우크라이나 전쟁의 휴전을 중재하고 있는 스티브 위트코프 특사가 이날 블라디미르 푸틴 러시아 대통령을 세 번째 면담하는 것을 앞두고 나왔습니다.\n\n앞서 미국은 지난달 사우디아라비아에서 러시아 및 우크라이나대표단과 각각 만나 러시아와 우크라이나가 30일간 상대의 에너지 인프라에 대한 공격을 중단하기로 하고, 흑해에서의 휴전에도 원칙 합의했습니다.\n\n그러나 오는 18일 에너지 시설 관련 부분 휴전이 종료될 예정인 가운데, 러시아와 우크라이나는 그동안 상대방이 서로 휴전 합의를 위반했다고 비난해왔으며 흑해에서의 휴전에 대해서는 요구조건이 맞서 진전을 못 보고 있습니닫.\n\n러시아는 러시아 국영 농업은행과 농산물 수출 관련 금융기관에 대한 제재를 풀고, 이들 기관을 국제결제 시스템인 국제은행간통신협회(SWIFT)에 재연결해야 휴전이 유효하다고 주장해왔습니ㅣ다.\n\n하지만 본사가 벨기에에 있는 SWIFT의 제재 집행권은 미국이 아닌 유럽연합(EU)의 소관이어서 EU의 동의가 필요하나, EU는 대러시아 제재 해제의 요건으로 러시아군의 조건 없는 철수를 요구하고 있어 진전이 없는 상황입니다.\n\n#미국 #러시아 #우크라이나\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "content:encodedSnippet": "[김선영 제작] 일러스트\n\n도널드 트럼프 미국 대통령은 현지시간 11일 교착상태에 빠진 러시아-우크라이나전쟁 휴전 협상과 관련, 러시아를 압박하고 나섰습니다.\n\n트럼프 대통령은 이날 자신의 소셜미디어(SNS) 트루스소셜에 올린 글에서 \"러시아는 움직여야 한다\"고 요구하면서 4년째 계속되고 있는 러시아-우크라이나 전쟁 상황에 대해 \"끔찍하고 의미 없는 전쟁에서 1주일에 수천 명씩, 너무도 많은 사람이 죽어가고 있다\"고 지적했습니다.\n\n그러면서 이번 전쟁에 대해 \"결코 일어나서는 안 됐을 전쟁이고, 내가 대통령이었으면 일어나지 않았을 전쟁\"이라고 거듭 주장했습니다.\n\n트럼프 대통령의 이 같은 언급은 러시아-우크라이나 전쟁의 휴전을 중재하고 있는 스티브 위트코프 특사가 이날 블라디미르 푸틴 러시아 대통령을 세 번째 면담하는 것을 앞두고 나왔습니다.\n\n앞서 미국은 지난달 사우디아라비아에서 러시아 및 우크라이나대표단과 각각 만나 러시아와 우크라이나가 30일간 상대의 에너지 인프라에 대한 공격을 중단하기로 하고, 흑해에서의 휴전에도 원칙 합의했습니다.\n\n그러나 오는 18일 에너지 시설 관련 부분 휴전이 종료될 예정인 가운데, 러시아와 우크라이나는 그동안 상대방이 서로 휴전 합의를 위반했다고 비난해왔으며 흑해에서의 휴전에 대해서는 요구조건이 맞서 진전을 못 보고 있습니닫.\n\n러시아는 러시아 국영 농업은행과 농산물 수출 관련 금융기관에 대한 제재를 풀고, 이들 기관을 국제결제 시스템인 국제은행간통신협회(SWIFT)에 재연결해야 휴전이 유효하다고 주장해왔습니ㅣ다.\n\n하지만 본사가 벨기에에 있는 SWIFT의 제재 집행권은 미국이 아닌 유럽연합(EU)의 소관이어서 EU의 동의가 필요하나, EU는 대러시아 제재 해제의 요건으로 러시아군의 조건 없는 철수를 요구하고 있어 진전이 없는 상황입니다.\n\n#미국 #러시아 #우크라이나\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250411/AKR20250412012916740_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "문형민",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250412012916740#comments",
          "content": "[김선영 제작] 일러스트 도널드 트럼프 미국 대통령은 현지시간 11일 교착상태에 빠진 러시아-우크라이나전쟁 휴전 협상과 관련, 러시아를 압박하고 나섰습니다. 트럼프 대통령은 이날 자신의 소셜미디어(SNS) 트루스소셜에 올린 글에서 \"러시아는 움직여야 한다\"고 요구하면서 4년째 계속되고 있는 러시아-우크라이나 전쟁 상황에 대해 \"끔찍하고 의미 없는 전쟁에서 1주일에 수천 명씩, 너무도 많은 사람이 죽어가고 있다\"고 지적했습니다. 그러면서 이...",
          "contentSnippet": "[김선영 제작] 일러스트 도널드 트럼프 미국 대통령은 현지시간 11일 교착상태에 빠진 러시아-우크라이나전쟁 휴전 협상과 관련, 러시아를 압박하고 나섰습니다. 트럼프 대통령은 이날 자신의 소셜미디어(SNS) 트루스소셜에 올린 글에서 \"러시아는 움직여야 한다\"고 요구하면서 4년째 계속되고 있는 러시아-우크라이나 전쟁 상황에 대해 \"끔찍하고 의미 없는 전쟁에서 1주일에 수천 명씩, 너무도 많은 사람이 죽어가고 있다\"고 지적했습니다. 그러면서 이...",
          "guid": "AKR20250412012916740",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T16:29:18.000Z"
        }
      },
      {
        "json": {
          "creator": "문형민",
          "title": "젤렌스키 \"푸틴, 북한만으론 만족 못해…중국인 수백명 참전\"",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250412005239346",
          "pubDate": "Sat, 12 Apr 2025 00:52:41 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250411/AKR20250412005239346_01_i.jpg\" alt=\"\"><span class=\"yna_description\">[AFP 연합뉴스 자료사진. 재판매 및 DB 금지]</span></div>\n\n볼로디미르 젤렌스키 우크라이나 대통령이 연일 중국인의 전쟁 참전을 거론하며 동맹들을 향해 러시아 압박 수위를 끌어올려달라고 촉구했습니다.\n\n젤렌스키 대통령은 현지시간 11일 벨기에 브뤼셀 북대서양조약기구(나토) 본부에서 열린 '우크라이나 방위연락그룹'(UDCG) 회의 화상 연설에서 \"현재 최소 수백명이 러시아의 점령군 편에 서서 싸우고 있다는 정보를 갖고 있다\"고 주장했습니다.\n\n이어 \"푸틴(러시아 대통령)은 북한군으로 만족하지 못했고 이제는 또 다른 국적, 중국인을 끌어들여 병력 부족분을 메우려 하고 있다\"고 말했습니다.\n\n그러면서 \"러시아가 언제까지 이런 짓을 하도록 놔둬야 하는가\"라며 러시아에 대한 압박을 더 강화해야 한다고 동맹들에 촉구했습니다.\n\n우크라이나는 지난 8일 우크라이나 동부 도네츠크 지역에서 러시아군 일원으로 싸우던 중국인 두 명을 생포했다며 이들이 소지한 여권과 영상 등을 공개한 바 있습니다.\n\n젤렌스키 대통령은 이튿날인 9일 우크라이나에서 싸우는 중국 국적자 최소 155명의 인적 정보를 확보했다고 추가로 밝혔습니다.\n\n전날에는 \"이것은 중국 영토와 관할권 내에서 러시아가 중국인을 전쟁에 동원하기 위해 체계적으로 벌인 일이라는 게 분명하다\"고 주장하기도 했습니다.\n\n러시아와 중국은 우크라이나가 제기한 의혹을 전면 부인하고 있습니다.\n\n러시아는 전날 \"중국은 항상 매우 균형 잡힌 입장을 취한다. 이것이 젤렌스키가 옳지 않은 이유\"라며 부인했습니다.\n\n중국도 \"근거가 없다\"며 \"무책임한 발언을 하지 않기를 권고한다\"며 반발했습니다.\n\n#우크라이나 #러시아 #북한 #중국\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "content:encodedSnippet": "[AFP 연합뉴스 자료사진. 재판매 및 DB 금지]\n\n볼로디미르 젤렌스키 우크라이나 대통령이 연일 중국인의 전쟁 참전을 거론하며 동맹들을 향해 러시아 압박 수위를 끌어올려달라고 촉구했습니다.\n\n젤렌스키 대통령은 현지시간 11일 벨기에 브뤼셀 북대서양조약기구(나토) 본부에서 열린 '우크라이나 방위연락그룹'(UDCG) 회의 화상 연설에서 \"현재 최소 수백명이 러시아의 점령군 편에 서서 싸우고 있다는 정보를 갖고 있다\"고 주장했습니다.\n\n이어 \"푸틴(러시아 대통령)은 북한군으로 만족하지 못했고 이제는 또 다른 국적, 중국인을 끌어들여 병력 부족분을 메우려 하고 있다\"고 말했습니다.\n\n그러면서 \"러시아가 언제까지 이런 짓을 하도록 놔둬야 하는가\"라며 러시아에 대한 압박을 더 강화해야 한다고 동맹들에 촉구했습니다.\n\n우크라이나는 지난 8일 우크라이나 동부 도네츠크 지역에서 러시아군 일원으로 싸우던 중국인 두 명을 생포했다며 이들이 소지한 여권과 영상 등을 공개한 바 있습니다.\n\n젤렌스키 대통령은 이튿날인 9일 우크라이나에서 싸우는 중국 국적자 최소 155명의 인적 정보를 확보했다고 추가로 밝혔습니다.\n\n전날에는 \"이것은 중국 영토와 관할권 내에서 러시아가 중국인을 전쟁에 동원하기 위해 체계적으로 벌인 일이라는 게 분명하다\"고 주장하기도 했습니다.\n\n러시아와 중국은 우크라이나가 제기한 의혹을 전면 부인하고 있습니다.\n\n러시아는 전날 \"중국은 항상 매우 균형 잡힌 입장을 취한다. 이것이 젤렌스키가 옳지 않은 이유\"라며 부인했습니다.\n\n중국도 \"근거가 없다\"며 \"무책임한 발언을 하지 않기를 권고한다\"며 반발했습니다.\n\n#우크라이나 #러시아 #북한 #중국\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250411/AKR20250412005239346_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "문형민",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250412005239346#comments",
          "content": "[AFP 연합뉴스 자료사진. 재판매 및 DB 금지] 볼로디미르 젤렌스키 우크라이나 대통령이 연일 중국인의 전쟁 참전을 거론하며 동맹들을 향해 러시아 압박 수위를 끌어올려달라고 촉구했습니다. 젤렌스키 대통령은 현지시간 11일 벨기에 브뤼셀 북대서양조약기구(나토) 본부에서 열린 '우크라이나 방위연락그룹'(UDCG) 회의 화상 연설에서 \"현재 최소 수백명이 러시아의 점령군 편에 서서 싸우고 있다는 정보를 갖고 있다\"고 주장했습니다. 이어 \"푸틴...",
          "contentSnippet": "[AFP 연합뉴스 자료사진. 재판매 및 DB 금지] 볼로디미르 젤렌스키 우크라이나 대통령이 연일 중국인의 전쟁 참전을 거론하며 동맹들을 향해 러시아 압박 수위를 끌어올려달라고 촉구했습니다. 젤렌스키 대통령은 현지시간 11일 벨기에 브뤼셀 북대서양조약기구(나토) 본부에서 열린 '우크라이나 방위연락그룹'(UDCG) 회의 화상 연설에서 \"현재 최소 수백명이 러시아의 점령군 편에 서서 싸우고 있다는 정보를 갖고 있다\"고 주장했습니다. 이어 \"푸틴...",
          "guid": "AKR20250412005239346",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T15:52:41.000Z"
        }
      },
      {
        "json": {
          "creator": "문형민",
          "title": "유럽, 우크라 35조원 지원 약속…젤렌스키 \"패트리엇 10기 달라\"",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250412004947067",
          "pubDate": "Sat, 12 Apr 2025 00:49:49 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250411/AKR20250412004947067_01_i.jpg\" alt=\"\"><span class=\"yna_description\">[연합뉴스 제공]</span></div>\n\n영국, 독일 등 유럽 각국이 현지시간 11일 우크라이나에 총 210억 유로(약 35조원) 규모의 추가 군사지원을 약속했습니다.\n\n존 힐리 영국 국방장관은 이날 벨기에 브뤼셀 북대서양조약기구(나토) 본부에서 열린 '우크라이나 방위연락그룹'(UDCG) 회의가 끝난 뒤 기자회견에서 \"군사지원 규모가 기록적으로 늘어난 것\"이라며 이같이 밝혔습니다.\n\n힐리 장관은 구체적인 기여를 약속한 국가별 지원 액수나 이미 개별적으로 발표된 군사지원금이 중복됐는지 등은 언급하지 않았습니다.\n\n영국은 이날 노르웨이와 함께 수십만 대 군사용 드론, 레이더 시스템, 대전차 지뢰 등으로 구성된 총 5억 8천만 달러(약 8천320억원) 상당을 추가 지원하기로 했습니다.\n\n일부 금액은 우크라이나 장갑차 유지보수에 활용됩니다.\n\n독일은 올해 우크라이나에 이리스-T(IRIS-T) 방공시스템 4기를 추가 지원합니다.\n\n300발의 유도미사일, 100대의 지상 기반 감시레이더 등도 전달됩니다.\n\n루스템 우메로프 우크라이나 국방장관은 회의가 끝난 뒤 \"우크라이나가 받은 것 중 최대 규모의 군사지원안이 나왔다\"며 \"지원에 동참해준 모든 나라에 감사하다\"고 말했습니ㅏㄷ.\n\n볼로디미르 젤렌스키 우크라이나 대통령은 회의에서 화상 연설을 통해 패트리엇 방공시스템 10기가 더 필요하다고 거듭 호소했습니다.\n\n그는 엑스(X·옛 트위터)에 올린 글에서는 \"자유 국가들이 (패트리엇을) 가지고 있다\"며 \"평화를 위해 그것을 이행할 정치적 결정이 필요하다\"고 촉구했습니다.\n\n#유럽 #우크라이나 #군사지원\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "content:encodedSnippet": "[연합뉴스 제공]\n\n영국, 독일 등 유럽 각국이 현지시간 11일 우크라이나에 총 210억 유로(약 35조원) 규모의 추가 군사지원을 약속했습니다.\n\n존 힐리 영국 국방장관은 이날 벨기에 브뤼셀 북대서양조약기구(나토) 본부에서 열린 '우크라이나 방위연락그룹'(UDCG) 회의가 끝난 뒤 기자회견에서 \"군사지원 규모가 기록적으로 늘어난 것\"이라며 이같이 밝혔습니다.\n\n힐리 장관은 구체적인 기여를 약속한 국가별 지원 액수나 이미 개별적으로 발표된 군사지원금이 중복됐는지 등은 언급하지 않았습니다.\n\n영국은 이날 노르웨이와 함께 수십만 대 군사용 드론, 레이더 시스템, 대전차 지뢰 등으로 구성된 총 5억 8천만 달러(약 8천320억원) 상당을 추가 지원하기로 했습니다.\n\n일부 금액은 우크라이나 장갑차 유지보수에 활용됩니다.\n\n독일은 올해 우크라이나에 이리스-T(IRIS-T) 방공시스템 4기를 추가 지원합니다.\n\n300발의 유도미사일, 100대의 지상 기반 감시레이더 등도 전달됩니다.\n\n루스템 우메로프 우크라이나 국방장관은 회의가 끝난 뒤 \"우크라이나가 받은 것 중 최대 규모의 군사지원안이 나왔다\"며 \"지원에 동참해준 모든 나라에 감사하다\"고 말했습니ㅏㄷ.\n\n볼로디미르 젤렌스키 우크라이나 대통령은 회의에서 화상 연설을 통해 패트리엇 방공시스템 10기가 더 필요하다고 거듭 호소했습니다.\n\n그는 엑스(X·옛 트위터)에 올린 글에서는 \"자유 국가들이 (패트리엇을) 가지고 있다\"며 \"평화를 위해 그것을 이행할 정치적 결정이 필요하다\"고 촉구했습니다.\n\n#유럽 #우크라이나 #군사지원\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250411/AKR20250412004947067_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "문형민",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250412004947067#comments",
          "content": "[연합뉴스 제공] 영국, 독일 등 유럽 각국이 현지시간 11일 우크라이나에 총 210억 유로(약 35조원) 규모의 추가 군사지원을 약속했습니다. 존 힐리 영국 국방장관은 이날 벨기에 브뤼셀 북대서양조약기구(나토) 본부에서 열린 '우크라이나 방위연락그룹'(UDCG) 회의가 끝난 뒤 기자회견에서 \"군사지원 규모가 기록적으로 늘어난 것\"이라며 이같이 밝혔습니다. 힐리 장관은 구체적인 기여를 약속한 국가별 지원 액수나 이미 개별적으로 발표된 군사...",
          "contentSnippet": "[연합뉴스 제공] 영국, 독일 등 유럽 각국이 현지시간 11일 우크라이나에 총 210억 유로(약 35조원) 규모의 추가 군사지원을 약속했습니다. 존 힐리 영국 국방장관은 이날 벨기에 브뤼셀 북대서양조약기구(나토) 본부에서 열린 '우크라이나 방위연락그룹'(UDCG) 회의가 끝난 뒤 기자회견에서 \"군사지원 규모가 기록적으로 늘어난 것\"이라며 이같이 밝혔습니다. 힐리 장관은 구체적인 기여를 약속한 국가별 지원 액수나 이미 개별적으로 발표된 군사...",
          "guid": "AKR20250412004947067",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T15:49:49.000Z"
        }
      },
      {
        "json": {
          "creator": "문형민",
          "title": "미국 소비자심리지수 4달째 급락…'인플레 우려' 44년만에 최고치",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250412004618456",
          "pubDate": "Sat, 12 Apr 2025 00:46:19 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250411/AKR20250412004618456_01_i.jpg\" alt=\"\"><span class=\"yna_description\">[AFP 연합뉴스 자료사진. 재판매 및 DB 금지]</span></div>\n\n도널드 트럼프 미 행정부의 관세정책 여파로 미국 소비자들의 심리가 4월 들어 예상보다 가파르게 악화한 것으로 나타났습니다.\n\n미국 경기에 대한 소비자들의 자신감을 반영하는 소비자심리지수를 매월 발표하는 미 미시간대는 현지시간 11일 4월 소비자심리지수가 50.8로 잠정 집계됐다고 밝혔습니다.\n\n이는 3월 대비 10.9% 급락한 것으로, 다우존스가 집계한 전문가 전망치(54.6)도 크게 밑돌았습니다.\n\n미시간대의 소비자심리지수는 올해 들어 4개월째 하락 흐름을 이어가고 있습니다.\n\n향후 인플레이션에 대한 소비자들의 우려도 이번 조사에서 급증했습니다.\n\n향후 1년 기대 인플레이션은 6.7%로 3월 대비 1.7%포인트 올랐습니다.\n\n이는 미국이 10%대의 높은 인플레이션을 경험했던 1981년 이후 44년 만에 가장 높은 수준이라고 보고서는 언급했습니다.\n\n미시간대 소비자심리지수 집계를 관장하는 조안 슈 디렉터는 \"소비자들은 경기침체의 위험을 높이는 여러 경고 신호를 보고하고 있다\"라면서 \"사업 여건과 개인 재무, 소득, 인플레이션, 노동시장 등에 대한 기대가 이달 들어 지속해서 악화하고 있다\"라고 말했습니다.\n\n트럼프 행정부의 관세 정책 충격으로 미국 경제가 물가 상승과 함께 침체에 빠질 수 있다는 우려가 커진 가운데 월가에선 소비자심리의 움직임에 촉각을 곤두세우고 있습니다.\n\n#미국 #소비자 #소비자심리지수 #관세\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "content:encodedSnippet": "[AFP 연합뉴스 자료사진. 재판매 및 DB 금지]\n\n도널드 트럼프 미 행정부의 관세정책 여파로 미국 소비자들의 심리가 4월 들어 예상보다 가파르게 악화한 것으로 나타났습니다.\n\n미국 경기에 대한 소비자들의 자신감을 반영하는 소비자심리지수를 매월 발표하는 미 미시간대는 현지시간 11일 4월 소비자심리지수가 50.8로 잠정 집계됐다고 밝혔습니다.\n\n이는 3월 대비 10.9% 급락한 것으로, 다우존스가 집계한 전문가 전망치(54.6)도 크게 밑돌았습니다.\n\n미시간대의 소비자심리지수는 올해 들어 4개월째 하락 흐름을 이어가고 있습니다.\n\n향후 인플레이션에 대한 소비자들의 우려도 이번 조사에서 급증했습니다.\n\n향후 1년 기대 인플레이션은 6.7%로 3월 대비 1.7%포인트 올랐습니다.\n\n이는 미국이 10%대의 높은 인플레이션을 경험했던 1981년 이후 44년 만에 가장 높은 수준이라고 보고서는 언급했습니다.\n\n미시간대 소비자심리지수 집계를 관장하는 조안 슈 디렉터는 \"소비자들은 경기침체의 위험을 높이는 여러 경고 신호를 보고하고 있다\"라면서 \"사업 여건과 개인 재무, 소득, 인플레이션, 노동시장 등에 대한 기대가 이달 들어 지속해서 악화하고 있다\"라고 말했습니다.\n\n트럼프 행정부의 관세 정책 충격으로 미국 경제가 물가 상승과 함께 침체에 빠질 수 있다는 우려가 커진 가운데 월가에선 소비자심리의 움직임에 촉각을 곤두세우고 있습니다.\n\n#미국 #소비자 #소비자심리지수 #관세\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250411/AKR20250412004618456_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "문형민",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250412004618456#comments",
          "content": "[AFP 연합뉴스 자료사진. 재판매 및 DB 금지] 도널드 트럼프 미 행정부의 관세정책 여파로 미국 소비자들의 심리가 4월 들어 예상보다 가파르게 악화한 것으로 나타났습니다. 미국 경기에 대한 소비자들의 자신감을 반영하는 소비자심리지수를 매월 발표하는 미 미시간대는 현지시간 11일 4월 소비자심리지수가 50.8로 잠정 집계됐다고 밝혔습니다. 이는 3월 대비 10.9% 급락한 것으로, 다우존스가 집계한 전문가 전망치(54.6)도 크게 밑돌았...",
          "contentSnippet": "[AFP 연합뉴스 자료사진. 재판매 및 DB 금지] 도널드 트럼프 미 행정부의 관세정책 여파로 미국 소비자들의 심리가 4월 들어 예상보다 가파르게 악화한 것으로 나타났습니다. 미국 경기에 대한 소비자들의 자신감을 반영하는 소비자심리지수를 매월 발표하는 미 미시간대는 현지시간 11일 4월 소비자심리지수가 50.8로 잠정 집계됐다고 밝혔습니다. 이는 3월 대비 10.9% 급락한 것으로, 다우존스가 집계한 전문가 전망치(54.6)도 크게 밑돌았...",
          "guid": "AKR20250412004618456",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T15:46:19.000Z"
        }
      },
      {
        "json": {
          "creator": "문형민",
          "title": "뉴욕 연은 총재 \"올해 미국 GDP 성장 1% 약간 밑돌 것\"",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250412004021838",
          "pubDate": "Sat, 12 Apr 2025 00:40:24 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250411/AKR20250412004021838_01_i.jpg\" alt=\"\"><span class=\"yna_description\">[로이터 연합뉴스 자료사진]</span></div>\n\n존 윌리엄스 미국 뉴욕 연방준비은행 총재는 현지시간 11일 \"(올해 미국의) 실질 국내총생산(GDP) 성장률은 작년보다 상당히 둔화해 1%를 약간 밑돌 것\"이라고 전망했습니다.\n\n윌리엄스 총재는 이날 푸에르토리코 산후안에서 열린 푸에르토리코 상공회의소 행사에서 이렇게 예상했습니다.\n\n이는 이민 감소에 따른 노동력 증가 둔화와 불확실성 및 관세의 복합적인 영향을 고려한 수치입니다.\n\n경기 둔화에 미국의 실업률은 현재 4.2% 수준에서 내년 4.5~5.0%로 상승할 것이라고 예측했습니다.\n\n도널드 트럼프 미국 대통령의 관세에 따라 올해 물가 상승률은 3.5~4.0%로 오를 것이라고 예상했습니다.\n\n연방준비제도(Fed)가 선호하는 물가 지표인 개인소비지출(PCE) 가격지수는 지난 2월 기준 1년 전 같은 기간보다 2.5% 상승했습니다.\n\n앞으로 상승이 더욱 가팔라진다는 의미입니다.\n\n윌리엄스 총재는 \"핵심적인 질문은 올해의 높은 물가 상승률이 향후 몇 년간 어느 정도로 이어질지, 그것이 기대에 어떤 영향을 미칠지다\"고 강조했습니다.\n\n그는 \"불확실성이 커지면서 경제의 미래와 통화정책의 방향에 많은 의문이 제기되고 있다\"면서 \"아직 답을 알기에는 너무 이르다\"고 판단했습니다.\n\n윌리엄스 총재는 \"통화정책은 이러한 위험을 최선으로 관리할 수 있는 적절한 위치에 있다\"면서 \"단기 기대 인플레이션이 상승했지만, 장기 기대 인플레이션은 여전히 확고하게 잘 유지되고 있다\"고 진단했습니다.\n\n#미국 #GDP #성장률 #물가\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "content:encodedSnippet": "[로이터 연합뉴스 자료사진]\n\n존 윌리엄스 미국 뉴욕 연방준비은행 총재는 현지시간 11일 \"(올해 미국의) 실질 국내총생산(GDP) 성장률은 작년보다 상당히 둔화해 1%를 약간 밑돌 것\"이라고 전망했습니다.\n\n윌리엄스 총재는 이날 푸에르토리코 산후안에서 열린 푸에르토리코 상공회의소 행사에서 이렇게 예상했습니다.\n\n이는 이민 감소에 따른 노동력 증가 둔화와 불확실성 및 관세의 복합적인 영향을 고려한 수치입니다.\n\n경기 둔화에 미국의 실업률은 현재 4.2% 수준에서 내년 4.5~5.0%로 상승할 것이라고 예측했습니다.\n\n도널드 트럼프 미국 대통령의 관세에 따라 올해 물가 상승률은 3.5~4.0%로 오를 것이라고 예상했습니다.\n\n연방준비제도(Fed)가 선호하는 물가 지표인 개인소비지출(PCE) 가격지수는 지난 2월 기준 1년 전 같은 기간보다 2.5% 상승했습니다.\n\n앞으로 상승이 더욱 가팔라진다는 의미입니다.\n\n윌리엄스 총재는 \"핵심적인 질문은 올해의 높은 물가 상승률이 향후 몇 년간 어느 정도로 이어질지, 그것이 기대에 어떤 영향을 미칠지다\"고 강조했습니다.\n\n그는 \"불확실성이 커지면서 경제의 미래와 통화정책의 방향에 많은 의문이 제기되고 있다\"면서 \"아직 답을 알기에는 너무 이르다\"고 판단했습니다.\n\n윌리엄스 총재는 \"통화정책은 이러한 위험을 최선으로 관리할 수 있는 적절한 위치에 있다\"면서 \"단기 기대 인플레이션이 상승했지만, 장기 기대 인플레이션은 여전히 확고하게 잘 유지되고 있다\"고 진단했습니다.\n\n#미국 #GDP #성장률 #물가\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250411/AKR20250412004021838_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "문형민",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250412004021838#comments",
          "content": "[로이터 연합뉴스 자료사진] 존 윌리엄스 미국 뉴욕 연방준비은행 총재는 현지시간 11일 \"(올해 미국의) 실질 국내총생산(GDP) 성장률은 작년보다 상당히 둔화해 1%를 약간 밑돌 것\"이라고 전망했습니다. 윌리엄스 총재는 이날 푸에르토리코 산후안에서 열린 푸에르토리코 상공회의소 행사에서 이렇게 예상했습니다. 이는 이민 감소에 따른 노동력 증가 둔화와 불확실성 및 관세의 복합적인 영향을 고려한 수치입니다. 경기 둔화에 미국의 실업률은 현재 ...",
          "contentSnippet": "[로이터 연합뉴스 자료사진] 존 윌리엄스 미국 뉴욕 연방준비은행 총재는 현지시간 11일 \"(올해 미국의) 실질 국내총생산(GDP) 성장률은 작년보다 상당히 둔화해 1%를 약간 밑돌 것\"이라고 전망했습니다. 윌리엄스 총재는 이날 푸에르토리코 산후안에서 열린 푸에르토리코 상공회의소 행사에서 이렇게 예상했습니다. 이는 이민 감소에 따른 노동력 증가 둔화와 불확실성 및 관세의 복합적인 영향을 고려한 수치입니다. 경기 둔화에 미국의 실업률은 현재 ...",
          "guid": "AKR20250412004021838",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T15:40:24.000Z"
        }
      },
      {
        "json": {
          "creator": "문형민",
          "title": "지반 \"매우불량\"…감사원, 3년 전 광명 지하터널경고",
          "link": "https://www.yonhapnewstv.co.kr/news/MYH20250412000739176",
          "pubDate": "Sat, 12 Apr 2025 00:07:54 +0900",
          "content:encoded": "경기 광명시 신안산선 지하터널 공사 현장이 포함된 공사 구간에 대해 감사원이 3년 전 지반 상태가 '매우 불량'하다고 경고한 걸로 확인됐습니다.\n\n감사원은 지난 2023년 1월 공개한 ‘광역교통망 구축 추진실태’라는 감사 보고서를 통해 이같은 문제점을 지적했습니다.\n\n보고서에 따르면, 신안산선 제5공구의 경우 터널 시점으로부터 약 19㎞ 떨어진 구간의 지반 상태가 '매우 불량'한 5등급인데도 터널 설계에 콘크리트 시설물인 '인버트'가 설치되지 않았다'고 전했습니다.\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "content:encodedSnippet": "경기 광명시 신안산선 지하터널 공사 현장이 포함된 공사 구간에 대해 감사원이 3년 전 지반 상태가 '매우 불량'하다고 경고한 걸로 확인됐습니다.\n\n감사원은 지난 2023년 1월 공개한 ‘광역교통망 구축 추진실태’라는 감사 보고서를 통해 이같은 문제점을 지적했습니다.\n\n보고서에 따르면, 신안산선 제5공구의 경우 터널 시점으로부터 약 19㎞ 떨어진 구간의 지반 상태가 '매우 불량'한 5등급인데도 터널 설계에 콘크리트 시설물인 '인버트'가 설치되지 않았다'고 전했습니다.\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/MYH/20250411/MYH20250412000739176_P1.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "문형민",
          "comments": "https://www.yonhapnewstv.co.kr/news/MYH20250412000739176#comments",
          "content": "경기 광명시 신안산선 지하터널 공사 현장이 포함된 공사 구간에 대해 감사원이 3년 전 지반 상태가 '매우 불량'하다고 경고한 걸로 확인됐습니다. 감사원은 지난 2023년 1월 공개한 ‘광역교통망 구축 추진실태’라는 감사 보고서를 통해 이같은 문제점을 지적했습니다. 보고서에 따르면, 신안산선 제5공구의 경우 터널 시점으로부터 약 19㎞ 떨어진 구간의 지반 상태가 '매우 불량'한 5등급인데도 터널 설계에 콘크리트 시설물인 '인버트'가 설치되지...",
          "contentSnippet": "경기 광명시 신안산선 지하터널 공사 현장이 포함된 공사 구간에 대해 감사원이 3년 전 지반 상태가 '매우 불량'하다고 경고한 걸로 확인됐습니다. 감사원은 지난 2023년 1월 공개한 ‘광역교통망 구축 추진실태’라는 감사 보고서를 통해 이같은 문제점을 지적했습니다. 보고서에 따르면, 신안산선 제5공구의 경우 터널 시점으로부터 약 19㎞ 떨어진 구간의 지반 상태가 '매우 불량'한 5등급인데도 터널 설계에 콘크리트 시설물인 '인버트'가 설치되지...",
          "guid": "MYH20250412000739176",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T15:07:54.000Z"
        }
      },
      {
        "json": {
          "creator": "문형민",
          "title": "포스코이앤씨 \"터널 사고 사과…원인 면밀히 규명\"",
          "link": "https://www.yonhapnewstv.co.kr/news/MYH20250412000151099",
          "pubDate": "Sat, 12 Apr 2025 00:02:05 +0900",
          "content:encoded": "경기 광명시 신안산선 공사 현장 붕괴 사고와 관련해 해당 구간 시공을 맡은 포스코이앤씨가 공식 사과했습니다.\n\n포스코이앤씨는 \"심려를 끼쳐 드린 점 진심으로 사과드린다\"며 \"불편과 불안을 겪고 계신 지역 주민 여러분들에게도  깊은 사과의 말씀을 남긴다고\"고 밝혔습니다.\n\n\"관계당국의 구조 및 조사 활동에 적극 협조하고 있다\"며 \"사고 원인을 면밀히 규명하고 철저한 안전대책을 수립하겠다\"고 전했습니다.\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "content:encodedSnippet": "경기 광명시 신안산선 공사 현장 붕괴 사고와 관련해 해당 구간 시공을 맡은 포스코이앤씨가 공식 사과했습니다.\n\n포스코이앤씨는 \"심려를 끼쳐 드린 점 진심으로 사과드린다\"며 \"불편과 불안을 겪고 계신 지역 주민 여러분들에게도  깊은 사과의 말씀을 남긴다고\"고 밝혔습니다.\n\n\"관계당국의 구조 및 조사 활동에 적극 협조하고 있다\"며 \"사고 원인을 면밀히 규명하고 철저한 안전대책을 수립하겠다\"고 전했습니다.\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/MYH/20250411/MYH20250412000151099_P1.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "문형민",
          "comments": "https://www.yonhapnewstv.co.kr/news/MYH20250412000151099#comments",
          "content": "경기 광명시 신안산선 공사 현장 붕괴 사고와 관련해 해당 구간 시공을 맡은 포스코이앤씨가 공식 사과했습니다. 포스코이앤씨는 \"심려를 끼쳐 드린 점 진심으로 사과드린다\"며 \"불편과 불안을 겪고 계신 지역 주민 여러분들에게도 깊은 사과의 말씀을 남긴다고\"고 밝혔습니다. \"관계당국의 구조 및 조사 활동에 적극 협조하고 있다\"며 \"사고 원인을 면밀히 규명하고 철저한 안전대책을 수립하겠다\"고 전했습니다. 연합뉴스TV 기사문의 및 제보 : 카톡/라인...",
          "contentSnippet": "경기 광명시 신안산선 공사 현장 붕괴 사고와 관련해 해당 구간 시공을 맡은 포스코이앤씨가 공식 사과했습니다. 포스코이앤씨는 \"심려를 끼쳐 드린 점 진심으로 사과드린다\"며 \"불편과 불안을 겪고 계신 지역 주민 여러분들에게도 깊은 사과의 말씀을 남긴다고\"고 밝혔습니다. \"관계당국의 구조 및 조사 활동에 적극 협조하고 있다\"며 \"사고 원인을 면밀히 규명하고 철저한 안전대책을 수립하겠다\"고 전했습니다. 연합뉴스TV 기사문의 및 제보 : 카톡/라인...",
          "guid": "MYH20250412000151099",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T15:02:05.000Z"
        }
      },
      {
        "json": {
          "creator": "서승택",
          "title": "광명 신안산선 공사장 붕괴 사고…1명 고립·1명 실종",
          "link": "https://www.yonhapnewstv.co.kr/news/MYH20250412000043569",
          "pubDate": "Sat, 12 Apr 2025 00:01:01 +0900",
          "content:encoded": "[앵커]\n\n경기 광명시 신안산선 공사현장에서 붕괴 사고가 발생했습니다.\n\n지하터널과 상부 도로가 함께 무너져 내렸는데요.\n\n작업자 1명이 고립되고 1명이 실종돼 구조작업이 진행되고 있습니다.\n\n서승택 기자가 보도합니다.\n\n[기자]\n\n마치 지진이라도 난 듯 왕복 6차선 도로가 폭삭 내려 앉았고 도로 주변 시설물도 처참하게 무너져 내렸습니다.\n\n경기 광명시 신안산선 복선전철 공사현장에서 지하터널 붕괴사고가 발생한 건 오후 3시 13분쯤.\n\n굉음과 함께 상부 도로까지 폭삭 무너져 내렸습니다.\n\n사고 당시 현장에는 18명의 근로자가 있었는데, 2명이 매몰된 것으로 전해졌습니다.\n\n2명 중 1명은 연락이 닿아 구조 작업을 벌이고 있으며 목소리가 들릴 정도로 가까이 접근한 것으로 전해졌습니다.\n\n다만 다른 1명은 사고 발생 이후 실종 상태로 연락이 닿지 않고 있습니다.\n\n&lt;홍건표 / 광명소방서 예방과장&gt; \"광명소방서에서는 2명의 위치를 파악하는데 모든 소방력을 집중하고 있습니다.\"\n\n매몰된 2명은 지하터널의 상부인 도로 위 상판에서 안전진단 등의 작업을 하다가 사고를 당했습니다.\n\n공사 중이던 지하터널의 깊이는 30여m로 터널 바닥 아래로까지 땅 꺼짐은 발생하지 않은 것으로 추정됩니다.\n\n광명시는 사고 현장 인근 초등학교와 아파트, 상가 등에 대피 명령을 내려 주민 2천400여 명이 인근 학교와 체육관 등으로 대피했습니다.\n\n사고 현장 주변에는 초등학교와 아파트 등 다수 건물이 자리 잡고 있어 추가 피해가 우려도 커지고 있습니다.\n\n해당 공사장은 사고 13시간 전쯤 이미 붕괴 우려가 제기된 상태로 이후 붕괴 우려 구간에 대한 보강공사가 이뤄진 뒤 사고가 발생해 현장 보강 공사가 적절했는지도 조사가 필요해 보입니다.\n\n연합뉴스TV 서승택입니다.\n\n#신안산선 #붕괴현장 #구조작업\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n서승택(taxi226@yna.co.kr)",
          "content:encodedSnippet": "[앵커]\n\n경기 광명시 신안산선 공사현장에서 붕괴 사고가 발생했습니다.\n\n지하터널과 상부 도로가 함께 무너져 내렸는데요.\n\n작업자 1명이 고립되고 1명이 실종돼 구조작업이 진행되고 있습니다.\n\n서승택 기자가 보도합니다.\n\n[기자]\n\n마치 지진이라도 난 듯 왕복 6차선 도로가 폭삭 내려 앉았고 도로 주변 시설물도 처참하게 무너져 내렸습니다.\n\n경기 광명시 신안산선 복선전철 공사현장에서 지하터널 붕괴사고가 발생한 건 오후 3시 13분쯤.\n\n굉음과 함께 상부 도로까지 폭삭 무너져 내렸습니다.\n\n사고 당시 현장에는 18명의 근로자가 있었는데, 2명이 매몰된 것으로 전해졌습니다.\n\n2명 중 1명은 연락이 닿아 구조 작업을 벌이고 있으며 목소리가 들릴 정도로 가까이 접근한 것으로 전해졌습니다.\n\n다만 다른 1명은 사고 발생 이후 실종 상태로 연락이 닿지 않고 있습니다.\n\n<홍건표 / 광명소방서 예방과장> \"광명소방서에서는 2명의 위치를 파악하는데 모든 소방력을 집중하고 있습니다.\"\n\n매몰된 2명은 지하터널의 상부인 도로 위 상판에서 안전진단 등의 작업을 하다가 사고를 당했습니다.\n\n공사 중이던 지하터널의 깊이는 30여m로 터널 바닥 아래로까지 땅 꺼짐은 발생하지 않은 것으로 추정됩니다.\n\n광명시는 사고 현장 인근 초등학교와 아파트, 상가 등에 대피 명령을 내려 주민 2천400여 명이 인근 학교와 체육관 등으로 대피했습니다.\n\n사고 현장 주변에는 초등학교와 아파트 등 다수 건물이 자리 잡고 있어 추가 피해가 우려도 커지고 있습니다.\n\n해당 공사장은 사고 13시간 전쯤 이미 붕괴 우려가 제기된 상태로 이후 붕괴 우려 구간에 대한 보강공사가 이뤄진 뒤 사고가 발생해 현장 보강 공사가 적절했는지도 조사가 필요해 보입니다.\n\n연합뉴스TV 서승택입니다.\n\n#신안산선 #붕괴현장 #구조작업\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n서승택(taxi226@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/MYH/20250411/MYH20250412000043569_P1.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "서승택",
          "comments": "https://www.yonhapnewstv.co.kr/news/MYH20250412000043569#comments",
          "content": "[앵커] 경기 광명시 신안산선 공사현장에서 붕괴 사고가 발생했습니다. 지하터널과 상부 도로가 함께 무너져 내렸는데요. 작업자 1명이 고립되고 1명이 실종돼 구조작업이 진행되고 있습니다. 서승택 기자가 보도합니다. [기자] 마치 지진이라도 난 듯 왕복 6차선 도로가 폭삭 내려 앉았고 도로 주변 시설물도 처참하게 무너져 내렸습니다. 경기 광명시 신안산선 복선전철 공사현장에서 지하터널 붕괴사고가 발생한 건 오후 3시 13분쯤. 굉음과 함께 상부...",
          "contentSnippet": "[앵커] 경기 광명시 신안산선 공사현장에서 붕괴 사고가 발생했습니다. 지하터널과 상부 도로가 함께 무너져 내렸는데요. 작업자 1명이 고립되고 1명이 실종돼 구조작업이 진행되고 있습니다. 서승택 기자가 보도합니다. [기자] 마치 지진이라도 난 듯 왕복 6차선 도로가 폭삭 내려 앉았고 도로 주변 시설물도 처참하게 무너져 내렸습니다. 경기 광명시 신안산선 복선전철 공사현장에서 지하터널 붕괴사고가 발생한 건 오후 3시 13분쯤. 굉음과 함께 상부...",
          "guid": "MYH20250412000043569",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T15:01:01.000Z"
        }
      },
      {
        "json": {
          "creator": "김나영",
          "title": "제주4·3기록물, 유네스코 등재…'인류의 기억' 되다",
          "link": "https://www.yonhapnewstv.co.kr/news/MYH20250411235903293",
          "pubDate": "Fri, 11 Apr 2025 23:59:22 +0900",
          "content:encoded": "[앵커]\n\n제주4‧3 기록물이 유네스코 세계기록유산에 등재됐습니다.\n\n등재 신청서를 제출한 지 7년만인데요, 이제 제주4·3은 화해와 상생, 평화와 인권의 가치를 알리는 세계의 역사가 됐다는 평가입니다.\n\n김나영 기자입니다.\n\n[기자]\n\n프랑스 파리 유네스코 본부.\n\n우리시간으로 11일 새벽, 제주4‧3 기록물을 세계기록유산으로 등재를 확정했습니다.\n\n제주도와 제주4·3평화재단이 등재 신청서를 제출한 지 7년 만에 거둔 성과입니다.\n\n&lt;김창범/제주4‧3유족회장&gt; “제주4‧3 기록물을 저희 4‧3영령님들께 봉헌해드리고 싶습니다. 당시 삶과 죽음의 길에서 생존해오고, 모진 역경을 극복해내신 생존 희생자와 저희 유족분들에게 전달해드리고 싶고…”\n\n유네스코는 4‧3이라는 역사적 비극 속에서 제주 공동체가 걸어온 치유와 회복의 과정을 높이 평가했습니다.\n\n정당한 절차 없이 군사재판으로 징역형이나 사형을 선고받은 제주도민 2천500여 명의 이름이 포함된 군법회의 수형인 명부와 옥중엽서부터,\n\n2003년 공식 발표된 대한민국 정부의 진상조사 보고서, 피해자와 유족들의 신고를 모아 제주도가 집계한 4‧3 피해 신고서까지.\n\n총 1만4천673건의 기록이 등재 목록에 포함됐습니다.\n\n4·3의 비극을 세상에 알린 소설가 현기영의 '순이 삼촌' 또한 이번 기록유산에 이름을 올렸습니다.\n\n&lt;오영훈 / 제주도지사&gt; “제주에서 시작된 진실의 여정이 세계유산으로 다시 쓰였습니다. 침묵을 강요받았던 목소리가 인류의 기억으로 되살아난 역사적인 날입니다.”\n\n&lt;양성문 / 제주시 노형동&gt; “제주도민으로서 제주의 아픈 역사가 세계유산으로 등재됐다는 게 너무 감격스럽고, 감사합니다.”\n\n유네스코 집행이사회는 '제주4.3 기록물'과 함께 '산림녹화 기록물'도 세계기록유산으로 등재를 결정했습니다.\n\n산림녹화 기록물은 6.25 전쟁으로 황폐해진 국토를 민.관이 성공적으로 재건했던 9천600여건의 자료가 담겼습니다.\n\n연합뉴스TV 김나영입니다.\n\n[영상취재 서충원]\n\n#유네스코 #세계기록유산 #4·3기록물\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김나영(na0@yna.co.kr)",
          "content:encodedSnippet": "[앵커]\n\n제주4‧3 기록물이 유네스코 세계기록유산에 등재됐습니다.\n\n등재 신청서를 제출한 지 7년만인데요, 이제 제주4·3은 화해와 상생, 평화와 인권의 가치를 알리는 세계의 역사가 됐다는 평가입니다.\n\n김나영 기자입니다.\n\n[기자]\n\n프랑스 파리 유네스코 본부.\n\n우리시간으로 11일 새벽, 제주4‧3 기록물을 세계기록유산으로 등재를 확정했습니다.\n\n제주도와 제주4·3평화재단이 등재 신청서를 제출한 지 7년 만에 거둔 성과입니다.\n\n<김창범/제주4‧3유족회장> “제주4‧3 기록물을 저희 4‧3영령님들께 봉헌해드리고 싶습니다. 당시 삶과 죽음의 길에서 생존해오고, 모진 역경을 극복해내신 생존 희생자와 저희 유족분들에게 전달해드리고 싶고…”\n\n유네스코는 4‧3이라는 역사적 비극 속에서 제주 공동체가 걸어온 치유와 회복의 과정을 높이 평가했습니다.\n\n정당한 절차 없이 군사재판으로 징역형이나 사형을 선고받은 제주도민 2천500여 명의 이름이 포함된 군법회의 수형인 명부와 옥중엽서부터,\n\n2003년 공식 발표된 대한민국 정부의 진상조사 보고서, 피해자와 유족들의 신고를 모아 제주도가 집계한 4‧3 피해 신고서까지.\n\n총 1만4천673건의 기록이 등재 목록에 포함됐습니다.\n\n4·3의 비극을 세상에 알린 소설가 현기영의 '순이 삼촌' 또한 이번 기록유산에 이름을 올렸습니다.\n\n<오영훈 / 제주도지사> “제주에서 시작된 진실의 여정이 세계유산으로 다시 쓰였습니다. 침묵을 강요받았던 목소리가 인류의 기억으로 되살아난 역사적인 날입니다.”\n\n<양성문 / 제주시 노형동> “제주도민으로서 제주의 아픈 역사가 세계유산으로 등재됐다는 게 너무 감격스럽고, 감사합니다.”\n\n유네스코 집행이사회는 '제주4.3 기록물'과 함께 '산림녹화 기록물'도 세계기록유산으로 등재를 결정했습니다.\n\n산림녹화 기록물은 6.25 전쟁으로 황폐해진 국토를 민.관이 성공적으로 재건했던 9천600여건의 자료가 담겼습니다.\n\n연합뉴스TV 김나영입니다.\n\n[영상취재 서충원]\n\n#유네스코 #세계기록유산 #4·3기록물\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김나영(na0@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/MYH/20250411/MYH20250411235903293_P1.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "김나영",
          "comments": "https://www.yonhapnewstv.co.kr/news/MYH20250411235903293#comments",
          "content": "[앵커] 제주4‧3 기록물이 유네스코 세계기록유산에 등재됐습니다. 등재 신청서를 제출한 지 7년만인데요, 이제 제주4·3은 화해와 상생, 평화와 인권의 가치를 알리는 세계의 역사가 됐다는 평가입니다. 김나영 기자입니다. [기자] 프랑스 파리 유네스코 본부. 우리시간으로 11일 새벽, 제주4‧3 기록물을 세계기록유산으로 등재를 확정했습니다. 제주도와 제주4·3평화재단이 등재 신청서를 제출한 지 7년 만에 거둔 성과입니다. &lt;김창범/제주...",
          "contentSnippet": "[앵커] 제주4‧3 기록물이 유네스코 세계기록유산에 등재됐습니다. 등재 신청서를 제출한 지 7년만인데요, 이제 제주4·3은 화해와 상생, 평화와 인권의 가치를 알리는 세계의 역사가 됐다는 평가입니다. 김나영 기자입니다. [기자] 프랑스 파리 유네스코 본부. 우리시간으로 11일 새벽, 제주4‧3 기록물을 세계기록유산으로 등재를 확정했습니다. 제주도와 제주4·3평화재단이 등재 신청서를 제출한 지 7년 만에 거둔 성과입니다. <김창범/제주...",
          "guid": "MYH20250411235903293",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T14:59:22.000Z"
        }
      },
      {
        "json": {
          "creator": "문형민",
          "title": "유럽연합, 보복관세 미루고 내주 대미협상…무역수장 방미",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250411235635070",
          "pubDate": "Fri, 11 Apr 2025 23:56:36 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250411/AKR20250411235635070_01_i.jpg\" alt=\"\"><span class=\"yna_description\">[AFP 연합뉴스 자료사진. 재판매 및 DB 금지]</span></div>\n\n유럽연합(EU)이 내주 본격적인 대미 협상에 나섭니다다.\n\n현지시간 11일 EU에 따르면 마로시 셰프초비치 EU 무역·경제안보담당 집행위원은 오는 14일 미국 워싱턴에서 미국 측 카운터파트와 회동합니다.\n\n이번 회동은 도널드 트럼프 미 대통령의 90일간 국가별 상호관세 유예 결정에 따라 집행위도 보복조치 시행을 보류하기로 결정한 지 나흘 만입니다.\n\n집행위는 애초 오는 15일부터 미국 철강·알루미늄 관세에 대응하기 위해 미국산 상품에 최고 25％ 추가 관세를 단계적으로 부과할 예정이었으나 전날 이를 90일간 보류하기로 했습니다.\n\n셰프초비치 집행위원의 방미는 이번이 세 번째이긴 하나, 앞선 두 차례 방미 때는 미국 측이 상호관세 발표(4월 2일) 전에는 협상할 수 없다고 해 빈손으로 돌아와야 했습니다.\n\n집행위는 이미 제안한 자동차와 모든 공산품에 대한 '상호 무관세' 합의를 끌어내는 데 주력할 전망입니다.\n\n올로프 질 집행위 무역담당 집행위는 이날 정례브리핑에서 \"미국과 상호 관세를 0％로 줄이겠다는 제안은 여전히 유효하다\"고 말했습니다.\n\n이어 \"대서양은 물론 세계 경제에 타격을 줄 수 있는 관세전쟁을 피하고 서로에게 이익이 되는 '윈윈' 결과를 도출하는 것이 목표\"라고 강조했습니다.\n\n트럼프 대통령은 현재까지는 EU의 무관세 제안에 거부 의사를 밝히고 대신 에너지 수입 확대를 요구한 상태로, 이 문제 역시 협상 과정에서 거론이 될 것으로 관측됩니다.\n\n집행위는 협상 불발에 대한 대비책도 준비 중이라고 거듭 경고했습니다.\n\n우르줄라 폰데어라이엔 EU 집행위원장은 전날 공개된 파이낸셜타임스(FT)와 인터뷰에서 \"보복 조처를 마련하는 중\"이라며 \"협상이 만족스럽지 않을 경우에 대비해 광범위한 대응조치가 있다\"고 밝혔습니다.\n\n특히 미국 상호관세에 대한 보복책의 하나로 미국이 EU를 상대로 무역 흑자를 기록 중인 서비스 부문을 겨냥할 수 있다고 직접 언급했습니다.\n\n유럽 내 서비스의 80％는 미국 기업이 제공하고 있습니다.\n\n트럼프 대통령은 대(對)EU 무역적자를 주장하면서 '상품 무역수지' 통계만 근거로 들고 있지만 서비스 부문 무역수지까지 합하면 양측간 무역수지가 균형적이라고 EU는 반박해왔습니다.\n\n폰데어라이엔 집행위원장은 제정 이래 한 번도 발동하지 않은 EU 통상위협대응조치(ACI·Anti-Coercion Instrument)도 옵션 중 하나라고 언급했습니다.\n\n구체적으로 ACI 발동을 통해 \"디지털 서비스의 광고 매출에 대해 과세할 수 있다\"고 예를 들었습니다.\n\nACI는 EU와 그 회원국에 대해 제3국이 통상 위협을 가한다고 판단되면 서비스, 외국인 직접 투자, 금융시장, 공공조달, 지식재산권의 무역 관련 측면 등에 제한을 가할 수 있는 조치입니다.\n\n협상 난관은 적지 않다.\n\n미국은 EU의 부가가치세(VAT)와 식품 규제, 디지털 규제 등 비관세 장벽 제거를 조건으로 제시할 가능성이 있습니다.\n\n그러나 EU는 여러 차례 부가세 체계를 손댈 생각이 없다고 일축했습니다.\n\n식품 규제 및 디지털 규제인 디지털시장법(DMA), 디지털서비스법(DSA) 등도 협상 대상이 아니라는 입장입니다.\n\n#유럽연합 #미국 #관세\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "content:encodedSnippet": "[AFP 연합뉴스 자료사진. 재판매 및 DB 금지]\n\n유럽연합(EU)이 내주 본격적인 대미 협상에 나섭니다다.\n\n현지시간 11일 EU에 따르면 마로시 셰프초비치 EU 무역·경제안보담당 집행위원은 오는 14일 미국 워싱턴에서 미국 측 카운터파트와 회동합니다.\n\n이번 회동은 도널드 트럼프 미 대통령의 90일간 국가별 상호관세 유예 결정에 따라 집행위도 보복조치 시행을 보류하기로 결정한 지 나흘 만입니다.\n\n집행위는 애초 오는 15일부터 미국 철강·알루미늄 관세에 대응하기 위해 미국산 상품에 최고 25％ 추가 관세를 단계적으로 부과할 예정이었으나 전날 이를 90일간 보류하기로 했습니다.\n\n셰프초비치 집행위원의 방미는 이번이 세 번째이긴 하나, 앞선 두 차례 방미 때는 미국 측이 상호관세 발표(4월 2일) 전에는 협상할 수 없다고 해 빈손으로 돌아와야 했습니다.\n\n집행위는 이미 제안한 자동차와 모든 공산품에 대한 '상호 무관세' 합의를 끌어내는 데 주력할 전망입니다.\n\n올로프 질 집행위 무역담당 집행위는 이날 정례브리핑에서 \"미국과 상호 관세를 0％로 줄이겠다는 제안은 여전히 유효하다\"고 말했습니다.\n\n이어 \"대서양은 물론 세계 경제에 타격을 줄 수 있는 관세전쟁을 피하고 서로에게 이익이 되는 '윈윈' 결과를 도출하는 것이 목표\"라고 강조했습니다.\n\n트럼프 대통령은 현재까지는 EU의 무관세 제안에 거부 의사를 밝히고 대신 에너지 수입 확대를 요구한 상태로, 이 문제 역시 협상 과정에서 거론이 될 것으로 관측됩니다.\n\n집행위는 협상 불발에 대한 대비책도 준비 중이라고 거듭 경고했습니다.\n\n우르줄라 폰데어라이엔 EU 집행위원장은 전날 공개된 파이낸셜타임스(FT)와 인터뷰에서 \"보복 조처를 마련하는 중\"이라며 \"협상이 만족스럽지 않을 경우에 대비해 광범위한 대응조치가 있다\"고 밝혔습니다.\n\n특히 미국 상호관세에 대한 보복책의 하나로 미국이 EU를 상대로 무역 흑자를 기록 중인 서비스 부문을 겨냥할 수 있다고 직접 언급했습니다.\n\n유럽 내 서비스의 80％는 미국 기업이 제공하고 있습니다.\n\n트럼프 대통령은 대(對)EU 무역적자를 주장하면서 '상품 무역수지' 통계만 근거로 들고 있지만 서비스 부문 무역수지까지 합하면 양측간 무역수지가 균형적이라고 EU는 반박해왔습니다.\n\n폰데어라이엔 집행위원장은 제정 이래 한 번도 발동하지 않은 EU 통상위협대응조치(ACI·Anti-Coercion Instrument)도 옵션 중 하나라고 언급했습니다.\n\n구체적으로 ACI 발동을 통해 \"디지털 서비스의 광고 매출에 대해 과세할 수 있다\"고 예를 들었습니다.\n\nACI는 EU와 그 회원국에 대해 제3국이 통상 위협을 가한다고 판단되면 서비스, 외국인 직접 투자, 금융시장, 공공조달, 지식재산권의 무역 관련 측면 등에 제한을 가할 수 있는 조치입니다.\n\n협상 난관은 적지 않다.\n\n미국은 EU의 부가가치세(VAT)와 식품 규제, 디지털 규제 등 비관세 장벽 제거를 조건으로 제시할 가능성이 있습니다.\n\n그러나 EU는 여러 차례 부가세 체계를 손댈 생각이 없다고 일축했습니다.\n\n식품 규제 및 디지털 규제인 디지털시장법(DMA), 디지털서비스법(DSA) 등도 협상 대상이 아니라는 입장입니다.\n\n#유럽연합 #미국 #관세\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250411/AKR20250411235635070_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "문형민",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250411235635070#comments",
          "content": "[AFP 연합뉴스 자료사진. 재판매 및 DB 금지] 유럽연합(EU)이 내주 본격적인 대미 협상에 나섭니다다. 현지시간 11일 EU에 따르면 마로시 셰프초비치 EU 무역·경제안보담당 집행위원은 오는 14일 미국 워싱턴에서 미국 측 카운터파트와 회동합니다. 이번 회동은 도널드 트럼프 미 대통령의 90일간 국가별 상호관세 유예 결정에 따라 집행위도 보복조치 시행을 보류하기로 결정한 지 나흘 만입니다. 집행위는 애초 오는 15일부터 미국 철강·알...",
          "contentSnippet": "[AFP 연합뉴스 자료사진. 재판매 및 DB 금지] 유럽연합(EU)이 내주 본격적인 대미 협상에 나섭니다다. 현지시간 11일 EU에 따르면 마로시 셰프초비치 EU 무역·경제안보담당 집행위원은 오는 14일 미국 워싱턴에서 미국 측 카운터파트와 회동합니다. 이번 회동은 도널드 트럼프 미 대통령의 90일간 국가별 상호관세 유예 결정에 따라 집행위도 보복조치 시행을 보류하기로 결정한 지 나흘 만입니다. 집행위는 애초 오는 15일부터 미국 철강·알...",
          "guid": "AKR20250411235635070",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T14:56:36.000Z"
        }
      },
      {
        "json": {
          "creator": "문형민",
          "title": "'불법대출 의혹' 신한은행 직원 구속…특경법상 수재 혐의",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250411234423481",
          "pubDate": "Fri, 11 Apr 2025 23:44:23 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250411/AKR20250411234423481_01_i.jpg\" alt=\"\"><span class=\"yna_description\">[신한은행 제공]</span></div>\n\n부당대출을 해주는 대가로 금품을 수수한 혐의를 받는 신한은행 직원이 검찰에 구속됐습니다.\n\n서울중앙지법 정재욱 영장전담 부장판사는 오늘(11일) 특정경제범죄 가중처벌법 위반(수재) 등 혐의로 신한은행 직원 진모 씨의 구속 전 피의자 심문(영장실질심사)을 연 뒤 검찰이 청구한 구속영장을 발부했습니다.\n\n정 부장판사는 진씨가 증거를 인멸하고 도망할 염려가 있다고 판단했습니다.\n\n앞서 서울중앙지검 반부패수사3부(이승학 부장검사)는 진씨가 위조 사문서 등을 이용해 은행원 출신 사업가의 대출을 도운 의혹과 관련해 지난달 25일 신한은행 여의도지점을 압수수색했습니다.\n\n#신한은행 #부당대출 #구속\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "content:encodedSnippet": "[신한은행 제공]\n\n부당대출을 해주는 대가로 금품을 수수한 혐의를 받는 신한은행 직원이 검찰에 구속됐습니다.\n\n서울중앙지법 정재욱 영장전담 부장판사는 오늘(11일) 특정경제범죄 가중처벌법 위반(수재) 등 혐의로 신한은행 직원 진모 씨의 구속 전 피의자 심문(영장실질심사)을 연 뒤 검찰이 청구한 구속영장을 발부했습니다.\n\n정 부장판사는 진씨가 증거를 인멸하고 도망할 염려가 있다고 판단했습니다.\n\n앞서 서울중앙지검 반부패수사3부(이승학 부장검사)는 진씨가 위조 사문서 등을 이용해 은행원 출신 사업가의 대출을 도운 의혹과 관련해 지난달 25일 신한은행 여의도지점을 압수수색했습니다.\n\n#신한은행 #부당대출 #구속\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n문형민(moonbro@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250411/AKR20250411234423481_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "문형민",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250411234423481#comments",
          "content": "[신한은행 제공] 부당대출을 해주는 대가로 금품을 수수한 혐의를 받는 신한은행 직원이 검찰에 구속됐습니다. 서울중앙지법 정재욱 영장전담 부장판사는 오늘(11일) 특정경제범죄 가중처벌법 위반(수재) 등 혐의로 신한은행 직원 진모 씨의 구속 전 피의자 심문(영장실질심사)을 연 뒤 검찰이 청구한 구속영장을 발부했습니다. 정 부장판사는 진씨가 증거를 인멸하고 도망할 염려가 있다고 판단했습니다. 앞서 서울중앙지검 반부패수사3부(이승학 부장검사)는 ...",
          "contentSnippet": "[신한은행 제공] 부당대출을 해주는 대가로 금품을 수수한 혐의를 받는 신한은행 직원이 검찰에 구속됐습니다. 서울중앙지법 정재욱 영장전담 부장판사는 오늘(11일) 특정경제범죄 가중처벌법 위반(수재) 등 혐의로 신한은행 직원 진모 씨의 구속 전 피의자 심문(영장실질심사)을 연 뒤 검찰이 청구한 구속영장을 발부했습니다. 정 부장판사는 진씨가 증거를 인멸하고 도망할 염려가 있다고 판단했습니다. 앞서 서울중앙지검 반부패수사3부(이승학 부장검사)는 ...",
          "guid": "AKR20250411234423481",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-04-11T14:44:23.000Z"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "트럼프 대통령, 러시아-우크라이나 전쟁 관련 \"러시아는 움직여야 한다\"고 압박.\n러시아와 우크라이나는 휴전 합의 위반을 서로 비난하며 흑해 휴전 관련 진전X.\n러시아는 농업은행 제재 해제 및 SWIFT 재연결을 휴전 조건으로 주장.\nEU는 러시아군의 조건 없는 철수를 대러시아 제재 해제 조건으로 요구."
        }
      },
      {
        "json": {
          "output": "젤렌스키 대통령은 러시아 점령군 편에서 싸우는 중국인이 최소 수백 명이라는 정보를 갖고 있다고 주장하며, 동맹국들에 러시아 압박 강화를 촉구했습니다. 우크라이나는 러시아군으로 싸우던 중국인 생포 사례를 공개하며 중국 국적자 최소 155명의 인적 정보를 확보했다고 밝혔습니다. 러시아와 중국은 우크라이나의 의혹을 부인하고 있습니다."
        }
      },
      {
        "json": {
          "output": "유럽 각국, 우크라이나에 210억 유로 규모 추가 군사지원 약속\n영국, 노르웨이와 5억 8천만 달러 상당 추가 지원 결정\n독일, 이리스-T 방공시스템 4기 추가 지원"
        }
      },
      {
        "json": {
          "output": "4월 미국 소비자심리지수 50.8로 급락, 3월 대비 10.9% 하락.\n향후 1년 기대 인플레이션 6.7%로 3월 대비 1.7%포인트 상승, 1981년 이후 44년 만에 최고치.\n트럼프 행정부 관세 정책 여파로 소비자 심리 악화, 경기 침체 우려 증가."
        }
      },
      {
        "json": {
          "output": "존 윌리엄스 뉴욕 연은 총재, 올해 미국 GDP 성장률 1% 약간 밑돌 것으로 전망\n실업률은 내년 4.5~5.0%로 상승 예상\n트럼프 관세로 올해 물가 상승률 3.5~4.0% 예상\n"
        }
      },
      {
        "json": {
          "output": "감사원은 3년 전 신안산선 지하터널 공사 구간 중 일부 지반 상태가 '매우 불량'한데도 터널 설계에 필요한 콘크리트 시설물이 설치되지 않았다고 지적했다.\n"
        }
      },
      {
        "json": {
          "output": "포스코이앤씨, 신안산선 공사 현장 붕괴 사고 관련 공식 사과. 사고 원인 규명 및 안전대책 수립 약속."
        }
      },
      {
        "json": {
          "output": "경기 광명시 신안산선 공사현장에서 지하터널 붕괴 사고 발생. 작업자 2명 매몰, 1명 구조 작업 중, 1명 실종. 사고 현장 인근 주민 2천400여 명 대피. 붕괴 우려 제기 후 보강공사 진행됐으나 사고 발생, 보강 공사 적절성 조사 필요."
        }
      },
      {
        "json": {
          "output": "제주4‧3 기록물이 유네스코 세계기록유산에 등재됨.\n유네스코는 4‧3의 역사적 비극 속에서 제주 공동체의 치유와 회복 과정을 높이 평가함.\n"
        }
      },
      {
        "json": {
          "output": "EU, 다음 주 미국과 무역 협상 예정\n미국 철강·알루미늄 관세에 대한 EU 보복 조치 90일간 보류\nEU, 자동차와 모든 공산품에 대한 '상호 무관세' 합의 추진\n트럼프, EU의 무관세 제안 거부, 에너지 수입 확대 요구\nEU, 협상 불발 대비, 서비스 부문 겨냥한 보복책 준비 중\nEU, 통상위협대응조치(ACI) 발동 가능성 언급"
        }
      },
      {
        "json": {
          "output": "신한은행 직원이 부당대출 대가로 금품을 수수하여 구속됨."
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "output": [
            "트럼프 대통령, 러시아-우크라이나 전쟁 관련 \"러시아는 움직여야 한다\"고 압박.\n러시아와 우크라이나는 휴전 합의 위반을 서로 비난하며 흑해 휴전 관련 진전X.\n러시아는 농업은행 제재 해제 및 SWIFT 재연결을 휴전 조건으로 주장.\nEU는 러시아군의 조건 없는 철수를 대러시아 제재 해제 조건으로 요구.",
            "젤렌스키 대통령은 러시아 점령군 편에서 싸우는 중국인이 최소 수백 명이라는 정보를 갖고 있다고 주장하며, 동맹국들에 러시아 압박 강화를 촉구했습니다. 우크라이나는 러시아군으로 싸우던 중국인 생포 사례를 공개하며 중국 국적자 최소 155명의 인적 정보를 확보했다고 밝혔습니다. 러시아와 중국은 우크라이나의 의혹을 부인하고 있습니다.",
            "유럽 각국, 우크라이나에 210억 유로 규모 추가 군사지원 약속\n영국, 노르웨이와 5억 8천만 달러 상당 추가 지원 결정\n독일, 이리스-T 방공시스템 4기 추가 지원",
            "4월 미국 소비자심리지수 50.8로 급락, 3월 대비 10.9% 하락.\n향후 1년 기대 인플레이션 6.7%로 3월 대비 1.7%포인트 상승, 1981년 이후 44년 만에 최고치.\n트럼프 행정부 관세 정책 여파로 소비자 심리 악화, 경기 침체 우려 증가.",
            "존 윌리엄스 뉴욕 연은 총재, 올해 미국 GDP 성장률 1% 약간 밑돌 것으로 전망\n실업률은 내년 4.5~5.0%로 상승 예상\n트럼프 관세로 올해 물가 상승률 3.5~4.0% 예상\n",
            "감사원은 3년 전 신안산선 지하터널 공사 구간 중 일부 지반 상태가 '매우 불량'한데도 터널 설계에 필요한 콘크리트 시설물이 설치되지 않았다고 지적했다.\n",
            "포스코이앤씨, 신안산선 공사 현장 붕괴 사고 관련 공식 사과. 사고 원인 규명 및 안전대책 수립 약속.",
            "경기 광명시 신안산선 공사현장에서 지하터널 붕괴 사고 발생. 작업자 2명 매몰, 1명 구조 작업 중, 1명 실종. 사고 현장 인근 주민 2천400여 명 대피. 붕괴 우려 제기 후 보강공사 진행됐으나 사고 발생, 보강 공사 적절성 조사 필요.",
            "제주4‧3 기록물이 유네스코 세계기록유산에 등재됨.\n유네스코는 4‧3의 역사적 비극 속에서 제주 공동체의 치유와 회복 과정을 높이 평가함.\n",
            "EU, 다음 주 미국과 무역 협상 예정\n미국 철강·알루미늄 관세에 대한 EU 보복 조치 90일간 보류\nEU, 자동차와 모든 공산품에 대한 '상호 무관세' 합의 추진\n트럼프, EU의 무관세 제안 거부, 에너지 수입 확대 요구\nEU, 협상 불발 대비, 서비스 부문 겨냥한 보복책 준비 중\nEU, 통상위협대응조치(ACI) 발동 가능성 언급",
            "신한은행 직원이 부당대출 대가로 금품을 수수하여 구속됨."
          ]
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1a4f2903-443e-465d-9e19-d8143136446b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "MctOv0oGWGb0IDtS",
  "tags": []
}