n8n/009_news_feed.json
{
  "name": "009-news-feed",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "3db0c92b-e228-4046-8457-1df0f1ac1f64",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "http://www.yonhapnewstv.co.kr/browse/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        180,
        0
      ],
      "id": "9dec4216-3ece-4089-92a2-f82b25c60f1f",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['content:encodedSnippet'] }}\n\n뉴스 내용을 아주 간단하게 요약해줘.\n내용이 없는 것은 출력하지 말고 생략 할것.\n\n- 요약된 내용만 출력할 것.\n- 부연설명, 메타 정보 등 뉴스 외의 내요은 절대 출력 금지.\n- 출력할 내용이 없으면 공백 출력",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        400,
        0
      ],
      "id": "241d2078-971a-4a28-95b5-4d412649af27",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        180
      ],
      "id": "287f70c7-959e-4d6b-9540-8b0d36e374f4",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "7H4MhgDppHYVEhdU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "8bdafac8-f737-4b4b-abad-8e7e7fc26d0c",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}\n\n전체 내용을 최대한 간력하게 요약하세요.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        940,
        0
      ],
      "id": "05faf673-ec99-4681-b0dc-1ddeae88fa38",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        940,
        180
      ],
      "id": "f896478f-3e53-4a84-b199-0d7c074643b4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "112935115",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        0
      ],
      "id": "432d145b-a235-4bb8-95a7-ca541056e2b0",
      "name": "Telegram",
      "webhookId": "8c71563a-7ce9-4a29-aa34-ad32c1eff4c0",
      "credentials": {
        "telegramApi": {
          "id": "IJlOT41IOUax354T",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        180
      ],
      "id": "1110c342-f606-4e23-9b8a-31a3352b33ee",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {
    "RSS Read": [
      {
        "json": {
          "creator": "박지운",
          "title": "관리사무소 직원 '전원 사직'에 아파트 발칵…\"얼마나 괴롭혔으면\"",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707160508658",
          "pubDate": "Mon, 07 Jul 2025 16:05:10 +0900",
          "content:encoded": "<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707160508658_01_i.jpg\" alt=\"\"><span class=\"yna_title\"></span><span class=\"yna_caption\">[온라인 커뮤니티 캡처]</span><span class=\"yna_description\">[온라인 커뮤니티 캡처]</span></div>\n울산의 한 아파트 단지에서 관리사무소 직원 전원이 사직하는 일이 벌어져 온라인에서 화제가 되고 있습니다.\n\n최근 온라인 커뮤니티에는 '관리실 직원 전원 사직' 이라는 안내문 사진이 퍼져나갔습니다.\n\n안내문에는 \"일부 동대표들의 다음과 같은 반복적이고 구조적인 문제로 더 이상 정상적인 직무 수행이 어렵다고 판단해 부득이하게 관리실 직원 전원이 사직을 하게 됐다\"는 내용이 적혀 있었습니다.\n\n이어 ▲부당한 책임 전가 및 언어폭력 ▲모욕적인 발언과 위협성 과시 ▲비상식적인 업무지시 ▲직원채용에 대한 부당 간섭, ▲입주민 민원 무시 및 책임 회피 ▲관리사무소 직원 명예훼손 및 신뢰 훼손 의심 발언 ▲근로계약 및 예산을 무시한 일방적 결정 ▲과도한 업무지시 및 반복적 보고 요구 ▲휴가 일정의 사적 자율성 침해' 등의 문제점이 나열됐습니다.\n\n해당 아파트단지 관리사무소 관계자는 오늘(6일) 연합뉴스TV에 \"직원 9명 전원이 이번 달까지만 근무하겠다고 사직서를 제출한 상태\"라고 밝혔습니다.\n\n그러면서 \"지난주 구청에 민원을 넣은 뒤 조사를 기다리고 있는 상황\"이라고 설명했습니다.\n\n사진이 퍼지며 누리꾼들 사이에선 \"얼마나 괴롭혔으면 그랬겠느냐\"는 반응이 이어졌습니다.\n\n다만 \"양쪽 말을 다 들어봐야 한다\"는 반응과 \"관리실 직원은 '을 중의 을'인데, 이걸 양쪽 말을 다 들어볼 필요가 있느냐\"는 반응이 대립하기도 했습니다.\n\n#아파트 #관리실 #전원사직\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n박지운(zwoonie@yna.co.kr)",
          "content:encodedSnippet": "[온라인 커뮤니티 캡처][온라인 커뮤니티 캡처]\n울산의 한 아파트 단지에서 관리사무소 직원 전원이 사직하는 일이 벌어져 온라인에서 화제가 되고 있습니다.\n\n최근 온라인 커뮤니티에는 '관리실 직원 전원 사직' 이라는 안내문 사진이 퍼져나갔습니다.\n\n안내문에는 \"일부 동대표들의 다음과 같은 반복적이고 구조적인 문제로 더 이상 정상적인 직무 수행이 어렵다고 판단해 부득이하게 관리실 직원 전원이 사직을 하게 됐다\"는 내용이 적혀 있었습니다.\n\n이어 ▲부당한 책임 전가 및 언어폭력 ▲모욕적인 발언과 위협성 과시 ▲비상식적인 업무지시 ▲직원채용에 대한 부당 간섭, ▲입주민 민원 무시 및 책임 회피 ▲관리사무소 직원 명예훼손 및 신뢰 훼손 의심 발언 ▲근로계약 및 예산을 무시한 일방적 결정 ▲과도한 업무지시 및 반복적 보고 요구 ▲휴가 일정의 사적 자율성 침해' 등의 문제점이 나열됐습니다.\n\n해당 아파트단지 관리사무소 관계자는 오늘(6일) 연합뉴스TV에 \"직원 9명 전원이 이번 달까지만 근무하겠다고 사직서를 제출한 상태\"라고 밝혔습니다.\n\n그러면서 \"지난주 구청에 민원을 넣은 뒤 조사를 기다리고 있는 상황\"이라고 설명했습니다.\n\n사진이 퍼지며 누리꾼들 사이에선 \"얼마나 괴롭혔으면 그랬겠느냐\"는 반응이 이어졌습니다.\n\n다만 \"양쪽 말을 다 들어봐야 한다\"는 반응과 \"관리실 직원은 '을 중의 을'인데, 이걸 양쪽 말을 다 들어볼 필요가 있느냐\"는 반응이 대립하기도 했습니다.\n\n#아파트 #관리실 #전원사직\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n박지운(zwoonie@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707160508658_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "박지운",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707160508658#comments",
          "content": "[온라인 커뮤니티 캡처][온라인 커뮤니티 캡처] 울산의 한 아파트 단지에서 관리사무소 직원 전원이 사직하는 일이 벌어져 온라인에서 화제가 되고 있습니다. 최근 온라인 커뮤니티에는 '관리실 직원 전원 사직' 이라는 안내문 사진이 퍼져나갔습니다. 안내문에는 \"일부 동대표들의 다음과 같은 반복적이고 구조적인 문제로 더 이상 정상적인 직무 수행이 어렵다고 판단해 부득이하게 관리실 직원 전원이 사직을 하게 됐다\"는 내용이 적혀 있었습니다. 이어 ▲...",
          "contentSnippet": "[온라인 커뮤니티 캡처][온라인 커뮤니티 캡처] 울산의 한 아파트 단지에서 관리사무소 직원 전원이 사직하는 일이 벌어져 온라인에서 화제가 되고 있습니다. 최근 온라인 커뮤니티에는 '관리실 직원 전원 사직' 이라는 안내문 사진이 퍼져나갔습니다. 안내문에는 \"일부 동대표들의 다음과 같은 반복적이고 구조적인 문제로 더 이상 정상적인 직무 수행이 어렵다고 판단해 부득이하게 관리실 직원 전원이 사직을 하게 됐다\"는 내용이 적혀 있었습니다. 이어 ▲...",
          "guid": "AKR20250707160508658",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T07:05:10.000Z"
        }
      },
      {
        "json": {
          "creator": "김민서",
          "title": "칭화대 학사·옥스퍼드 석사도 취업 줄낙방…생계 위해 '배달 라이더'로",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707160016177",
          "pubDate": "Mon, 07 Jul 2025 16:00:18 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707160016177_02_i.jpg\" alt=\"\"><span class=\"yna_title\">딩 위안자오씨</span><span class=\"yna_caption\">[사진 출처 = SCMP]</span><span class=\"yna_description\">[사진 출처 = SCMP]</span></div>\n여러 명문대학 학위를 보유한 청년이 배달 라이더로 일할 정도로 중국 내 청년 실업 문제가 심각한 것으로 드러났습니다.\n\n현지시간 7일 홍콩 사우스차이나모닝포스트(SCMP)에 따르면, 사연의 주인공인 39세 딩 위안자오씨는 중국 칭화대 화학 학사, 베이징대 에너지공학 석사, 싱가포르 난양기술대학교 생물학 박사, 그리고 영국 옥스퍼드대학교 생물다양성 석사를 취득했습니다.\n\n무려 4개의 세계적 명문대 학위를 지닌 그는 누구보다 화려한 학력을 가지고 있었지만 현실은 녹록지 않았습니다.\n\n딩씨는 졸업 후 싱가포르 국립대학에서 연구원으로 근무했지만,  지난해 3월 계약이 종료된 이후 좀처럼 일자리를 구하지 못했습니다.\n\n그는 수십 통의 이력서를 보냈고 10번 넘는 면접에 응했지만, 번번이 고배를 들어야 했습니다.\n\n결국 딩씨는 생계를 위해 배달 일을 택했습니다.\n\n딩씨는 현재 싱가포르에서 하루 10시간씩 일하며, 주당 약 700싱가포르달러(한화 약 75만 원)를 벌고 있다고 전했습니다.\n\n그는 소셜미디어를 통해 “안정적인 직업이고, 이 수입으로 가족을 부양할 수 있다. 열심히 일하면 괜찮은 생활을 할 수 있다. 나쁜 직업이 아니다”라고 밝혔습니다.\n\n그러나 딩씨의 발언에도 불구하고 현지 누리꾼들은  “대학 학위가 무의미해진 세상에서 대학 교육이 왜 필요한지 모르겠다”는 의문을 제기했습니다.\n\n반면, “그의 선택은 문제가 없다. 인생의 어려운 시기에 포기하지 않은 점은 오히려 칭찬받아 마땅하다”며 딩씨를 응원하는 의견도 있었습니다.\n\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707160016177_01_i.jpg\" alt=\"\"><span class=\"yna_title\">베이징외국어대학 학생들</span><span class=\"yna_caption\">[AFP 연합뉴스 자료사진]</span><span class=\"yna_description\">[AFP 연합뉴스 자료사진]</span></div>\n중국 당국이 지난 4월 발표한 자료에 따르면 중국 청년 실업률은 15.8%에 달하며 심각한 수준을 보이고 있습니다.\n\n이는 중국 내 경기 침체가 장기화되고, 미중 무역 갈등까지 겹치면서 고용 시장이 더욱 얼어붙은 결과로 풀이됩니다.\n\n이로 인해 중국 취업 시장에서는 명문대학 학위를 보유한 이들이 전공과 무관한 단순 업무 직종에 종사하며 생계를 유지하는, 이른바 ‘오버 스펙 현상’이 흔해지고 있습니다.\n\n실제로 지난 3월, 중국 훠궈 체인점 ‘하이디라오’가 고학력자를 대상으로 한 배달원 모집 공고를 내고, 학력에 따라 임금을 차등 지급하겠다는 방침을 밝혀 논란이 되기도 했습니다.\n\n#중국 #취업 #취업난 #고용시장\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김민서(ms3288@yna.co.kr)",
          "content:encodedSnippet": "딩 위안자오씨[사진 출처 = SCMP][사진 출처 = SCMP]\n베이징외국어대학 학생들[AFP 연합뉴스 자료사진][AFP 연합뉴스 자료사진]\n중국 당국이 지난 4월 발표한 자료에 따르면 중국 청년 실업률은 15.8%에 달하며 심각한 수준을 보이고 있습니다.\n\n이는 중국 내 경기 침체가 장기화되고, 미중 무역 갈등까지 겹치면서 고용 시장이 더욱 얼어붙은 결과로 풀이됩니다.\n\n이로 인해 중국 취업 시장에서는 명문대학 학위를 보유한 이들이 전공과 무관한 단순 업무 직종에 종사하며 생계를 유지하는, 이른바 ‘오버 스펙 현상’이 흔해지고 있습니다.\n\n실제로 지난 3월, 중국 훠궈 체인점 ‘하이디라오’가 고학력자를 대상으로 한 배달원 모집 공고를 내고, 학력에 따라 임금을 차등 지급하겠다는 방침을 밝혀 논란이 되기도 했습니다.\n\n#중국 #취업 #취업난 #고용시장\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김민서(ms3288@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707160016177_02_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "김민서",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707160016177#comments",
          "content": "딩 위안자오씨[사진 출처 = SCMP][사진 출처 = SCMP] 여러 명문대학 학위를 보유한 청년이 배달 라이더로 일할 정도로 중국 내 청년 실업 문제가 심각한 것으로 드러났습니다. 현지시간 7일 홍콩 사우스차이나모닝포스트(SCMP)에 따르면, 사연의 주인공인 39세 딩 위안자오씨는 중국 칭화대 화학 학사, 베이징대 에너지공학 석사, 싱가포르 난양기술대학교 생물학 박사, 그리고 영국 옥스퍼드대학교 생물다양성 석사를 취득했습니다. 무려 4개...",
          "contentSnippet": "딩 위안자오씨[사진 출처 = SCMP][사진 출처 = SCMP] 여러 명문대학 학위를 보유한 청년이 배달 라이더로 일할 정도로 중국 내 청년 실업 문제가 심각한 것으로 드러났습니다. 현지시간 7일 홍콩 사우스차이나모닝포스트(SCMP)에 따르면, 사연의 주인공인 39세 딩 위안자오씨는 중국 칭화대 화학 학사, 베이징대 에너지공학 석사, 싱가포르 난양기술대학교 생물학 박사, 그리고 영국 옥스퍼드대학교 생물다양성 석사를 취득했습니다. 무려 4개...",
          "guid": "AKR20250707160016177",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T07:00:18.000Z"
        }
      },
      {
        "json": {
          "creator": "김수빈",
          "title": "코스피 강보합 마감…'관세 경계감'에 환율 상승",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707155904074",
          "pubDate": "Mon, 07 Jul 2025 15:59:06 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707155904074_01_i.jpg\" alt=\"\"><span class=\"yna_title\"></span><span class=\"yna_caption\">[연합뉴스 제공]</span><span class=\"yna_description\">[연합뉴스 제공]</span></div>\n코스피가 미국의 상호관세 유예 시한을 앞두고 강보합 마감했습니다.\n\n코스피는 오늘(7일) 전장보다 0.17% 오른 3,059.47에 거래를 마쳤습니다.\n\n개인이 크게 순매수한 반면, 외국인과 기관이 동반 매도하며 상승폭을 제한했습니다.\n\n시가총액 상위 종목 가운데 삼성전자는 내일 실적 발표를 앞두고 2.5% 넘게 하락하며 6만1천원선까지 밀렸습니다.\n\n코스닥지수는 0.34% 상승한 778.46에 마감했습니다.\n\n오늘 시장은 도널드 트럼프 미국 대통령의 관세 서한에 대한 불확실성으로 숨고르기 양상을 보였습니다.\n\n같은 영향으로 외환시장에서도 달러 강세 흐름이 이어졌습니다.\n\n원·달러 환율은 전 거래일보다 5.5원 오른 1,367.8원에 주간거래를 마쳤습니다.\n\n#코스피 #코스닥 #환율 #마감 #관세 #삼성전자\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김수빈(soup@yna.co.kr)",
          "content:encodedSnippet": "[연합뉴스 제공][연합뉴스 제공]\n코스피가 미국의 상호관세 유예 시한을 앞두고 강보합 마감했습니다.\n\n코스피는 오늘(7일) 전장보다 0.17% 오른 3,059.47에 거래를 마쳤습니다.\n\n개인이 크게 순매수한 반면, 외국인과 기관이 동반 매도하며 상승폭을 제한했습니다.\n\n시가총액 상위 종목 가운데 삼성전자는 내일 실적 발표를 앞두고 2.5% 넘게 하락하며 6만1천원선까지 밀렸습니다.\n\n코스닥지수는 0.34% 상승한 778.46에 마감했습니다.\n\n오늘 시장은 도널드 트럼프 미국 대통령의 관세 서한에 대한 불확실성으로 숨고르기 양상을 보였습니다.\n\n같은 영향으로 외환시장에서도 달러 강세 흐름이 이어졌습니다.\n\n원·달러 환율은 전 거래일보다 5.5원 오른 1,367.8원에 주간거래를 마쳤습니다.\n\n#코스피 #코스닥 #환율 #마감 #관세 #삼성전자\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김수빈(soup@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707155904074_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "김수빈",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707155904074#comments",
          "content": "[연합뉴스 제공][연합뉴스 제공] 코스피가 미국의 상호관세 유예 시한을 앞두고 강보합 마감했습니다. 코스피는 오늘(7일) 전장보다 0.17% 오른 3,059.47에 거래를 마쳤습니다. 개인이 크게 순매수한 반면, 외국인과 기관이 동반 매도하며 상승폭을 제한했습니다. 시가총액 상위 종목 가운데 삼성전자는 내일 실적 발표를 앞두고 2.5% 넘게 하락하며 6만1천원선까지 밀렸습니다. 코스닥지수는 0.34% 상승한 778.46에 마감했습니다. 오...",
          "contentSnippet": "[연합뉴스 제공][연합뉴스 제공] 코스피가 미국의 상호관세 유예 시한을 앞두고 강보합 마감했습니다. 코스피는 오늘(7일) 전장보다 0.17% 오른 3,059.47에 거래를 마쳤습니다. 개인이 크게 순매수한 반면, 외국인과 기관이 동반 매도하며 상승폭을 제한했습니다. 시가총액 상위 종목 가운데 삼성전자는 내일 실적 발표를 앞두고 2.5% 넘게 하락하며 6만1천원선까지 밀렸습니다. 코스닥지수는 0.34% 상승한 778.46에 마감했습니다. 오...",
          "guid": "AKR20250707155904074",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T06:59:06.000Z"
        }
      },
      {
        "json": {
          "creator": "하준",
          "title": "밀양 39.2도 '올여름 최고 기온'…경남 모든 시·군 폭염특보",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707155805671",
          "pubDate": "Mon, 07 Jul 2025 15:58:05 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707155805671_01_i.jpg\" alt=\"\"><span class=\"yna_title\">폭염에 시원한 물</span><span class=\"yna_caption\">[연합뉴스 자료사진]</span><span class=\"yna_description\">[연합뉴스 자료사진]</span></div>\n절기상 '소서'인 7일 경남 밀양시의 한낮 기온이 39.2도까지 올랐습니다.\n\n이는 밀양에서 기상관측을 시작한 1973년 1월 이후 7월 상순 기온으로는 역대 최고치, 7월 기준으로는 역대 두 번째로 높은 수치입니다.\n\n현재 경남 15개 시군에 폭염경보가, 통영시·거제시·남해군 등 나머지 3개 시군에 폭염주의보가 발령되는 등 경남 모든 시군에 폭염특보가 내려진 상황입니다.\n\n폭염 영향으로 경남에선 지난 5월 15일부터 이달 6일까지 18개 시·군 온열질환자 수가 사망자 1명을 포함해 106명을 기록했다고 밝혔습니다.\n\n이는 지난해 같은 기간 온열질환자 수인 44명보다 2배 이상 많은 수치입니다.\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n하준(hajun@yna.co.kr)",
          "content:encodedSnippet": "폭염에 시원한 물[연합뉴스 자료사진][연합뉴스 자료사진]\n절기상 '소서'인 7일 경남 밀양시의 한낮 기온이 39.2도까지 올랐습니다.\n\n이는 밀양에서 기상관측을 시작한 1973년 1월 이후 7월 상순 기온으로는 역대 최고치, 7월 기준으로는 역대 두 번째로 높은 수치입니다.\n\n현재 경남 15개 시군에 폭염경보가, 통영시·거제시·남해군 등 나머지 3개 시군에 폭염주의보가 발령되는 등 경남 모든 시군에 폭염특보가 내려진 상황입니다.\n\n폭염 영향으로 경남에선 지난 5월 15일부터 이달 6일까지 18개 시·군 온열질환자 수가 사망자 1명을 포함해 106명을 기록했다고 밝혔습니다.\n\n이는 지난해 같은 기간 온열질환자 수인 44명보다 2배 이상 많은 수치입니다.\n\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n하준(hajun@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707155805671_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "하준",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707155805671#comments",
          "content": "폭염에 시원한 물[연합뉴스 자료사진][연합뉴스 자료사진] 절기상 '소서'인 7일 경남 밀양시의 한낮 기온이 39.2도까지 올랐습니다. 이는 밀양에서 기상관측을 시작한 1973년 1월 이후 7월 상순 기온으로는 역대 최고치, 7월 기준으로는 역대 두 번째로 높은 수치입니다. 현재 경남 15개 시군에 폭염경보가, 통영시·거제시·남해군 등 나머지 3개 시군에 폭염주의보가 발령되는 등 경남 모든 시군에 폭염특보가 내려진 상황입니다. 폭염 영향으로...",
          "contentSnippet": "폭염에 시원한 물[연합뉴스 자료사진][연합뉴스 자료사진] 절기상 '소서'인 7일 경남 밀양시의 한낮 기온이 39.2도까지 올랐습니다. 이는 밀양에서 기상관측을 시작한 1973년 1월 이후 7월 상순 기온으로는 역대 최고치, 7월 기준으로는 역대 두 번째로 높은 수치입니다. 현재 경남 15개 시군에 폭염경보가, 통영시·거제시·남해군 등 나머지 3개 시군에 폭염주의보가 발령되는 등 경남 모든 시군에 폭염특보가 내려진 상황입니다. 폭염 영향으로...",
          "guid": "AKR20250707155805671",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T06:58:05.000Z"
        }
      },
      {
        "json": {
          "creator": "장효인",
          "title": "중국 항모 산둥함, 홍콩서 출항…3만 명 운집",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707155616901",
          "pubDate": "Mon, 07 Jul 2025 15:56:17 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707155616901_01_i.jpg\" alt=\"\"><span class=\"yna_title\">홍콩을 처음 방문한 중국 독자 건조 '산둥함'</span><span class=\"yna_caption\">[SCMP 캡처. 재판매 및 DB금지]</span><span class=\"yna_description\">[SCMP 캡처. 재판매 및 DB금지]</span></div>\n중국 반환 28주년을 맞아 홍콩을 처음 방문한 중국의 해군 항공모함 '산둥함'이 닷새간의 일정을 마치고 7일 출항했습니다.\n\n관영 신화통신과 홍콩 사우스차이나모닝포스트에 따르면 이날 홍콩 정부는 스톤커터스 섬에 있는 병영 부두에서 산둥함 환송식을 열었습니다.\n\n부두에 모인 홍콩 시민들은 산둥함을 향해 오성홍기와 손을 흔들었습니다.\n\n산둥함은 정박한 닷새 동안 함정을 개방해 관람객을 받고, 훈련 시범과 국방 지식 강연 등을 진행했습니다.\n\n3만 명 넘게 군함에 올랐고, 사전 판매된 관람권 1만 장은 1분 만에 매진된 것으로 알려졌습니다.\n\n산둥함은 지난 2017년 중국이 독자적으로 처음 건조한 항공모함으로, 2019년 실전 배치됐습니다.\n\n산둥함이 홍콩을 방문하는 동안 크고 작은 소란도 있었습니다.\n\n지난 3일에는 미국 원자력 추진 항공모함 조지워싱턴호가 중국과 남중국해 영유권 분쟁 중인 필리핀에 입항했고,\n\n같은 날 밤에는 35세 홍콩 남성이 인근 산꼭대기에서 드론을 이용해 산둥함을 무단 촬영하려다가 체포되기도 했습니다.\n\n#중국 #홍콩 #산둥함 #항공모함\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n장효인(hijang@yna.co.kr)",
          "content:encodedSnippet": "홍콩을 처음 방문한 중국 독자 건조 '산둥함'[SCMP 캡처. 재판매 및 DB금지][SCMP 캡처. 재판매 및 DB금지]\n중국 반환 28주년을 맞아 홍콩을 처음 방문한 중국의 해군 항공모함 '산둥함'이 닷새간의 일정을 마치고 7일 출항했습니다.\n\n관영 신화통신과 홍콩 사우스차이나모닝포스트에 따르면 이날 홍콩 정부는 스톤커터스 섬에 있는 병영 부두에서 산둥함 환송식을 열었습니다.\n\n부두에 모인 홍콩 시민들은 산둥함을 향해 오성홍기와 손을 흔들었습니다.\n\n산둥함은 정박한 닷새 동안 함정을 개방해 관람객을 받고, 훈련 시범과 국방 지식 강연 등을 진행했습니다.\n\n3만 명 넘게 군함에 올랐고, 사전 판매된 관람권 1만 장은 1분 만에 매진된 것으로 알려졌습니다.\n\n산둥함은 지난 2017년 중국이 독자적으로 처음 건조한 항공모함으로, 2019년 실전 배치됐습니다.\n\n산둥함이 홍콩을 방문하는 동안 크고 작은 소란도 있었습니다.\n\n지난 3일에는 미국 원자력 추진 항공모함 조지워싱턴호가 중국과 남중국해 영유권 분쟁 중인 필리핀에 입항했고,\n\n같은 날 밤에는 35세 홍콩 남성이 인근 산꼭대기에서 드론을 이용해 산둥함을 무단 촬영하려다가 체포되기도 했습니다.\n\n#중국 #홍콩 #산둥함 #항공모함\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n장효인(hijang@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707155616901_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "장효인",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707155616901#comments",
          "content": "홍콩을 처음 방문한 중국 독자 건조 '산둥함'[SCMP 캡처. 재판매 및 DB금지][SCMP 캡처. 재판매 및 DB금지] 중국 반환 28주년을 맞아 홍콩을 처음 방문한 중국의 해군 항공모함 '산둥함'이 닷새간의 일정을 마치고 7일 출항했습니다. 관영 신화통신과 홍콩 사우스차이나모닝포스트에 따르면 이날 홍콩 정부는 스톤커터스 섬에 있는 병영 부두에서 산둥함 환송식을 열었습니다. 부두에 모인 홍콩 시민들은 산둥함을 향해 오성홍기와 손을 흔들었...",
          "contentSnippet": "홍콩을 처음 방문한 중국 독자 건조 '산둥함'[SCMP 캡처. 재판매 및 DB금지][SCMP 캡처. 재판매 및 DB금지] 중국 반환 28주년을 맞아 홍콩을 처음 방문한 중국의 해군 항공모함 '산둥함'이 닷새간의 일정을 마치고 7일 출항했습니다. 관영 신화통신과 홍콩 사우스차이나모닝포스트에 따르면 이날 홍콩 정부는 스톤커터스 섬에 있는 병영 부두에서 산둥함 환송식을 열었습니다. 부두에 모인 홍콩 시민들은 산둥함을 향해 오성홍기와 손을 흔들었...",
          "guid": "AKR20250707155616901",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T06:56:17.000Z"
        }
      },
      {
        "json": {
          "creator": "장효인",
          "title": "러, 우크라전에 라오스 공병 투입하나…\"50명 파견 의향\"",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707155354777",
          "pubDate": "Mon, 07 Jul 2025 15:53:55 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707155354777_01_i.jpg\" alt=\"\"><span class=\"yna_title\">블라디미르 푸틴 러시아 대통령</span><span class=\"yna_caption\">[로이터 연합뉴스. 재판매 및 DB 금지]</span><span class=\"yna_description\">[로이터 연합뉴스. 재판매 및 DB 금지]</span></div>\n우크라이나 당국은 러시아가 라오스를 전쟁에 끌어들이려 한다고 주장했습니다.\n\n현지시간 7일 우크라이나 매체 키이우인디펜던트 등에 따르면, 우크라이나 국방부 정보총국(HUR)은 5일 러시아가 우크라이나 접경지인 쿠르스크 지역에 지뢰 제거를 위해 라오스군 공병을 보내는 방안을 추진 중이라고 밝혔습니다.\n\nHUR은 라오스가 현재로서 최대 50명의 공병을 보낼 의향이 있다고 했습니다.\n\n그러면서 러시아가 지뢰 제거 등을 명분으로 우크라이나 전쟁에 라오스군을 끌어들인 뒤, 전투 지원용으로 활용하려는 의도가 있다고 지적했습니다.\n\n라오스는 러시아군 병사들에게 무료로 의료 지원도 제공하고 있는 것으로 전해졌습니다.\n\n라오스의 지원은 여전히 북한에 비해 규모가 작습니다.\n\n북한은 지난해 11월, 약 1만 1천 명 규모의 병력을 러시아에 보냈으며, 올해 1~2월에는 약 3천 명을 추가로 파병했습니다.\n\n아울러 세르게이 쇼이구 러시아 국가안보회의 서기는 지난달 17일 방북에서 김정은 국무위원장을 만난 뒤, 북한 공병 병력과 군사 건설 인력 총 6천 명이 쿠르스크 지역에 파견될 것이라고 밝히기도 했습니다.\n\n키이우인디펜던트는 러시아가 우즈베키스탄과 인도, 쿠바, 네팔, 시리아 등 최소 21개국에서 용병이나 노동자를 모집하고 있다고 전했습니다.\n\n#우크라이나 #러시아 #라오스 #공병\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n장효인(hijang@yna.co.kr)",
          "content:encodedSnippet": "블라디미르 푸틴 러시아 대통령[로이터 연합뉴스. 재판매 및 DB 금지][로이터 연합뉴스. 재판매 및 DB 금지]\n우크라이나 당국은 러시아가 라오스를 전쟁에 끌어들이려 한다고 주장했습니다.\n\n현지시간 7일 우크라이나 매체 키이우인디펜던트 등에 따르면, 우크라이나 국방부 정보총국(HUR)은 5일 러시아가 우크라이나 접경지인 쿠르스크 지역에 지뢰 제거를 위해 라오스군 공병을 보내는 방안을 추진 중이라고 밝혔습니다.\n\nHUR은 라오스가 현재로서 최대 50명의 공병을 보낼 의향이 있다고 했습니다.\n\n그러면서 러시아가 지뢰 제거 등을 명분으로 우크라이나 전쟁에 라오스군을 끌어들인 뒤, 전투 지원용으로 활용하려는 의도가 있다고 지적했습니다.\n\n라오스는 러시아군 병사들에게 무료로 의료 지원도 제공하고 있는 것으로 전해졌습니다.\n\n라오스의 지원은 여전히 북한에 비해 규모가 작습니다.\n\n북한은 지난해 11월, 약 1만 1천 명 규모의 병력을 러시아에 보냈으며, 올해 1~2월에는 약 3천 명을 추가로 파병했습니다.\n\n아울러 세르게이 쇼이구 러시아 국가안보회의 서기는 지난달 17일 방북에서 김정은 국무위원장을 만난 뒤, 북한 공병 병력과 군사 건설 인력 총 6천 명이 쿠르스크 지역에 파견될 것이라고 밝히기도 했습니다.\n\n키이우인디펜던트는 러시아가 우즈베키스탄과 인도, 쿠바, 네팔, 시리아 등 최소 21개국에서 용병이나 노동자를 모집하고 있다고 전했습니다.\n\n#우크라이나 #러시아 #라오스 #공병\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n장효인(hijang@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707155354777_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "장효인",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707155354777#comments",
          "content": "블라디미르 푸틴 러시아 대통령[로이터 연합뉴스. 재판매 및 DB 금지][로이터 연합뉴스. 재판매 및 DB 금지] 우크라이나 당국은 러시아가 라오스를 전쟁에 끌어들이려 한다고 주장했습니다. 현지시간 7일 우크라이나 매체 키이우인디펜던트 등에 따르면, 우크라이나 국방부 정보총국(HUR)은 5일 러시아가 우크라이나 접경지인 쿠르스크 지역에 지뢰 제거를 위해 라오스군 공병을 보내는 방안을 추진 중이라고 밝혔습니다. HUR은 라오스가 현재로서 최대...",
          "contentSnippet": "블라디미르 푸틴 러시아 대통령[로이터 연합뉴스. 재판매 및 DB 금지][로이터 연합뉴스. 재판매 및 DB 금지] 우크라이나 당국은 러시아가 라오스를 전쟁에 끌어들이려 한다고 주장했습니다. 현지시간 7일 우크라이나 매체 키이우인디펜던트 등에 따르면, 우크라이나 국방부 정보총국(HUR)은 5일 러시아가 우크라이나 접경지인 쿠르스크 지역에 지뢰 제거를 위해 라오스군 공병을 보내는 방안을 추진 중이라고 밝혔습니다. HUR은 라오스가 현재로서 최대...",
          "guid": "AKR20250707155354777",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T06:53:55.000Z"
        }
      },
      {
        "json": {
          "creator": "이성섭",
          "title": "층간소음 항의에 식용유 끼얹고 흉기 협박 60대…현행범 체포",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707154732595",
          "pubDate": "Mon, 07 Jul 2025 15:47:33 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707154732595_01_i.jpeg\" alt=\"\"><span class=\"yna_title\">대전 서부경찰서</span><span class=\"yna_caption\">[연합뉴스 자료사진]</span><span class=\"yna_description\">[연합뉴스 자료사진]</span></div>\n층간소음 문제로 찾아온 이웃에게 끓는 식용유를 끼얹어 화상을 입히고 흉기로 협박한 60대가 경찰에 붙잡혔습니다.\n\n대전서부경찰서는 특수상해 및 특수협박 혐의로 A씨를 현행범 체포했다고 오늘(7일) 밝혔습니다.\n\nA씨는 지난 4일 오후 6시 30분쯤 자신이 거주하는 대전 서구 괴정동 한 빌라에서 층간소음 문제로 찾아온 윗집 이웃 B(60대)씨에게 끓는 식용유를 끼얹어 다치게 한 혐의를 받습니다.\n\n어깨와 목, 팔, 다리 등에 3도 화상을 입은 B씨는 화상전문병원에서 치료받고 있습니다.\n\nA씨 옆집 이웃인 C(50대)씨도 소음이 발생하자 A씨 집을 찾았고, A씨는 흉기를 소지한 채 C씨에게 욕을 하며 협박한 것으로 조사됐습니다.\n\nA씨는 평소에도 이웃과 층간 소음 문제로 다툼이 있었던 것으로 파악됐습니다.\n\n경찰은 A씨에 대해 구속영장을 신청했습니다.\n\n#층간소음 #식용유 #흉기\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n이성섭(leess@yna.co.kr)",
          "content:encodedSnippet": "대전 서부경찰서[연합뉴스 자료사진][연합뉴스 자료사진]\n층간소음 문제로 찾아온 이웃에게 끓는 식용유를 끼얹어 화상을 입히고 흉기로 협박한 60대가 경찰에 붙잡혔습니다.\n\n대전서부경찰서는 특수상해 및 특수협박 혐의로 A씨를 현행범 체포했다고 오늘(7일) 밝혔습니다.\n\nA씨는 지난 4일 오후 6시 30분쯤 자신이 거주하는 대전 서구 괴정동 한 빌라에서 층간소음 문제로 찾아온 윗집 이웃 B(60대)씨에게 끓는 식용유를 끼얹어 다치게 한 혐의를 받습니다.\n\n어깨와 목, 팔, 다리 등에 3도 화상을 입은 B씨는 화상전문병원에서 치료받고 있습니다.\n\nA씨 옆집 이웃인 C(50대)씨도 소음이 발생하자 A씨 집을 찾았고, A씨는 흉기를 소지한 채 C씨에게 욕을 하며 협박한 것으로 조사됐습니다.\n\nA씨는 평소에도 이웃과 층간 소음 문제로 다툼이 있었던 것으로 파악됐습니다.\n\n경찰은 A씨에 대해 구속영장을 신청했습니다.\n\n#층간소음 #식용유 #흉기\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n이성섭(leess@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707154732595_01_i.jpeg",
            "type": "image/jpeg"
          },
          "dc:creator": "이성섭",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707154732595#comments",
          "content": "대전 서부경찰서[연합뉴스 자료사진][연합뉴스 자료사진] 층간소음 문제로 찾아온 이웃에게 끓는 식용유를 끼얹어 화상을 입히고 흉기로 협박한 60대가 경찰에 붙잡혔습니다. 대전서부경찰서는 특수상해 및 특수협박 혐의로 A씨를 현행범 체포했다고 오늘(7일) 밝혔습니다. A씨는 지난 4일 오후 6시 30분쯤 자신이 거주하는 대전 서구 괴정동 한 빌라에서 층간소음 문제로 찾아온 윗집 이웃 B(60대)씨에게 끓는 식용유를 끼얹어 다치게 한 혐의를 받습...",
          "contentSnippet": "대전 서부경찰서[연합뉴스 자료사진][연합뉴스 자료사진] 층간소음 문제로 찾아온 이웃에게 끓는 식용유를 끼얹어 화상을 입히고 흉기로 협박한 60대가 경찰에 붙잡혔습니다. 대전서부경찰서는 특수상해 및 특수협박 혐의로 A씨를 현행범 체포했다고 오늘(7일) 밝혔습니다. A씨는 지난 4일 오후 6시 30분쯤 자신이 거주하는 대전 서구 괴정동 한 빌라에서 층간소음 문제로 찾아온 윗집 이웃 B(60대)씨에게 끓는 식용유를 끼얹어 다치게 한 혐의를 받습...",
          "guid": "AKR20250707154732595",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T06:47:33.000Z"
        }
      },
      {
        "json": {
          "creator": "배규빈",
          "title": "모레 윤 전 대통령 영장심사…노상원 구속연장 기로",
          "link": "https://www.yonhapnewstv.co.kr/news/MYH20250707154627707",
          "pubDate": "Mon, 07 Jul 2025 15:47:01 +0900",
          "content:encoded": "[앵커]\n\n윤석열 전 대통령의 구속 여부를 결정할 영장실질심사가 오는 수요일 서울중앙지법에서 진행됩니다.\n\n직접 출석 의사를 밝힌 윤 전 대통령은 구속을 면하기 위해 특검팀과 치열한 법리 공방을 벌일 걸로 보이는데요.\n\n내란 특검 사무실이 있는 서울고검 연결해 보겠습니다.\n\n배규빈 기자.\n\n[기자]\n\n네, 서울고등검찰청입니다.\n\n서울중앙지방법원은 오는 9일 오후 2시 15분, 남세진 영장전담 부장판사 심리로 윤 전 대통령에 대한 구속 전 피의자심문을 진행합니다.\n\n윤 전 대통령도 법원 영장실질심사에 직접 출석하는데요.\n\n영장 발부 여부는 수요일 밤늦게나, 목요일 새벽쯤 판가름 날 것으로 예상됩니다.\n\n특검 측은 윤 전 대통령의 심사 종료 이후 인치 및 유치 장소는 '서울구치소' 또는 '서울중앙지검 유치장소'라고 설명했습니다.\n\n66쪽 분량의 영장 청구서엔 특검이 윤 전 대통령을 두 차례 조사하며 법리를 구성한 혐의가 추가됐는데요.\n\n공수처 체포영장 집행을 방해한 혐의, 계엄 당시 국무회의에 일부만 불러 다른 국무위원들의 심의 권한을 방해한 혐의, 또 뒤늦게 작성됐단 계엄 선포문에 결재한 혐의 등입니다.\n\n윤 전 대통령 측은 혐의를 전면 부인하고 있는데, 특검이 무리하게 영장을 청구했다는 점을 법원에서 소명하겠다는 입장입니다.\n\n한편, 특검 측은 \"윤 전 대통령의 구속영장이 외부로 유출된 것을 확인했다\"라며 \"중대한 범죄행위로 유출 경위를 조사할 방침이라고 밝혔습니다.\n\n박지영 특검보는 브리핑에서 \"특검의 구속영장 접수 이후 법원에서 변호인의 등사가 있었고, 그 이후 변호인 측에 의해 주민등록번호와 관련자 진술이 담긴 영장 전부가 유출된 사실을 확인했다\"라며 \"피의사실 전부가 공개돼 심각한 우려를 표하지 않을 수 없다\"라고 말했습니다.\n\n[앵커]\n\n노상원 전 정보사령관에 대한 추가 구속 심문기일도 열렸다면서요?\n\n[기자]\n\n네, 내란 특검이 추가로 기소한 노상원 전 정보사령관의 재구속 여부를 결정하기 위한 심문도 오늘 오후 2시에 열렸습니다.\n\n심문에는 장우성 특검보와 국원 부장검사 등이 참석했는데요.\n\n특검은 노 전 사령관이 부정선거 관련 의혹 수사단 구성을 목적으로 군사정보를 제공받았다고 의심하고, 개인정보보호법 위반 혐의로 추가 기소했습니다.\n\n앞서 내란 중요임무 종사 등 혐의로 구속된 노 전 사령관의 구속기간은 오는 9일 종료되는데요.\n\n법원이 추가로 구속영장을 발부할 경우 노 전 사령관은 구속 상태로 계속해서 재판을 받게 됩니다.\n\n[앵커]\n\n김건희 특검과 순직해병 특검 상황도 전해주시죠.\n\n[기자]\n\n네, 김건희 특검은 계속해서 삼부토건 주가 조작 의혹 사건 관계자들에 대한 수사에 속도를 내고 있습니다.\n\n어제 삼부토건 직원에 대한 참고인 조사를 마친 뒤 오늘 오전부터 유라시아 경제인연합회 이사를 참고인 신분으로 소환해 조사 중입니다.\n\n특검 측은 오는 9일 오전에는 정창래 전 삼부토건 대표, 10일 오전에는 이일준 현 삼부토건 회장을 소환해 조사할 예정입니다.\n\n순직해병 의혹 특검도 오늘 오전 10시 30분부터 김계환 전 해병대 사령관을 피의자로 소환해 조사하고 있습니다.\n\n김 전 사령관은 당시 박정훈 전 수사단장에게 이른바 VIP 격노설을 언급한 인물인데요.\n\n특검은 임성근 전 사단장의 허위보고 의혹 등과 관련된 조사를 마친 뒤 직권남용 혐의 등에 대해서도 조사할 계획입니다.\n\n지금까지 서울고등검찰청에서 연합뉴스TV 배규빈입니다.\n\n[현장연결 함정태]\n\n#윤석열 #김건희 #순직해병 #내란특검 #영장심사\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n배규빈(beanie@yna.co.kr)",
          "content:encodedSnippet": "[앵커]\n\n윤석열 전 대통령의 구속 여부를 결정할 영장실질심사가 오는 수요일 서울중앙지법에서 진행됩니다.\n\n직접 출석 의사를 밝힌 윤 전 대통령은 구속을 면하기 위해 특검팀과 치열한 법리 공방을 벌일 걸로 보이는데요.\n\n내란 특검 사무실이 있는 서울고검 연결해 보겠습니다.\n\n배규빈 기자.\n\n[기자]\n\n네, 서울고등검찰청입니다.\n\n서울중앙지방법원은 오는 9일 오후 2시 15분, 남세진 영장전담 부장판사 심리로 윤 전 대통령에 대한 구속 전 피의자심문을 진행합니다.\n\n윤 전 대통령도 법원 영장실질심사에 직접 출석하는데요.\n\n영장 발부 여부는 수요일 밤늦게나, 목요일 새벽쯤 판가름 날 것으로 예상됩니다.\n\n특검 측은 윤 전 대통령의 심사 종료 이후 인치 및 유치 장소는 '서울구치소' 또는 '서울중앙지검 유치장소'라고 설명했습니다.\n\n66쪽 분량의 영장 청구서엔 특검이 윤 전 대통령을 두 차례 조사하며 법리를 구성한 혐의가 추가됐는데요.\n\n공수처 체포영장 집행을 방해한 혐의, 계엄 당시 국무회의에 일부만 불러 다른 국무위원들의 심의 권한을 방해한 혐의, 또 뒤늦게 작성됐단 계엄 선포문에 결재한 혐의 등입니다.\n\n윤 전 대통령 측은 혐의를 전면 부인하고 있는데, 특검이 무리하게 영장을 청구했다는 점을 법원에서 소명하겠다는 입장입니다.\n\n한편, 특검 측은 \"윤 전 대통령의 구속영장이 외부로 유출된 것을 확인했다\"라며 \"중대한 범죄행위로 유출 경위를 조사할 방침이라고 밝혔습니다.\n\n박지영 특검보는 브리핑에서 \"특검의 구속영장 접수 이후 법원에서 변호인의 등사가 있었고, 그 이후 변호인 측에 의해 주민등록번호와 관련자 진술이 담긴 영장 전부가 유출된 사실을 확인했다\"라며 \"피의사실 전부가 공개돼 심각한 우려를 표하지 않을 수 없다\"라고 말했습니다.\n\n[앵커]\n\n노상원 전 정보사령관에 대한 추가 구속 심문기일도 열렸다면서요?\n\n[기자]\n\n네, 내란 특검이 추가로 기소한 노상원 전 정보사령관의 재구속 여부를 결정하기 위한 심문도 오늘 오후 2시에 열렸습니다.\n\n심문에는 장우성 특검보와 국원 부장검사 등이 참석했는데요.\n\n특검은 노 전 사령관이 부정선거 관련 의혹 수사단 구성을 목적으로 군사정보를 제공받았다고 의심하고, 개인정보보호법 위반 혐의로 추가 기소했습니다.\n\n앞서 내란 중요임무 종사 등 혐의로 구속된 노 전 사령관의 구속기간은 오는 9일 종료되는데요.\n\n법원이 추가로 구속영장을 발부할 경우 노 전 사령관은 구속 상태로 계속해서 재판을 받게 됩니다.\n\n[앵커]\n\n김건희 특검과 순직해병 특검 상황도 전해주시죠.\n\n[기자]\n\n네, 김건희 특검은 계속해서 삼부토건 주가 조작 의혹 사건 관계자들에 대한 수사에 속도를 내고 있습니다.\n\n어제 삼부토건 직원에 대한 참고인 조사를 마친 뒤 오늘 오전부터 유라시아 경제인연합회 이사를 참고인 신분으로 소환해 조사 중입니다.\n\n특검 측은 오는 9일 오전에는 정창래 전 삼부토건 대표, 10일 오전에는 이일준 현 삼부토건 회장을 소환해 조사할 예정입니다.\n\n순직해병 의혹 특검도 오늘 오전 10시 30분부터 김계환 전 해병대 사령관을 피의자로 소환해 조사하고 있습니다.\n\n김 전 사령관은 당시 박정훈 전 수사단장에게 이른바 VIP 격노설을 언급한 인물인데요.\n\n특검은 임성근 전 사단장의 허위보고 의혹 등과 관련된 조사를 마친 뒤 직권남용 혐의 등에 대해서도 조사할 계획입니다.\n\n지금까지 서울고등검찰청에서 연합뉴스TV 배규빈입니다.\n\n[현장연결 함정태]\n\n#윤석열 #김건희 #순직해병 #내란특검 #영장심사\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n배규빈(beanie@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/MYH/20250707/MYH20250707154627707_P1.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "배규빈",
          "comments": "https://www.yonhapnewstv.co.kr/news/MYH20250707154627707#comments",
          "content": "[앵커] 윤석열 전 대통령의 구속 여부를 결정할 영장실질심사가 오는 수요일 서울중앙지법에서 진행됩니다. 직접 출석 의사를 밝힌 윤 전 대통령은 구속을 면하기 위해 특검팀과 치열한 법리 공방을 벌일 걸로 보이는데요. 내란 특검 사무실이 있는 서울고검 연결해 보겠습니다. 배규빈 기자. [기자] 네, 서울고등검찰청입니다. 서울중앙지방법원은 오는 9일 오후 2시 15분, 남세진 영장전담 부장판사 심리로 윤 전 대통령에 대한 구속 전 피의자심문을 ...",
          "contentSnippet": "[앵커] 윤석열 전 대통령의 구속 여부를 결정할 영장실질심사가 오는 수요일 서울중앙지법에서 진행됩니다. 직접 출석 의사를 밝힌 윤 전 대통령은 구속을 면하기 위해 특검팀과 치열한 법리 공방을 벌일 걸로 보이는데요. 내란 특검 사무실이 있는 서울고검 연결해 보겠습니다. 배규빈 기자. [기자] 네, 서울고등검찰청입니다. 서울중앙지방법원은 오는 9일 오후 2시 15분, 남세진 영장전담 부장판사 심리로 윤 전 대통령에 대한 구속 전 피의자심문을 ...",
          "guid": "MYH20250707154627707",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T06:47:01.000Z"
        }
      },
      {
        "json": {
          "creator": "김민서",
          "title": "영국 항공기 화재 경보에 아수라장…날개에서 뛰어내리다 다리 골절",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707154333317",
          "pubDate": "Mon, 07 Jul 2025 15:43:33 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707154333317_01_i.jpg\" alt=\"\"><span class=\"yna_title\">비행기 날개 위에 서 있는 승객들</span><span class=\"yna_caption\">[X 캡처]</span><span class=\"yna_description\">[X 캡처]</span></div>\n스페인의 한 공항에서 승객들이 비행기 날개 위에서 뛰어내리며 대피하는 소동이 벌어졌습니다.\n\n현지시간 6일 영국 데일리메일 등에 따르면, 지난 5일 스페인 팔마 마요르카에서 영국 맨체스터로 향할 예정이던 라이언에어 항공기에서 화재 경보가 울리며 승객들이 긴급 탈출하는 일이 발생했습니다.\n\n당시 이륙을 기다리던 항공기 내에서 갑작스러운 폭발음과 함께 화재 경보가 울리자, 놀란 승객들은 기내를 빠르게 탈출하기 위해 비상구 문을 열고 비행기 날개 위로 대피했습니다.\n\n이 중 일부는 날개 위에 올라선 뒤, 5m 아래인 지상으로 뛰어내렸습니다.\n\n이 과정에서 부상을 입은 승객들이 속출했으며, 총 18명이 다쳤고 이 중 2명은 뼈가 부러지는 중상을 입은 것으로 알려졌습니다.\n\n라이언에어 측은 해당 화재 경보가 ‘오경보’였다고 해명하며, 승객들이 비상용 슬라이드를 통해 대피했다고 주장했습니다.\n\n그러나 사고 직후 SNS를 통해 날개 위에 승객들이 서 있다가 직접 뛰어내리는 영상이 퍼지며, 항공사의 초기 대응이 부실했다는 비판이 제기되고 있습니다.\n\n공항 당국은 당시 구급차 4대와 공항 소방대, 민간 경비대를 현장에 투입했으며, 지역 응급대응센터는 18명의 부상자 중 6명이 병원으로 이송됐다고 밝혔습니다.\n\n한편, 사건 발생 이후 라이언에어가 마련한 대체 항공편을 통해 승객들은 다음 날 오전 7시 비행기를 통해 무사히 출국한 것으로 전해졌습니다.\n\n#라이언에어 #항공사고 #공항 #항공 #비행기\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김민서(ms3288@yna.co.kr)",
          "content:encodedSnippet": "비행기 날개 위에 서 있는 승객들[X 캡처][X 캡처]\n스페인의 한 공항에서 승객들이 비행기 날개 위에서 뛰어내리며 대피하는 소동이 벌어졌습니다.\n\n현지시간 6일 영국 데일리메일 등에 따르면, 지난 5일 스페인 팔마 마요르카에서 영국 맨체스터로 향할 예정이던 라이언에어 항공기에서 화재 경보가 울리며 승객들이 긴급 탈출하는 일이 발생했습니다.\n\n당시 이륙을 기다리던 항공기 내에서 갑작스러운 폭발음과 함께 화재 경보가 울리자, 놀란 승객들은 기내를 빠르게 탈출하기 위해 비상구 문을 열고 비행기 날개 위로 대피했습니다.\n\n이 중 일부는 날개 위에 올라선 뒤, 5m 아래인 지상으로 뛰어내렸습니다.\n\n이 과정에서 부상을 입은 승객들이 속출했으며, 총 18명이 다쳤고 이 중 2명은 뼈가 부러지는 중상을 입은 것으로 알려졌습니다.\n\n라이언에어 측은 해당 화재 경보가 ‘오경보’였다고 해명하며, 승객들이 비상용 슬라이드를 통해 대피했다고 주장했습니다.\n\n그러나 사고 직후 SNS를 통해 날개 위에 승객들이 서 있다가 직접 뛰어내리는 영상이 퍼지며, 항공사의 초기 대응이 부실했다는 비판이 제기되고 있습니다.\n\n공항 당국은 당시 구급차 4대와 공항 소방대, 민간 경비대를 현장에 투입했으며, 지역 응급대응센터는 18명의 부상자 중 6명이 병원으로 이송됐다고 밝혔습니다.\n\n한편, 사건 발생 이후 라이언에어가 마련한 대체 항공편을 통해 승객들은 다음 날 오전 7시 비행기를 통해 무사히 출국한 것으로 전해졌습니다.\n\n#라이언에어 #항공사고 #공항 #항공 #비행기\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김민서(ms3288@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707154333317_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "김민서",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707154333317#comments",
          "content": "비행기 날개 위에 서 있는 승객들[X 캡처][X 캡처] 스페인의 한 공항에서 승객들이 비행기 날개 위에서 뛰어내리며 대피하는 소동이 벌어졌습니다. 현지시간 6일 영국 데일리메일 등에 따르면, 지난 5일 스페인 팔마 마요르카에서 영국 맨체스터로 향할 예정이던 라이언에어 항공기에서 화재 경보가 울리며 승객들이 긴급 탈출하는 일이 발생했습니다. 당시 이륙을 기다리던 항공기 내에서 갑작스러운 폭발음과 함께 화재 경보가 울리자, 놀란 승객들은 기내...",
          "contentSnippet": "비행기 날개 위에 서 있는 승객들[X 캡처][X 캡처] 스페인의 한 공항에서 승객들이 비행기 날개 위에서 뛰어내리며 대피하는 소동이 벌어졌습니다. 현지시간 6일 영국 데일리메일 등에 따르면, 지난 5일 스페인 팔마 마요르카에서 영국 맨체스터로 향할 예정이던 라이언에어 항공기에서 화재 경보가 울리며 승객들이 긴급 탈출하는 일이 발생했습니다. 당시 이륙을 기다리던 항공기 내에서 갑작스러운 폭발음과 함께 화재 경보가 울리자, 놀란 승객들은 기내...",
          "guid": "AKR20250707154333317",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T06:43:33.000Z"
        }
      },
      {
        "json": {
          "creator": "박지은",
          "title": "전진우, 어지럼증으로 홍명보호 하차…정승원 대체 발탁",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707153940003",
          "pubDate": "Mon, 07 Jul 2025 15:39:41 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707153940003_01_i.jpg\" alt=\"\"><span class=\"yna_title\">돌파하는 전진우</span><span class=\"yna_caption\">대표팀에서 중도 하차한 전진우 [연합뉴스 자료]</span><span class=\"yna_description\">대표팀에서 중도 하차한 전진우 [연합뉴스 자료]</span></div>\n홍명보호의 새로운 공격 자원으로 부상한 전진우(전북 현대)가 어지럼증에 따른 컨디션 난조로 2025 동아시아축구연맹 E-1 챔피언십(이하 동아시안컵)을 앞둔 대표팀에서 중도 하차했습니다.\n\n대한축구협회는 7일 \"전진우를 대신해 FC서울 정승원을 대체 발탁했다\"고 밝혔습니다.\n\n지난 3일 대표팀에 소집된 전진우는 훈련 과정에서 어지럼증을 호소해 의료진의 검진을 받았고, 회복에 2주 정도 필요하다는 진단을 받으면서 대표팀에서 하차하게 됐습니다.\n\n전진우는 지난달 치러진 이라크와의 북중미 월드컵 아시아 3차 예선  9차전에서 A매치 데뷔전을 치렀고, 데뷔전에서 도움을 올리며 대표팀의 새로운 공격 옵션으로 기대를 모은 바 있습니다.\n\n홍명보 감독은 부상선수 발생시 첫 경기 6시간 전까지는 엔트리 변경이 가능하다는 대회 규정에 따라 정승원 대체 선발을 결정했습니다.\n\nK리그 선수들과 일본 J리거들로 꾸려진 대표팀은 7일 오후 8시 용인 미르스타디움에서 중국과 동아시안컵 남자부 1차전을 치릅니다.\n\n\n\n#전진우 #정승원 #축구대표팀 #동아시안컵\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n박지은(run@yna.co.kr)",
          "content:encodedSnippet": "돌파하는 전진우대표팀에서 중도 하차한 전진우 [연합뉴스 자료]대표팀에서 중도 하차한 전진우 [연합뉴스 자료]\n홍명보호의 새로운 공격 자원으로 부상한 전진우(전북 현대)가 어지럼증에 따른 컨디션 난조로 2025 동아시아축구연맹 E-1 챔피언십(이하 동아시안컵)을 앞둔 대표팀에서 중도 하차했습니다.\n\n대한축구협회는 7일 \"전진우를 대신해 FC서울 정승원을 대체 발탁했다\"고 밝혔습니다.\n\n지난 3일 대표팀에 소집된 전진우는 훈련 과정에서 어지럼증을 호소해 의료진의 검진을 받았고, 회복에 2주 정도 필요하다는 진단을 받으면서 대표팀에서 하차하게 됐습니다.\n\n전진우는 지난달 치러진 이라크와의 북중미 월드컵 아시아 3차 예선  9차전에서 A매치 데뷔전을 치렀고, 데뷔전에서 도움을 올리며 대표팀의 새로운 공격 옵션으로 기대를 모은 바 있습니다.\n\n홍명보 감독은 부상선수 발생시 첫 경기 6시간 전까지는 엔트리 변경이 가능하다는 대회 규정에 따라 정승원 대체 선발을 결정했습니다.\n\nK리그 선수들과 일본 J리거들로 꾸려진 대표팀은 7일 오후 8시 용인 미르스타디움에서 중국과 동아시안컵 남자부 1차전을 치릅니다.\n\n\n\n#전진우 #정승원 #축구대표팀 #동아시안컵\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n박지은(run@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707153940003_01_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "박지은",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707153940003#comments",
          "content": "돌파하는 전진우대표팀에서 중도 하차한 전진우 [연합뉴스 자료]대표팀에서 중도 하차한 전진우 [연합뉴스 자료] 홍명보호의 새로운 공격 자원으로 부상한 전진우(전북 현대)가 어지럼증에 따른 컨디션 난조로 2025 동아시아축구연맹 E-1 챔피언십(이하 동아시안컵)을 앞둔 대표팀에서 중도 하차했습니다. 대한축구협회는 7일 \"전진우를 대신해 FC서울 정승원을 대체 발탁했다\"고 밝혔습니다. 지난 3일 대표팀에 소집된 전진우는 훈련 과정에서 어지럼증을...",
          "contentSnippet": "돌파하는 전진우대표팀에서 중도 하차한 전진우 [연합뉴스 자료]대표팀에서 중도 하차한 전진우 [연합뉴스 자료] 홍명보호의 새로운 공격 자원으로 부상한 전진우(전북 현대)가 어지럼증에 따른 컨디션 난조로 2025 동아시아축구연맹 E-1 챔피언십(이하 동아시안컵)을 앞둔 대표팀에서 중도 하차했습니다. 대한축구협회는 7일 \"전진우를 대신해 FC서울 정승원을 대체 발탁했다\"고 밝혔습니다. 지난 3일 대표팀에 소집된 전진우는 훈련 과정에서 어지럼증을...",
          "guid": "AKR20250707153940003",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T06:39:41.000Z"
        }
      },
      {
        "json": {
          "creator": "김예림",
          "title": "\"아내·딸 병원비가 없습니다, 별풍 좀\"…밤마다 춤추는 중국 남성의 사연",
          "link": "https://www.yonhapnewstv.co.kr/news/AKR20250707153930831",
          "pubDate": "Mon, 07 Jul 2025 15:39:32 +0900",
          "content:encoded": "\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707153930831_02_i.jpg\" alt=\"\"><span class=\"yna_title\"></span><span class=\"yna_caption\">[출처=사우스차이나모닝포스트(SCMP)]</span><span class=\"yna_description\">[출처=사우스차이나모닝포스트(SCMP)]</span></div>\n아내와 딸이 동시에 암 판정을 받은 한 남성이 매일 밤 라이브 방송으로 춤을 추며 가족을 지키기 위한 사투를 벌이고 있습니다.\n\n6일 홍콩 사우스차이나모닝포스트(SCMP)에 따르면, 중국 남서부에 사는 28살 원 하이빈은 암 치료비를 마련하기 위해 매일 라이브 방송을 진행하고 있습니다.\n\n원 씨는 중학교 동창인 아내 양 샤오홍과 결혼한 뒤 두 딸을 품에 안았고, 건설 현장 일을 하며 가족들의 생계를 꾸려나갔습니다.\n\n그러던 중, 지난해 6월 둘째 딸이 '횡문근육종'이라는 암 진단을 받은 데 이어, 지난해 12월에는 아내 역시 유방암 진단을 받으면서 삶이 송두리째 바뀌었습니다.\n\n아내는 경제적인 부담을 주지 않기 위해 치료를 포기하려 했지만, 원 씨는 끝까지 두 사람을 지키기로 결심했습니다.\n\n하지만 현실은 녹록지 않았습니다.\n\n항암 치료와 방사선 치료가 본격적으로 시작되면서 그동안 모아둔 돈은 바닥났고 빚은 20만 위안, 우리 돈으로 약 3,800만 원에 달했습니다.\n\n아내와 딸을 돌보기 위해 건설 현장 일을 그만두면서 수입도 끊겼습니다.\n<div class=\"ynaobject ynaimage ynatype_01\"><img class=\"yna_img\" src=\"https://yonhapnewstv-prod.s3.ap-northeast-2.amazonaws.com/article/AKR/20250707/AKR20250707153930831_01_i.jpg\" alt=\"\"><span class=\"yna_title\"></span><span class=\"yna_caption\">[출처=사우스차이나모닝포스트(SCMP)]</span><span class=\"yna_description\">[출처=사우스차이나모닝포스트(SCMP)]</span></div>\n벼랑 끝에 내몰린 원 씨는 지푸라기라도 잡는 심정으로 지난 4월부터 가족이 잠든 밤마다 춤을 추며 라이브 방송을 시작했습니다.\n\n처음에는 어색했지만, 두 달 만에 실력이 크게 늘었고 하룻밤에 수십 위안에서 수백 위안까지 버는 날도 있었습니다.\n\n원 씨의 사연이 알려지면서, 시청자들의 기부도 이어졌습니다.\n\n집주인은 월세를 900위안에서 600위안으로 낮춰줬습니다.\n\n원 씨는 \"내가 포기한다면 아내와 딸이 무력해질 것\"이라며 \"가족을 위해서라면 무엇이든 할 수 있다\"고 말했습니다.\n\n다행히 아내와 딸은 조금씩 호전을 보이고 있는 것으로 전해졌습니다.\n\n원 씨의 헌신적인 사연에 중국 누리꾼들은 \"그의 노력은 반드시 보답받을 것\", \"평범한 사람이 희망을 만들어가는 모습이 감동적\"이라며 원 씨를 응원했습니다,\n\n#암투병 #라이브방송\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김예림(lim@yna.co.kr)",
          "content:encodedSnippet": "[출처=사우스차이나모닝포스트(SCMP)][출처=사우스차이나모닝포스트(SCMP)]\n[출처=사우스차이나모닝포스트(SCMP)][출처=사우스차이나모닝포스트(SCMP)]\n벼랑 끝에 내몰린 원 씨는 지푸라기라도 잡는 심정으로 지난 4월부터 가족이 잠든 밤마다 춤을 추며 라이브 방송을 시작했습니다.\n\n처음에는 어색했지만, 두 달 만에 실력이 크게 늘었고 하룻밤에 수십 위안에서 수백 위안까지 버는 날도 있었습니다.\n\n원 씨의 사연이 알려지면서, 시청자들의 기부도 이어졌습니다.\n\n집주인은 월세를 900위안에서 600위안으로 낮춰줬습니다.\n\n원 씨는 \"내가 포기한다면 아내와 딸이 무력해질 것\"이라며 \"가족을 위해서라면 무엇이든 할 수 있다\"고 말했습니다.\n\n다행히 아내와 딸은 조금씩 호전을 보이고 있는 것으로 전해졌습니다.\n\n원 씨의 헌신적인 사연에 중국 누리꾼들은 \"그의 노력은 반드시 보답받을 것\", \"평범한 사람이 희망을 만들어가는 모습이 감동적\"이라며 원 씨를 응원했습니다,\n\n#암투병 #라이브방송\n\n연합뉴스TV 기사문의 및 제보 : 카톡/라인 jebo23\n\n김예림(lim@yna.co.kr)",
          "enclosure": {
            "url": "https://d2k5miyk6y5zf0.cloudfront.net/article/AKR/20250707/AKR20250707153930831_02_i.jpg",
            "type": "image/jpeg"
          },
          "dc:creator": "김예림",
          "comments": "https://www.yonhapnewstv.co.kr/news/AKR20250707153930831#comments",
          "content": "[출처=사우스차이나모닝포스트(SCMP)][출처=사우스차이나모닝포스트(SCMP)] 아내와 딸이 동시에 암 판정을 받은 한 남성이 매일 밤 라이브 방송으로 춤을 추며 가족을 지키기 위한 사투를 벌이고 있습니다. 6일 홍콩 사우스차이나모닝포스트(SCMP)에 따르면, 중국 남서부에 사는 28살 원 하이빈은 암 치료비를 마련하기 위해 매일 라이브 방송을 진행하고 있습니다. 원 씨는 중학교 동창인 아내 양 샤오홍과 결혼한 뒤 두 딸을 품에 안았고, ...",
          "contentSnippet": "[출처=사우스차이나모닝포스트(SCMP)][출처=사우스차이나모닝포스트(SCMP)] 아내와 딸이 동시에 암 판정을 받은 한 남성이 매일 밤 라이브 방송으로 춤을 추며 가족을 지키기 위한 사투를 벌이고 있습니다. 6일 홍콩 사우스차이나모닝포스트(SCMP)에 따르면, 중국 남서부에 사는 28살 원 하이빈은 암 치료비를 마련하기 위해 매일 라이브 방송을 진행하고 있습니다. 원 씨는 중학교 동창인 아내 양 샤오홍과 결혼한 뒤 두 딸을 품에 안았고, ...",
          "guid": "AKR20250707153930831",
          "categories": [
            "최신"
          ],
          "isoDate": "2025-07-07T06:39:32.000Z"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "울산의 한 아파트 단지에서 관리사무소 직원 전원이 일부 동대표들의 부당한 대우로 사직.\n사직 사유: 부당한 책임 전가, 언어폭력, 비상식적인 업무지시 등.\n관리사무소는 구청에 민원을 넣고 조사 대기 중."
        }
      },
      {
        "json": {
          "output": "중국 청년 실업률 심각, 경기 침체 및 미중 무역 갈등 영향\n명문대 졸업생의 '오버 스펙 현상' 심화\n고학력 배달원 채용 논란 발생\n"
        }
      },
      {
        "json": {
          "output": "코스피 0.17% 상승 마감\n코스닥 0.34% 상승 마감\n원·달러 환율 5.5원 상승 마감\n삼성전자 2.5% 넘게 하락"
        }
      },
      {
        "json": {
          "output": "경남 밀양 낮 기온 39.2도, 7월 상순 기온 역대 최고치 기록.\n경남 모든 시군에 폭염특보 발령.\n온열질환자 수 106명(사망 1명 포함), 작년 동기 대비 2배 이상 증가.\n"
        }
      },
      {
        "json": {
          "output": "중국 항공모함 '산둥함'이 홍콩 반환 28주년 맞아 첫 방문 후 닷새간 일정을 마치고 출항. 3만 명 넘는 홍콩 시민이 함정 관람."
        }
      },
      {
        "json": {
          "output": "우크라이나, 러시아가 라오스군 공병을 우크라이나 전쟁에 끌어들이려 한다고 주장\n라오스는 러시아군 병사들에게 무료 의료 지원 제공\n러시아는 최소 21개국에서 용병이나 노동자 모집 중\n"
        }
      },
      {
        "json": {
          "output": "대전에서 60대 남성이 층간소음 문제로 찾아온 이웃에게 끓는 식용유를 끼얹고 흉기로 협박하여 체포됨.\n"
        }
      },
      {
        "json": {
          "output": "- 윤석열 전 대통령 구속 여부 영장실질심사 수요일 서울중앙지법에서 진행, 직접 출석 의사 밝힘.\n- 특검, 윤 전 대통령 구속영장 유출 확인 후 유출 경위 조사 방침.\n- 노상원 전 정보사령관 재구속 여부 심문 진행, 개인정보보호법 위반 혐의 추가 기소.\n- 김건희 특검, 삼부토건 주가 조작 의혹 관련자 소환 조사 중.\n- 순직해병 특검, 김계환 전 해병대 사령관 피의자 소환 조사 중."
        }
      },
      {
        "json": {
          "output": "스페인 팔마 마요르카 공항에서 라이언에어 항공기 화재 경보로 승객들이 비행기 날개 위로 대피, 일부는 뛰어내려 18명 부상. 라이언에어는 오경보라고 해명, 초기 대응 부실 비판 제기.\n"
        }
      },
      {
        "json": {
          "output": "전진우, 어지럼증으로 동아시안컵 대표팀 중도 하차. 정승원 대체 발탁."
        }
      },
      {
        "json": {
          "output": "암투병 중인 아내와 딸을 위해 원 씨가 밤마다 춤을 추며 라이브 방송을 하여 치료비를 벌고 있으며, 시청자들의 기부와 집주인의 월세 감면으로 어려움을 극복하고 있다.\n"
        }
      }
    ],
    "Aggregate": [
      {
        "json": {
          "output": [
            "울산의 한 아파트 단지에서 관리사무소 직원 전원이 일부 동대표들의 부당한 대우로 사직.\n사직 사유: 부당한 책임 전가, 언어폭력, 비상식적인 업무지시 등.\n관리사무소는 구청에 민원을 넣고 조사 대기 중.",
            "중국 청년 실업률 심각, 경기 침체 및 미중 무역 갈등 영향\n명문대 졸업생의 '오버 스펙 현상' 심화\n고학력 배달원 채용 논란 발생\n",
            "코스피 0.17% 상승 마감\n코스닥 0.34% 상승 마감\n원·달러 환율 5.5원 상승 마감\n삼성전자 2.5% 넘게 하락",
            "경남 밀양 낮 기온 39.2도, 7월 상순 기온 역대 최고치 기록.\n경남 모든 시군에 폭염특보 발령.\n온열질환자 수 106명(사망 1명 포함), 작년 동기 대비 2배 이상 증가.\n",
            "중국 항공모함 '산둥함'이 홍콩 반환 28주년 맞아 첫 방문 후 닷새간 일정을 마치고 출항. 3만 명 넘는 홍콩 시민이 함정 관람.",
            "우크라이나, 러시아가 라오스군 공병을 우크라이나 전쟁에 끌어들이려 한다고 주장\n라오스는 러시아군 병사들에게 무료 의료 지원 제공\n러시아는 최소 21개국에서 용병이나 노동자 모집 중\n",
            "대전에서 60대 남성이 층간소음 문제로 찾아온 이웃에게 끓는 식용유를 끼얹고 흉기로 협박하여 체포됨.\n",
            "- 윤석열 전 대통령 구속 여부 영장실질심사 수요일 서울중앙지법에서 진행, 직접 출석 의사 밝힘.\n- 특검, 윤 전 대통령 구속영장 유출 확인 후 유출 경위 조사 방침.\n- 노상원 전 정보사령관 재구속 여부 심문 진행, 개인정보보호법 위반 혐의 추가 기소.\n- 김건희 특검, 삼부토건 주가 조작 의혹 관련자 소환 조사 중.\n- 순직해병 특검, 김계환 전 해병대 사령관 피의자 소환 조사 중.",
            "스페인 팔마 마요르카 공항에서 라이언에어 항공기 화재 경보로 승객들이 비행기 날개 위로 대피, 일부는 뛰어내려 18명 부상. 라이언에어는 오경보라고 해명, 초기 대응 부실 비판 제기.\n",
            "전진우, 어지럼증으로 동아시안컵 대표팀 중도 하차. 정승원 대체 발탁.",
            "암투병 중인 아내와 딸을 위해 원 씨가 밤마다 춤을 추며 라이브 방송을 하여 치료비를 벌고 있으며, 시청자들의 기부와 집주인의 월세 감면으로 어려움을 극복하고 있다.\n"
          ]
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7fcb6fb8-512b-4eb8-91cd-16b1c9141525",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "Gkigryelaj3dwjlJ",
  "tags": []
}