n8n/010_youtube_transcript.json
{
  "name": "010_youtube_transcript",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -440,
        260
      ],
      "id": "46073f20-cd46-4b6a-afc0-06000e7c00ff",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f5642ab-c972-433b-9367-a033fd26135a",
              "name": "url",
              "value": "https://www.youtube.com/watch?v=E4l91XKQSgw",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        260
      ],
      "id": "0f61f466-b9fa-42eb-8936-7e6992254bb5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "youtubeURL": "={{ $json.url }}",
        "language": "ko"
      },
      "type": "n8n-nodes-youtube-transcript-api.youtubeTranscriptApi",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "02a7771c-9a84-4d26-8d6b-bf9240957dca",
      "name": "Youtube Transcript",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcript }}\n\n------\n\n위의 유튜브 스크립트 내용을 짧게 요약해줘.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        540,
        80
      ],
      "id": "d852f42e-f619-48cb-b7c9-015b038555c0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        540,
        260
      ],
      "id": "f9323803-f7a5-474d-92ff-ad32884ad1cd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "youtubeURL": "={{ $json.url }}"
      },
      "type": "n8n-nodes-youtube-transcript-api.youtubeTranscriptApi",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "5fefb307-a221-4d4c-80b3-8c67297d7b2f",
      "name": "Youtube Transcript1",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        200,
        80
      ],
      "id": "4a4bb3fb-9eff-47d7-9a57-60fad4a95422",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "transcript"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        360,
        80
      ],
      "id": "ab829f10-8cfa-49d8-93bf-e92d62fb5e78",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "public": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -480,
        80
      ],
      "id": "8fbbe5f2-773e-4b79-96b4-1870c6db5987",
      "name": "When chat message received",
      "webhookId": "585b468a-c741-4954-bcd3-c01c623c04f0"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3fabbdcb-1c23-48e0-80e0-ca0eaac1e39d",
              "name": "url",
              "value": "={{  $json.chatInput.match(/https?:\\/\\/(www\\.)?(youtube\\.com|youtu\\.be)\\/[^\\s]+/)?.[0] || null }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -340,
        80
      ],
      "id": "e3f127e1-865f-4848-a006-05ae1bbad941",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "de1a2d5b-42d8-48dc-8392-4d82b071e0df",
              "leftValue": "={{ $json.url === null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        80
      ],
      "id": "24b66def-315f-403b-8601-3565dc739b21",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Transcript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Transcript1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Youtube Transcript1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Youtube Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "79d3f4b7-86e9-4dea-b977-5978d2e1ee4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "H4m9p2rkRSvgwbKE",
  "tags": []
}