n8n/020_1_RAG_superbase.json
{
  "name": "020-1-RAG-superbase",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        -120
      ],
      "id": "08913e9d-aac5-4d8f-88df-16642fff3bad",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "17rOLobNoq8cSarCdxofbVIxXk53jxC27",
            "mode": "list",
            "cachedResultName": "ai_blog",
            "cachedResultUrl": "https://drive.google.com/drive/folders/17rOLobNoq8cSarCdxofbVIxXk53jxC27"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        -120
      ],
      "id": "f9568661-3466-413d-b1f4-5c045adaf70e",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wx9sd36yKQIPevIM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -100,
        -120
      ],
      "id": "a85a7fe0-d6b9-48aa-99e1-ef9aa5720e6d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "wx9sd36yKQIPevIM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        120,
        -120
      ],
      "id": "dcd16047-bb5e-48b0-b83a-ec6046f1b73a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        340,
        120
      ],
      "id": "9303679a-67d5-4713-b47e-ba48c94af96e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        480,
        60
      ],
      "id": "6d33caa5-9b60-4877-8268-eb6dc6a648d7",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 5000,
        "chunkOverlap": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "id": "3745479f-e534-45a7-926c-719d44c2666b",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -540,
        220
      ],
      "id": "ec403c73-12b2-41c9-be06-a330ebbcb6bd",
      "name": "When chat message received",
      "webhookId": "fdb7f6c4-1ee5-48a5-883f-c004e0b7988e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.6,
      "position": [
        -320,
        220
      ],
      "id": "63c24341-6570-4e95-b14e-78915f781e6a",
      "name": "Question and Answer Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -340,
        400
      ],
      "id": "fdfd5501-bee9-43c0-a8b3-ee6151701bb9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        -200,
        400
      ],
      "id": "f404c319-32d9-4782-8962-22364536a3f0",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -60,
        700
      ],
      "id": "de4dd708-ffc8-464c-b151-ffd583abfece",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "blog",
          "mode": "list",
          "cachedResultName": "blog"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        340,
        -120
      ],
      "id": "e1549abe-0dcd-49e1-83b4-adb0252c200a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Sm7t4ZkqwaG6wCdq",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "blog",
          "mode": "list",
          "cachedResultName": "blog"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -100,
        540
      ],
      "id": "2e5147aa-02b2-4a8a-ad29-0163d6f08178",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Sm7t4ZkqwaG6wCdq",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ],
    "Search files and folders": [
      {
        "json": {
          "id": "1FDJ96D_J6XH5TtMtMx3L7qPfToQvu8f5",
          "name": "전라남도_국가_AI_컴퓨팅센터_조성_및_AI_슈퍼클러스터_구축_지원_촉구_건의문___과학기술정보방송통신위원회.pdf"
        }
      },
      {
        "json": {
          "id": "1HmyF2zJWaK1-EjQPNnNo1jalrMEagmvN",
          "name": "구제역_및_AI_가축매몰지_친환경적_사후관리기법_연구.pdf"
        }
      },
      {
        "json": {
          "id": "1Sp0_m3nADUpj1tApXcGLg-h7DFoapGZt",
          "name": "개발운용조직_통합관리(DevOps)기반_AI_무기체계_소프트웨어_개발에_대한_연구.pdf"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9383da89-c5f7-4a1c-8d80-7252cb867aef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "SQLUgNmFXPcPf7z1",
  "tags": []
}