n8n/021_news_rag.json
{
  "name": "021-news-rag",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -280,
        -140
      ],
      "id": "0cfebf7e-93a3-4516-b960-b289786a57e2",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1803e1ee-8568-469b-9b49-4c132eb53cfc",
              "name": "feed",
              "value": "=[\n\t{\"category\": \"최신\", \"url\": \"http://www.yonhapnewstv.co.kr/browse/feed/\"},\n\t{\"category\": \"헤드라인\", \"url\": \"http://www.yonhapnewstv.co.kr/category/news/headline/feed/\"},\n\t{\"category\": \"정치\", \"url\": \"http://www.yonhapnewstv.co.kr/category/news/politics/feed/\"},\n\t{\"category\": \"경제\", \"url\": \"http://www.yonhapnewstv.co.kr/category/news/economy/feed/\"},\n\t{\"category\": \"사회\", \"url\": \"http://www.yonhapnewstv.co.kr/category/news/society/feed/\"},\n\t{\"category\": \"지역\", \"url\": \"http://www.yonhapnewstv.co.kr/category/news/local/feed/\"},\n\t{\"category\": \"세계\", \"url\": \"http://www.yonhapnewstv.co.kr/category/news/international/feed/\"},\n\t{\"category\": \"문화ㆍ연예\", \"url\": \"http://www.yonhapnewstv.co.kr/category/news/culture/feed/\"},\n\t{\"category\": \"스포츠\", \"url\": \"http://www.yonhapnewstv.co.kr/category/news/sports/feed/\"},\n\t{\"category\": \"날씨\", \"url\": \"http://www.yonhapnewstv.co.kr/category/news/weather/feed/\"}\n]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -120,
        -140
      ],
      "id": "bd255a04-d427-419b-9eae-6609c258fd35",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "fieldToSplitOut": "feed",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        40,
        -140
      ],
      "id": "d3594a8c-8473-40a9-90ad-ad593e7088e9",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        220,
        -140
      ],
      "id": "7c4967d5-1006-47a1-bb44-0809da6db991",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        420,
        -80
      ],
      "id": "f8d8875d-cc2f-471d-b4db-a6bdbf285b1b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        560,
        -80
      ],
      "id": "0eb953fb-f7e3-4dfb-a55e-94df64872bcd",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "JZlK4sbXsHjCmFPI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "edbe93e5-ff61-46c2-87dd-9c42a33215be",
              "leftValue": "={{ $json.propertyName === null}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        700,
        -80
      ],
      "id": "da870b01-94f9-46fe-9541-be8a45bac1cc",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('RSS Read').item.json.link }}",
        "value": "={{ $('RSS Read').item.json.pubDate }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        900,
        -160
      ],
      "id": "6cdfa911-845e-4a38-962a-55c42ccad7e5",
      "name": "Redis1",
      "credentials": {
        "redis": {
          "id": "JZlK4sbXsHjCmFPI",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "news",
          "mode": "list",
          "cachedResultName": "news"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        1060,
        -160
      ],
      "id": "97de20db-cd13-401a-8171-ef2176949d80",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1000,
        60
      ],
      "id": "a9de8bc4-47ca-44e5-a8f9-2a26beaf299f",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "Iy5TlhG2RJOqeaMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=날짜: {{ $('RSS Read').item.json.pubDate }}\n제목: {{ $('RSS Read').item.json.title }}\n카테고리: {{ $('RSS Read').item.json.categories[0] }}\n내용: {{ $('RSS Read').item.json['content:encodedSnippet'] }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "pubDate",
                "value": "={{ $('RSS Read').item.json.pubDate }}"
              },
              {
                "name": "link",
                "value": "={{ $('RSS Read').item.json.link }}"
              },
              {
                "name": "title",
                "value": "={{ $('RSS Read').item.json.title }}"
              },
              {
                "name": "category",
                "value": "={{ $('RSS Read').item.json.categories[0] }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1140,
        40
      ],
      "id": "fcc93843-8981-4390-ab40-a5191415e30c",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 500,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1140,
        180
      ],
      "id": "0b78b5c7-c47e-49c9-b9b5-ae057433fc5f",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -60,
        300
      ],
      "id": "206d3efe-3829-48a6-9b85-736b921daa9d",
      "name": "When chat message received",
      "webhookId": "13e71fd5-d7c1-494f-8a9d-8d0be596d52b"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        140,
        300
      ],
      "id": "d4b99a7f-0e19-4695-93d3-c20190f0bb32",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        100,
        480
      ],
      "id": "1ca9fb23-11b1-4085-830e-811911886d6a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Iy5TlhG2RJOqeaMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        480
      ],
      "id": "9c45aaf0-7bea-4c4a-a9d1-6d86ca6caa6a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "news_vector_tool",
        "description": "뉴스 벡터 검색 툴"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        480,
        480
      ],
      "id": "4fb45fda-8b63-4d02-8865-f2df0a648707",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "qdrantCollection": {
          "__rl": true,
          "value": "news",
          "mode": "list",
          "cachedResultName": "news"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        360,
        600
      ],
      "id": "0def1a3b-892f-4b49-ac45-b251aed1b8cd",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "sFfERYppMeBnFNeA",
          "name": "Local QdrantApi database"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-large",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        700
      ],
      "id": "222a0da0-6451-47f4-895d-1d6c55f971ee",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "Iy5TlhG2RJOqeaMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        600
      ],
      "id": "e1b91e24-c8ad-474f-8c97-18dd7171cf8a",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "Iy5TlhG2RJOqeaMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "name": "web_search_tool",
        "description": "웹 검색을 위툴",
        "workflowId": {
          "__rl": true,
          "value": "5psLXk247CweYOkM",
          "mode": "list",
          "cachedResultName": "004-1-search"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        320,
        480
      ],
      "id": "b655ac48-1c99-4e56-9850-350507623f0b",
      "name": "Call n8n Workflow Tool"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Redis1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis1": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cbbd4f0-d651-4603-bc43-708f3d639e19",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "FHglYlrio1eCYRuh",
  "tags": []
}