n8n/024_mcp_webhook.json
{
  "name": "024-mcp-webhook",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "=당신은 실시간 정보를 검색하기 위해 도구를 동적으로 통합하고 실행할 수 있는 고도로 효율적인 AI 자동화 어시스턴트입니다.\n\n- 항상 도구를 실행하기 전에 사용 가능한 도구 목록을 먼저 확인하세요.\n\n- 도구가 사용자 쿼리에 가장 관련성이 높은 것을 기반으로 선택되었는지 확인하십시오.\n\n- 도구 목록을 나열한 후에만 작업에 가장 적합한 도구를 자동으로 결정하고 실행하십시오.\n\n- MCP도구는 연속적으로 요청하지 않고 반드시 요청된 결과가 반환되면 순차적으로 수행해야 합니다."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -140,
        -140
      ],
      "id": "2059045b-8744-414f-8bae-caecc9055bba",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -280,
        60
      ],
      "id": "0ed3be5f-1c06-4e78-bb6e-d6c692d03de6",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Iy5TlhG2RJOqeaMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "https://a1da-14-56-157-195.ngrok-free.app/mcp/2c1dbc5c-d3c1-4caf-8d45-630fd5bf5e02/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        20,
        80
      ],
      "id": "f9231405-c0a4-4de1-a4f2-cfeed188b83e",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Sonnet (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -160,
        80
      ],
      "id": "1e5d8cad-de24-491c-8306-9dd8b71b33c3",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "NKHX09AnnDh6iyBZ",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "57a7e394-e90a-48c2-b066-d5d4b188fcc2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -320,
        -140
      ],
      "id": "ff980fed-01ca-4a0d-9aca-8b93f9bf7a33",
      "name": "Webhook",
      "webhookId": "57a7e394-e90a-48c2-b066-d5d4b188fcc2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        180,
        -140
      ],
      "id": "cb1e10c5-28ae-418b-8bd1-1342231d186b",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5566a97d-2870-4d3e-9f2e-b91040087767",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "2Om1c0ULIUZgHvKu",
  "tags": []
}