n8n/024_mcp_webhook.json
{
  "name": "024-mcp-webhook",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.query }}",
        "options": {
          "systemMessage": "=당신은 실시간 정보를 검색하기 위해 도구를 동적으로 통합하고 실행할 수 있는 고도로 효율적인 AI 자동화 어시스턴트입니다.\n\n- 항상 도구를 실행하기 전에 사용 가능한 도구 목록을 먼저 확인하세요.\n- 도구가 사용자 쿼리에 가장 관련성이 높은 것을 기반으로 선택되었는지 확인하세요.\n- 도구 목록을 나열한 후에만 작업에 가장 적합한 도구를 자동으로 결정하고 실행하세요.\n- MCP도구는 연속적으로 요청하지 않고 반드시 요청된 결과가 반환되면 순차적으로 수행해야 합니다."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "e739464f-002b-4c71-a64a-9ad7b31452a7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        160,
        200
      ],
      "id": "88817a90-e8e0-48f6-a481-0e37f670d049",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sseEndpoint": "http://localhost:5678/mcp/955b83d3-f2fc-4d54-a264-e1a8767c1fa9"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        420,
        200
      ],
      "id": "0ee02aa0-8cb1-4db4-a94b-6ced0c88d1c7",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "2c9f4a3c-ed01-48ef-9694-159fb1bc2f20",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "804cb71b-f29f-4bdc-abdd-574d6296a1f0",
      "name": "Webhook",
      "webhookId": "2c9f4a3c-ed01-48ef-9694-159fb1bc2f20"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        580,
        0
      ],
      "id": "3f344a10-04f1-4c1d-987c-42b2e6b47b28",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "content": "일레븐랩스에서는 Timeout 설정이 없기 때문에 속도 개선을 위해 OpenAPI를 바꿔서 성능 테스트를 한다.\n4.0 mini -> 4.1 mini"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        220
      ],
      "id": "691f5345-2b25-401a-ab92-8934e7494fc9",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d5ff7734-730a-4781-bdbb-7e0d5646c192",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "DMndCMJvdKtdEWcm",
  "tags": []
}