n8n/s_apart_gap.json
{
  "name": "s-apart-gap",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        -60
      ],
      "id": "8a3ccd78-6798-485c-8120-d7a05cac4fce",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2f5e813-d267-4672-a759-8eac03d43625",
              "name": "keyword",
              "value": " 광진구",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        40
      ],
      "id": "ccecf7e8-a4b4-4f8d-bbda-f833940da6b0",
      "name": "Set Keyword"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332ed370-6fb8-45a2-9510-7038a7c99e07",
              "name": "service_key",
              "value": "WE0m2%2F8pvymPJh7Jw%2BdulEbFj0z80p%2Byu%2BrTz2h1nbSJN%2FBzudIS8s9X6cdE580hVt%2FYGymoDCdDtLbpgbZU8A%3D%3D",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        -140
      ],
      "id": "f31b5c98-ead6-4566-adeb-7009638d61d8",
      "name": "Set ServiceKey"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        -40
      ],
      "id": "a9fea65f-4100-4554-b40b-15537184a308",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://apis.data.go.kr/1741000/StanReginCd/getStanReginCdList?serviceKey={{ $json.service_key }}&pageNo=1&numOfRows=3&type=json&locatadd_nm={{ $json.keyword }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -40
      ],
      "id": "dac5f004-b117-4623-b907-5bc8a72cb387",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nstr_data = _input.item.json.data\n# print(str_data)\n\nj_data = json.loads(str_data)\nrow = j_data.get(\"StanReginCd\")[1].get(\"row\")\nresult = row[0].get(\"region_cd\")[0:5]\n#print(result)\n\nreturn [{\n  \"code\" : result\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -40
      ],
      "id": "3be4ef69-3a21-428f-8777-f7a26b6e74ad",
      "name": "Get DongCode"
    },
    {
      "parameters": {
        "toolDescription": "API 툴",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        480,
        60
      ],
      "id": "caae12df-1875-4882-8252-cde80647e7e6",
      "name": "API TOOL"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"result\": \"API 호출 결과\",\n  \"date\": \"DEAL_YMD 값\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        600,
        60
      ],
      "id": "b09f3429-47b1-41e6-902d-5d91db660785",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        60
      ],
      "id": "1899b6dd-f4ba-4889-baf9-c905e30600a0",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\ns_result = _input.item.json.output.result\nj_result = json.loads(s_result)\nitem = j_result[0].get(\"response\").get(\"body\").get(\"items\").get(\"item\")\nreturn [{\n  \"trade_item\":item\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -160
      ],
      "id": "356d5ee1-8ca8-4f38-8ad4-cecd08276b20",
      "name": "TradeCode"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 API 호출 Agent 입니다.\n\n기본URL:\nhttps://apis.data.go.kr/1613000/RTMSDataSvcAptTradeDev/getRTMSDataSvcAptTradeDev\n\n파라메터:\nserviceKey={{ $('Set ServiceKey').item.json.service_key }}\nLAWD_CD={{ $json.code }}\npageNo=1\nnumOfRows=50\nDEAL_YMD=yyyMM\n\n------\n\n오늘날짜:\n{{ $now }}\n\n------\n\n[주요지침]\n- 위에서 주어진 파라메터와 기본URL을 조합하여 API TOOL을 사용하여 API를 호출 하세요.\n- DEAL_YMD 초기값은 오늘 날짜 기준 -1월 입니다. 예를 들어 오늘이 2025-12-11일 이면 초기값은 202511 입니다.\n- 만약 결과가 없으면 DEAL_YMD 값에서 월을 하나 줄여서 다시 시도합니다.\n- API 호출 결과가 나올때까지 최대 10회까지 반복합니다.\n- API 호출 결과는 반환받은 그대로를 JSON 형태로 변환하여 출력합니다. 절대 생략하거나 요약하거나 축소하거나 데이터를 가공하지 않습니다.\n\n[출력예시 JSON]\n{\n  \"result\": \"API 호출 결과\",\n  \"date\": \"DEAL_YMD 값\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        360,
        -160
      ],
      "id": "11be1ff5-fd4c-40bd-9608-4f5732a56a67",
      "name": "Trade AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 API 호출 Agent 입니다.\n\n기본URL:\nhttps://apis.data.go.kr/1613000/RTMSDataSvcAptRent/getRTMSDataSvcAptRent\n\n파라메터:\nserviceKey={{ $('Set ServiceKey').item.json.service_key }}\nLAWD_CD={{ $json.code }}\nDEAL_YMD=yyyMM\n\n------\n\n오늘날짜:\n{{ $now }}\n\n------\n\n[주요지침]\n- 위에서 주어진 파라메터와 기본URL을 조합하여 API TOOL을 사용하여 API를 호출 하세요.\n- DEAL_YMD 초기값은 오늘 날짜 기준 -1월 입니다. 예를 들어 오늘이 2025-12-11일 이면 초기값은 202511 입니다.\n- 만약 결과가 없으면 DEAL_YMD 값에서 월을 하나 줄여서 다시 시도합니다.\n- API 호출 결과가 나올때까지 최대 10회까지 반복합니다.\n- API 호출 결과는 반환받은 그대로를 JSON 형태로 변환하여 출력합니다. 절대 생략하거나 요약하거나 축소하거나 데이터를 가공하지 않습니다.\n\n[출력예시 JSON]\n{\n  \"result\": \"API 호출 결과\",\n  \"date\": \"DEAL_YMD 값\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        360,
        240
      ],
      "id": "c8d54ab1-b295-4f3f-b7b7-8d200089d62d",
      "name": "Rent AI Agent"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\ns_result = _input.item.json.output.result\nj_result = json.loads(s_result)\nitem = j_result[0].get(\"response\").get(\"body\").get(\"items\").get(\"item\")\nreturn [{\n  \"rent_item\":item\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        240
      ],
      "id": "bcfa6e22-beb4-4e21-99ed-62b536120567",
      "name": "RentCode"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        920,
        -20
      ],
      "id": "ad062773-6c20-4781-9077-ca90113917f7",
      "name": "Merge1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "trades = _input.item.json.trade_item\nrents = _input.item.json.rent_item\n\nresults = []\n\nfor r in rents:\n  aptNm = r.get(\"aptNm\")\n  ssgCd = r.get(\"ssgCd\")\n  deposit = int(r.get(\"deposit\").replace(\",\", \"\"))\n  for t in trades:\n    t_aptNm = t.get(\"aptNm\")\n    t_ssgCd = t.get(\"ssgCd\")\n    t_dealAmount = int(t.get(\"dealAmount\").replace(\",\", \"\"))\n    if aptNm == t_aptNm and ssgCd == t_ssgCd:\n      t[\"doposit\"] = deposit\n      t[\"gap\"] = t_dealAmount - deposit\n      results.append(t)\n      break\n  \nreturn [{\n  \"result\" : results\n}]  "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        -20
      ],
      "id": "00498836-c65c-48c1-b6e5-09050d0d7933",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 유능한 부동산 분석 AI Agent 입니다.\n주어진 데이터를 기준으로 주어진 임무를 수행하세요.\n\n------\n\n갭투자 목록:\n{{ JSON.stringify($json.result) }}\n\n------\n\n주요임무:\n- 해당 목록의 투자 정보를 보기 좋은 형태로 출력하세요.\n- Google Docs 문서 포맷을 사용합니다.\n- 마크다운 문법이나 HTML을 사용하지 않고 닷포인트 형식으로 정리하세요.\n- **내용** 과 같은 강조표시 사용금지.\n- **값이 없거나 빈문자열 항목, 정보는 출력하지 않습니다.**\n- 가독성이 좋아야 합니다.\n- 제목에는 {{ $now.format('yyyy-MM-dd') }} 정보가 들어가야 합니다.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1300,
        -20
      ],
      "id": "36dcbf28-7c2e-4e81-a1fa-a2f52144b5d3",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\" : \"제목\",\n  \"content\" : \"내용\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1480,
        200
      ],
      "id": "28a0ed69-7c07-4a27-be6f-9f55d9eb83c7",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1300,
        200
      ],
      "id": "fd3e75ab-b310-4e00-90ee-43c8ccf309e7",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1owpkh5RQlDSXKTIws1Rrc-JOVKQ0DRJy",
        "title": "={{ $json.output.title }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1660,
        -20
      ],
      "id": "cacaf800-ea65-4913-8d13-8756bd208816",
      "name": "Create a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Coe7utnv5weeIOAR",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('AI Agent').item.json.output.content }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        1840,
        -20
      ],
      "id": "bc55ebde-1472-4ca7-81a1-338e4fe3577c",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "Coe7utnv5weeIOAR",
          "name": "Google Docs account"
        }
      }
    }
  ],
  "pinData": {
    "Trade AI Agent": [
      {
        "json": {
          "output": {
            "result": "[{\"response\":{\"header\":{\"resultCode\":\"000\",\"resultMsg\":\"OK\"},\"body\":{\"items\":{\"item\":[{\"aptDong\":\" \",\"aptNm\":\"자양현대5\",\"aptSeq\":\"11215-67\",\"bonbun\":\"0642\",\"bubun\":\"0000\",\"buildYear\":1998,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"128,000\",\"dealDay\":19,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":76.94,\"floor\":8,\"jibun\":642,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로54길\",\"roadNmBonbun\":\"00074\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112280,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"구의현대7단지현대홈타운\",\"aptSeq\":\"11215-27\",\"bonbun\":\"0587\",\"bubun\":\"0054\",\"buildYear\":1997,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"143,000\",\"dealDay\":27,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 송파구\",\"excluUseAr\":84.99,\"floor\":16,\"jibun\":\"587-54\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"구의강변로3가길\",\"roadNmBonbun\":\"00039\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112050,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10300,\"umdNm\":\"구의동\"},{\"aptDong\":\" \",\"aptNm\":\"이튼타워리버2차\",\"aptSeq\":\"11215-2429\",\"bonbun\":\"0507\",\"bubun\":\"0006\",\"buildYear\":2006,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"143,000\",\"dealDay\":27,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.61,\"floor\":4,\"jibun\":\"507-6\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"능동로\",\"roadNmBonbun\":\"00050\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3104007,\"roadNmSeq\":\"03\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"극동1\",\"aptSeq\":\"11215-3\",\"bonbun\":\"0218\",\"bubun\":\"0001\",\"buildYear\":1985,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"330,000\",\"dealDay\":11,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":156.92,\"floor\":11,\"jibun\":\"218-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00552\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"우성3\",\"aptSeq\":\"11215-57\",\"bonbun\":\"0516\",\"bubun\":\"0000\",\"buildYear\":1989,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"124,000\",\"dealDay\":19,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":51.39,\"floor\":12,\"jibun\":516,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로35길\",\"roadNmBonbun\":\"00032\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112258,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"삼성광장2\",\"aptSeq\":\"11215-8\",\"bonbun\":\"0453\",\"bubun\":\"0001\",\"buildYear\":1989,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"133,000\",\"dealDay\":22,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":69.06,\"floor\":10,\"jibun\":\"453-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00544\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"한화꿈에그린\",\"aptSeq\":\"11215-2438\",\"bonbun\":\"0853\",\"bubun\":\"0000\",\"buildYear\":2006,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"189,000\",\"dealDay\":30,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":138.85,\"floor\":2,\"jibun\":853,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로24길\",\"roadNmBonbun\":\"00074\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112243,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"래미안파크스위트\",\"aptSeq\":\"11215-4466\",\"bonbun\":\"0668\",\"bubun\":\"0000\",\"buildYear\":2018,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"127,000\",\"dealDay\":17,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":59.98,\"floor\":3,\"jibun\":668,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"광나루로\",\"roadNmBonbun\":\"00545\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3005024,\"roadNmSeq\":\"00\",\"roadNmSggCd\":11215,\"roadNmbCd\":\" \",\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10300,\"umdNm\":\"구의동\"},{\"aptDong\":\" \",\"aptNm\":\"우성3\",\"aptSeq\":\"11215-57\",\"bonbun\":\"0516\",\"bubun\":\"0000\",\"buildYear\":1989,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"151,500\",\"dealDay\":20,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.91,\"floor\":15,\"jibun\":516,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로35길\",\"roadNmBonbun\":\"00032\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112258,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"우성1\",\"aptSeq\":\"11215-55\",\"bonbun\":\"0579\",\"bubun\":\"0000\",\"buildYear\":1988,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"109,500\",\"dealDay\":16,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구, 서울 동작구\",\"excluUseAr\":59.91,\"floor\":6,\"jibun\":579,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로41길\",\"roadNmBonbun\":\"00020\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112264,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"우성3\",\"aptSeq\":\"11215-57\",\"bonbun\":\"0516\",\"bubun\":\"0000\",\"buildYear\":1989,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"160,000\",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구, 서울 성동구\",\"excluUseAr\":84.91,\"floor\":5,\"jibun\":516,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로35길\",\"roadNmBonbun\":\"00032\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112258,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"현대3\",\"aptSeq\":\"11215-73\",\"bonbun\":\"0670\",\"bubun\":\"0000\",\"buildYear\":1996,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"114,000\",\"dealDay\":25,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.9,\"floor\":2,\"jibun\":670,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로58길\",\"roadNmBonbun\":\"00101\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112287,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"우성3\",\"aptSeq\":\"11215-57\",\"bonbun\":\"0516\",\"bubun\":\"0000\",\"buildYear\":1989,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"114,000\",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":51.39,\"floor\":2,\"jibun\":516,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로35길\",\"roadNmBonbun\":\"00032\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112258,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"자양우성7\",\"aptSeq\":\"11215-64\",\"bonbun\":\"0783\",\"bubun\":\"0001\",\"buildYear\":1998,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"139,000\",\"dealDay\":20,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.93,\"floor\":1,\"jibun\":\"783-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로36길\",\"roadNmBonbun\":\"00039\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112322,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"래미안파크스위트\",\"aptSeq\":\"11215-4466\",\"bonbun\":\"0668\",\"bubun\":\"0000\",\"buildYear\":2018,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"133,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":59.98,\"floor\":16,\"jibun\":668,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"광나루로\",\"roadNmBonbun\":\"00545\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3005024,\"roadNmSeq\":\"00\",\"roadNmSggCd\":11215,\"roadNmbCd\":\" \",\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10300,\"umdNm\":\"구의동\"},{\"aptDong\":\" \",\"aptNm\":\"극동1\",\"aptSeq\":\"11215-3\",\"bonbun\":\"0218\",\"bubun\":\"0001\",\"buildYear\":1985,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"249,000\",\"dealDay\":12,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":126.94,\"floor\":13,\"jibun\":\"218-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00552\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"화양현대\",\"aptSeq\":\"11215-99\",\"bonbun\":\"0234\",\"bubun\":\"0000\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"85,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":59.99,\"floor\":10,\"jibun\":234,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"동일로24길\",\"roadNmBonbun\":\"00005\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112198,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"화양동\"},{\"aptDong\":\" \",\"aptNm\":\"광진트라팰리스\",\"aptSeq\":\"11215-2457\",\"bonbun\":\"0854\",\"bubun\":\"0000\",\"buildYear\":2006,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"250,000\",\"dealDay\":24,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":169.53,\"floor\":7,\"jibun\":854,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로34길\",\"roadNmBonbun\":\"00067\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112257,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"화양현대\",\"aptSeq\":\"11215-99\",\"bonbun\":\"0234\",\"bubun\":\"0000\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"90,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":59.97,\"floor\":20,\"jibun\":234,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"동일로24길\",\"roadNmBonbun\":\"00005\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112198,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"화양동\"},{\"aptDong\":\" \",\"aptNm\":\"로얄동아\",\"aptSeq\":\"11215-53\",\"bonbun\":\"0644\",\"bubun\":\"0000\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"137,000\",\"dealDay\":16,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.75,\"floor\":22,\"jibun\":644,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로52마길\",\"roadNmBonbun\":\"00056\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112279,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"청구\",\"aptSeq\":\"11215-14\",\"bonbun\":\"0566\",\"bubun\":\"0000\",\"buildYear\":1996,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"125,000\",\"dealDay\":18,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":59.95,\"floor\":13,\"jibun\":566,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00503\",\"roadNmBubun\":\"00023\",\"roadNmCd\":3000002,\"roadNmSeq\":\"00\",\"roadNmSggCd\":11215,\"roadNmbCd\":\" \",\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"현대파크빌\",\"aptSeq\":\"11215-21\",\"bonbun\":\"0577\",\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"194,000\",\"dealDay\":19,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.81,\"floor\":12,\"jibun\":577,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00549\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"한강성원\",\"aptSeq\":\"11215-45\",\"bonbun\":\"0831\",\"bubun\":\"0001\",\"buildYear\":1997,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"134,000\",\"dealDay\":27,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.12,\"floor\":11,\"jibun\":\"831-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"능동로3길\",\"roadNmBonbun\":\"00017\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112151,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"현대13차폴라트리움\",\"aptSeq\":\"11215-2464\",\"bonbun\":\"0199\",\"bubun\":\"0023\",\"buildYear\":2006,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"145,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.85,\"floor\":18,\"jibun\":\"199-23\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"구의강변로\",\"roadNmBonbun\":\"00102\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3104003,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10300,\"umdNm\":\"구의동\"},{\"aptDong\":\" \",\"aptNm\":\"현대홈타운12차\",\"aptSeq\":\"11215-130\",\"bonbun\":\"0580\",\"bubun\":\"0000\",\"buildYear\":2004,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"240,000\",\"dealDay\":22,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":143.86,\"floor\":11,\"jibun\":580,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"천호대로\",\"roadNmBonbun\":\"00808\",\"roadNmBubun\":\"00000\",\"roadNmCd\":2000008,\"roadNmSeq\":\"04\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"래미안파크스위트\",\"aptSeq\":\"11215-4466\",\"bonbun\":\"0668\",\"bubun\":\"0000\",\"buildYear\":2018,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"134,000\",\"dealDay\":30,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":59.98,\"floor\":9,\"jibun\":668,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"광나루로\",\"roadNmBonbun\":\"00545\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3005024,\"roadNmSeq\":\"00\",\"roadNmSggCd\":11215,\"roadNmbCd\":\" \",\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10300,\"umdNm\":\"구의동\"},{\"aptDong\":\" \",\"aptNm\":\"자양현대5\",\"aptSeq\":\"11215-67\",\"bonbun\":\"0642\",\"bubun\":\"0000\",\"buildYear\":1998,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"94,500\",\"dealDay\":16,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":59.88,\"floor\":3,\"jibun\":642,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로54길\",\"roadNmBonbun\":\"00074\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112280,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"더샵스타시티\",\"aptSeq\":\"11215-2478\",\"bonbun\":\"0227\",\"bubun\":\"0007\",\"buildYear\":2007,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"230,000\",\"dealDay\":18,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구, 서울 마포구, 서울 송파구\",\"excluUseAr\":131.37,\"floor\":48,\"jibun\":\"227-7\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00262\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"03\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"대동\",\"aptSeq\":\"11215-51\",\"bonbun\":\"0784\",\"bubun\":\"0001\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"100,000\",\"dealDay\":26,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":59.54,\"floor\":5,\"jibun\":\"784-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로31길\",\"roadNmBonbun\":\"00020\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112253,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"이튼타워리버5차\",\"aptSeq\":\"11215-2790\",\"bonbun\":\"0856\",\"bubun\":\"0000\",\"buildYear\":2009,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"205,000\",\"dealDay\":18,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":122.55,\"floor\":2,\"jibun\":856,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"능동로4길\",\"roadNmBonbun\":\"00040\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112166,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"현대강변\",\"aptSeq\":\"11215-76\",\"bonbun\":\"0673\",\"bubun\":\"0000\",\"buildYear\":1991,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"109,500\",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":81.94,\"floor\":2,\"jibun\":673,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"자양로3가길\",\"roadNmBonbun\":\"00043\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112445,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"e편한세상광진그랜드파크\",\"aptSeq\":\"11215-4893\",\"bonbun\":\"0680\",\"bubun\":\"0000\",\"buildYear\":2021,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"193,000\",\"dealDay\":20,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"직거래\",\"estateAgentSggNm\":\" \",\"excluUseAr\":115.9979,\"floor\":28,\"jibun\":680,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"광나루로\",\"roadNmBonbun\":\"00458\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3005024,\"roadNmSeq\":\"00\",\"roadNmSggCd\":11215,\"roadNmbCd\":\" \",\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10300,\"umdNm\":\"구의동\"},{\"aptDong\":\" \",\"aptNm\":\"현대파크빌\",\"aptSeq\":\"11215-21\",\"bonbun\":\"0577\",\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"182,000\",\"dealDay\":11,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.81,\"floor\":7,\"jibun\":577,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00549\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"자양호반써밋\",\"aptSeq\":\"11215-4849\",\"bonbun\":\"0861\",\"bubun\":\"0000\",\"buildYear\":2021,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"92,000\",\"dealDay\":22,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":40.2673,\"floor\":5,\"jibun\":861,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"능동로\",\"roadNmBonbun\":\"00069\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3104007,\"roadNmSeq\":\"03\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"퓨전빌\",\"aptSeq\":\"11215-105\",\"bonbun\":\"0244\",\"bubun\":\"0006\",\"buildYear\":2003,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"71,000\",\"dealDay\":5,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":83.69,\"floor\":1,\"jibun\":\"244-6\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00437\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10300,\"umdNm\":\"구의동\"},{\"aptDong\":\" \",\"aptNm\":\"상록타워아파트\",\"aptSeq\":\"11215-144\",\"bonbun\":\"0570\",\"bubun\":\"0000\",\"buildYear\":1997,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"115,000\",\"dealDay\":16,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":83.96,\"floor\":13,\"jibun\":570,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00540\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"한강성원\",\"aptSeq\":\"11215-45\",\"bonbun\":\"0831\",\"bubun\":\"0001\",\"buildYear\":1997,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"134,500\",\"dealDay\":27,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.12,\"floor\":7,\"jibun\":\"831-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"능동로3길\",\"roadNmBonbun\":\"00017\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112151,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"일성파크\",\"aptSeq\":\"11215-41\",\"bonbun\":\"0099\",\"bubun\":\"0000\",\"buildYear\":1996,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"87,200\",\"dealDay\":17,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.96,\"floor\":1,\"jibun\":99,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"군자로12길\",\"roadNmBonbun\":\"00046\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112068,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10900,\"umdNm\":\"군자동\"},{\"aptDong\":\" \",\"aptNm\":\"현대파크빌\",\"aptSeq\":\"11215-21\",\"bonbun\":\"0577\",\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"148,000\",\"dealDay\":26,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"경기 고양시 일산서구, 서울 광진구\",\"excluUseAr\":59.76,\"floor\":7,\"jibun\":577,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00549\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"현대파크빌\",\"aptSeq\":\"11215-21\",\"bonbun\":\"0577\",\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"180,000\",\"dealDay\":19,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.81,\"floor\":19,\"jibun\":577,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00549\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"워커힐\",\"aptSeq\":\"11215-11\",\"bonbun\":\"0145\",\"bubun\":\"0008\",\"buildYear\":1978,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"278,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":162.41,\"floor\":2,\"jibun\":\"145-8\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00637\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"00\",\"roadNmSggCd\":11215,\"roadNmbCd\":\" \",\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"현대3\",\"aptSeq\":\"11215-16\",\"bonbun\":\"0484\",\"bubun\":\"0000\",\"buildYear\":1990,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"124,000\",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구, 서울 서초구\",\"excluUseAr\":59.67,\"floor\":11,\"jibun\":484,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로70길\",\"roadNmBonbun\":\"00062\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112353,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"경남아너스빌\",\"aptSeq\":\"11215-62\",\"bonbun\":\"0666\",\"bubun\":\"0028\",\"buildYear\":1997,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"102,500\",\"dealDay\":11,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.86,\"floor\":1,\"jibun\":\"666-28\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"자양로3길\",\"roadNmBonbun\":\"00055\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112446,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"광장자이\",\"aptSeq\":\"11215-2694\",\"bonbun\":\"0581\",\"bubun\":\"0000\",\"buildYear\":2008,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"249,000\",\"dealDay\":18,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":158.26,\"floor\":6,\"jibun\":581,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"광나루로\",\"roadNmBonbun\":\"00595\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3005024,\"roadNmSeq\":\"03\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"한강우성\",\"aptSeq\":\"11215-47\",\"bonbun\":\"0087\",\"bubun\":\"0001\",\"buildYear\":1993,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"178,000\",\"dealDay\":27,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.72,\"floor\":22,\"jibun\":\"87-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"능동로1길\",\"roadNmBonbun\":\"00015\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112129,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"자양동현대\",\"aptSeq\":\"11215-66\",\"bonbun\":\"0645\",\"bubun\":\"0005\",\"buildYear\":1993,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"112,000\",\"dealDay\":26,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구, 서울 동대문구\",\"excluUseAr\":83.11,\"floor\":3,\"jibun\":\"645-5\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로56길\",\"roadNmBonbun\":\"00072\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112283,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"우성3\",\"aptSeq\":\"11215-57\",\"bonbun\":\"0516\",\"bubun\":\"0000\",\"buildYear\":1989,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"154,500\",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.91,\"floor\":10,\"jibun\":516,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로35길\",\"roadNmBonbun\":\"00032\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112258,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"한강우성\",\"aptSeq\":\"11215-47\",\"bonbun\":\"0087\",\"bubun\":\"0001\",\"buildYear\":1993,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"172,000\",\"dealDay\":9,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.72,\"floor\":17,\"jibun\":\"87-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"능동로1길\",\"roadNmBonbun\":\"00015\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112129,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"},{\"aptDong\":\" \",\"aptNm\":\"신동아파밀리에\",\"aptSeq\":\"11215-2535\",\"bonbun\":\"0250\",\"bubun\":\"0000\",\"buildYear\":2007,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"139,500\",\"dealDay\":27,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.55,\"floor\":1,\"jibun\":\"250\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"아차산로\",\"roadNmBonbun\":\"00599\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000002,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10400,\"umdNm\":\"광장동\"},{\"aptDong\":\" \",\"aptNm\":\"자양동현대\",\"aptSeq\":\"11215-66\",\"bonbun\":\"0645\",\"bubun\":\"0005\",\"buildYear\":1993,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"128,000\",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 광진구\",\"excluUseAr\":84.55,\"floor\":18,\"jibun\":\"645-5\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"뚝섬로56길\",\"roadNmBonbun\":\"00072\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4112283,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11215,\"roadNmbCd\":0,\"sggCd\":11215,\"slerGbn\":\"개인\",\"umdCd\":10500,\"umdNm\":\"자양동\"}]},\"numOfRows\":50,\"pageNo\":1,\"totalCount\":255}}}]",
            "date": "202506"
          }
        }
      }
    ],
    "TradeCode": [
      {
        "json": {
          "trade_item": [
            {
              "aptDong": " ",
              "aptNm": "자양현대5",
              "aptSeq": "11215-67",
              "bonbun": "0642",
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "128,000",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 76.94,
              "floor": 8,
              "jibun": 642,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로54길",
              "roadNmBonbun": "00074",
              "roadNmBubun": "00000",
              "roadNmCd": 4112280,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "구의현대7단지현대홈타운",
              "aptSeq": "11215-27",
              "bonbun": "0587",
              "bubun": "0054",
              "buildYear": 1997,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "143,000",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 송파구",
              "excluUseAr": 84.99,
              "floor": 16,
              "jibun": "587-54",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구의강변로3가길",
              "roadNmBonbun": "00039",
              "roadNmBubun": "00000",
              "roadNmCd": 4112050,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10300,
              "umdNm": "구의동"
            },
            {
              "aptDong": " ",
              "aptNm": "이튼타워리버2차",
              "aptSeq": "11215-2429",
              "bonbun": "0507",
              "bubun": "0006",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "143,000",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.61,
              "floor": 4,
              "jibun": "507-6",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "능동로",
              "roadNmBonbun": "00050",
              "roadNmBubun": "00000",
              "roadNmCd": 3104007,
              "roadNmSeq": "03",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "극동1",
              "aptSeq": "11215-3",
              "bonbun": "0218",
              "bubun": "0001",
              "buildYear": 1985,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "330,000",
              "dealDay": 11,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 156.92,
              "floor": 11,
              "jibun": "218-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00552",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "02",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성3",
              "aptSeq": "11215-57",
              "bonbun": "0516",
              "bubun": "0000",
              "buildYear": 1989,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "124,000",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 51.39,
              "floor": 12,
              "jibun": 516,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로35길",
              "roadNmBonbun": "00032",
              "roadNmBubun": "00000",
              "roadNmCd": 4112258,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼성광장2",
              "aptSeq": "11215-8",
              "bonbun": "0453",
              "bubun": "0001",
              "buildYear": 1989,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "133,000",
              "dealDay": 22,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 69.06,
              "floor": 10,
              "jibun": "453-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00544",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "02",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "한화꿈에그린",
              "aptSeq": "11215-2438",
              "bonbun": "0853",
              "bubun": "0000",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "189,000",
              "dealDay": 30,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 138.85,
              "floor": 2,
              "jibun": 853,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로24길",
              "roadNmBonbun": "00074",
              "roadNmBubun": "00000",
              "roadNmCd": 4112243,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "래미안파크스위트",
              "aptSeq": "11215-4466",
              "bonbun": "0668",
              "bubun": "0000",
              "buildYear": 2018,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "127,000",
              "dealDay": 17,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 59.98,
              "floor": 3,
              "jibun": 668,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "광나루로",
              "roadNmBonbun": "00545",
              "roadNmBubun": "00000",
              "roadNmCd": 3005024,
              "roadNmSeq": "00",
              "roadNmSggCd": 11215,
              "roadNmbCd": " ",
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10300,
              "umdNm": "구의동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성3",
              "aptSeq": "11215-57",
              "bonbun": "0516",
              "bubun": "0000",
              "buildYear": 1989,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "151,500",
              "dealDay": 20,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.91,
              "floor": 15,
              "jibun": 516,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로35길",
              "roadNmBonbun": "00032",
              "roadNmBubun": "00000",
              "roadNmCd": 4112258,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성1",
              "aptSeq": "11215-55",
              "bonbun": "0579",
              "bubun": "0000",
              "buildYear": 1988,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "109,500",
              "dealDay": 16,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구, 서울 동작구",
              "excluUseAr": 59.91,
              "floor": 6,
              "jibun": 579,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로41길",
              "roadNmBonbun": "00020",
              "roadNmBubun": "00000",
              "roadNmCd": 4112264,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성3",
              "aptSeq": "11215-57",
              "bonbun": "0516",
              "bubun": "0000",
              "buildYear": 1989,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "160,000",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구, 서울 성동구",
              "excluUseAr": 84.91,
              "floor": 5,
              "jibun": 516,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로35길",
              "roadNmBonbun": "00032",
              "roadNmBubun": "00000",
              "roadNmCd": 4112258,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대3",
              "aptSeq": "11215-73",
              "bonbun": "0670",
              "bubun": "0000",
              "buildYear": 1996,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "114,000",
              "dealDay": 25,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.9,
              "floor": 2,
              "jibun": 670,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로58길",
              "roadNmBonbun": "00101",
              "roadNmBubun": "00000",
              "roadNmCd": 4112287,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성3",
              "aptSeq": "11215-57",
              "bonbun": "0516",
              "bubun": "0000",
              "buildYear": 1989,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "114,000",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 51.39,
              "floor": 2,
              "jibun": 516,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로35길",
              "roadNmBonbun": "00032",
              "roadNmBubun": "00000",
              "roadNmCd": 4112258,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "자양우성7",
              "aptSeq": "11215-64",
              "bonbun": "0783",
              "bubun": "0001",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "139,000",
              "dealDay": 20,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.93,
              "floor": 1,
              "jibun": "783-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로36길",
              "roadNmBonbun": "00039",
              "roadNmBubun": "00000",
              "roadNmCd": 4112322,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "래미안파크스위트",
              "aptSeq": "11215-4466",
              "bonbun": "0668",
              "bubun": "0000",
              "buildYear": 2018,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "133,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 59.98,
              "floor": 16,
              "jibun": 668,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "광나루로",
              "roadNmBonbun": "00545",
              "roadNmBubun": "00000",
              "roadNmCd": 3005024,
              "roadNmSeq": "00",
              "roadNmSggCd": 11215,
              "roadNmbCd": " ",
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10300,
              "umdNm": "구의동"
            },
            {
              "aptDong": " ",
              "aptNm": "극동1",
              "aptSeq": "11215-3",
              "bonbun": "0218",
              "bubun": "0001",
              "buildYear": 1985,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "249,000",
              "dealDay": 12,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 126.94,
              "floor": 13,
              "jibun": "218-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00552",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "02",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "화양현대",
              "aptSeq": "11215-99",
              "bonbun": "0234",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "85,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 59.99,
              "floor": 10,
              "jibun": 234,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "동일로24길",
              "roadNmBonbun": "00005",
              "roadNmBubun": "00000",
              "roadNmCd": 4112198,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "화양동"
            },
            {
              "aptDong": " ",
              "aptNm": "광진트라팰리스",
              "aptSeq": "11215-2457",
              "bonbun": "0854",
              "bubun": "0000",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "250,000",
              "dealDay": 24,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 169.53,
              "floor": 7,
              "jibun": 854,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로34길",
              "roadNmBonbun": "00067",
              "roadNmBubun": "00000",
              "roadNmCd": 4112257,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "화양현대",
              "aptSeq": "11215-99",
              "bonbun": "0234",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "90,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 59.97,
              "floor": 20,
              "jibun": 234,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "동일로24길",
              "roadNmBonbun": "00005",
              "roadNmBubun": "00000",
              "roadNmCd": 4112198,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "화양동"
            },
            {
              "aptDong": " ",
              "aptNm": "로얄동아",
              "aptSeq": "11215-53",
              "bonbun": "0644",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "137,000",
              "dealDay": 16,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.75,
              "floor": 22,
              "jibun": 644,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로52마길",
              "roadNmBonbun": "00056",
              "roadNmBubun": "00000",
              "roadNmCd": 4112279,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "청구",
              "aptSeq": "11215-14",
              "bonbun": "0566",
              "bubun": "0000",
              "buildYear": 1996,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "125,000",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 59.95,
              "floor": 13,
              "jibun": 566,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00503",
              "roadNmBubun": "00023",
              "roadNmCd": 3000002,
              "roadNmSeq": "00",
              "roadNmSggCd": 11215,
              "roadNmbCd": " ",
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대파크빌",
              "aptSeq": "11215-21",
              "bonbun": "0577",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "194,000",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.81,
              "floor": 12,
              "jibun": 577,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00549",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "02",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "한강성원",
              "aptSeq": "11215-45",
              "bonbun": "0831",
              "bubun": "0001",
              "buildYear": 1997,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "134,000",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.12,
              "floor": 11,
              "jibun": "831-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "능동로3길",
              "roadNmBonbun": "00017",
              "roadNmBubun": "00000",
              "roadNmCd": 4112151,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대13차폴라트리움",
              "aptSeq": "11215-2464",
              "bonbun": "0199",
              "bubun": "0023",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "145,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.85,
              "floor": 18,
              "jibun": "199-23",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구의강변로",
              "roadNmBonbun": "00102",
              "roadNmBubun": "00000",
              "roadNmCd": 3104003,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10300,
              "umdNm": "구의동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대홈타운12차",
              "aptSeq": "11215-130",
              "bonbun": "0580",
              "bubun": "0000",
              "buildYear": 2004,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "240,000",
              "dealDay": 22,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 143.86,
              "floor": 11,
              "jibun": 580,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "천호대로",
              "roadNmBonbun": "00808",
              "roadNmBubun": "00000",
              "roadNmCd": 2000008,
              "roadNmSeq": "04",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "래미안파크스위트",
              "aptSeq": "11215-4466",
              "bonbun": "0668",
              "bubun": "0000",
              "buildYear": 2018,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "134,000",
              "dealDay": 30,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 59.98,
              "floor": 9,
              "jibun": 668,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "광나루로",
              "roadNmBonbun": "00545",
              "roadNmBubun": "00000",
              "roadNmCd": 3005024,
              "roadNmSeq": "00",
              "roadNmSggCd": 11215,
              "roadNmbCd": " ",
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10300,
              "umdNm": "구의동"
            },
            {
              "aptDong": " ",
              "aptNm": "자양현대5",
              "aptSeq": "11215-67",
              "bonbun": "0642",
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "94,500",
              "dealDay": 16,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 59.88,
              "floor": 3,
              "jibun": 642,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로54길",
              "roadNmBonbun": "00074",
              "roadNmBubun": "00000",
              "roadNmCd": 4112280,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "더샵스타시티",
              "aptSeq": "11215-2478",
              "bonbun": "0227",
              "bubun": "0007",
              "buildYear": 2007,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "230,000",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구, 서울 마포구, 서울 송파구",
              "excluUseAr": 131.37,
              "floor": 48,
              "jibun": "227-7",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00262",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "03",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "대동",
              "aptSeq": "11215-51",
              "bonbun": "0784",
              "bubun": "0001",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "100,000",
              "dealDay": 26,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 59.54,
              "floor": 5,
              "jibun": "784-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로31길",
              "roadNmBonbun": "00020",
              "roadNmBubun": "00000",
              "roadNmCd": 4112253,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "이튼타워리버5차",
              "aptSeq": "11215-2790",
              "bonbun": "0856",
              "bubun": "0000",
              "buildYear": 2009,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "205,000",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 122.55,
              "floor": 2,
              "jibun": 856,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "능동로4길",
              "roadNmBonbun": "00040",
              "roadNmBubun": "00000",
              "roadNmCd": 4112166,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대강변",
              "aptSeq": "11215-76",
              "bonbun": "0673",
              "bubun": "0000",
              "buildYear": 1991,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "109,500",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 81.94,
              "floor": 2,
              "jibun": 673,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "자양로3가길",
              "roadNmBonbun": "00043",
              "roadNmBubun": "00000",
              "roadNmCd": 4112445,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "e편한세상광진그랜드파크",
              "aptSeq": "11215-4893",
              "bonbun": "0680",
              "bubun": "0000",
              "buildYear": 2021,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "193,000",
              "dealDay": 20,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "직거래",
              "estateAgentSggNm": " ",
              "excluUseAr": 115.9979,
              "floor": 28,
              "jibun": 680,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "광나루로",
              "roadNmBonbun": "00458",
              "roadNmBubun": "00000",
              "roadNmCd": 3005024,
              "roadNmSeq": "00",
              "roadNmSggCd": 11215,
              "roadNmbCd": " ",
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10300,
              "umdNm": "구의동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대파크빌",
              "aptSeq": "11215-21",
              "bonbun": "0577",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "182,000",
              "dealDay": 11,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.81,
              "floor": 7,
              "jibun": 577,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00549",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "02",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "자양호반써밋",
              "aptSeq": "11215-4849",
              "bonbun": "0861",
              "bubun": "0000",
              "buildYear": 2021,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "92,000",
              "dealDay": 22,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 40.2673,
              "floor": 5,
              "jibun": 861,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "능동로",
              "roadNmBonbun": "00069",
              "roadNmBubun": "00000",
              "roadNmCd": 3104007,
              "roadNmSeq": "03",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "퓨전빌",
              "aptSeq": "11215-105",
              "bonbun": "0244",
              "bubun": "0006",
              "buildYear": 2003,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "71,000",
              "dealDay": 5,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 83.69,
              "floor": 1,
              "jibun": "244-6",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00437",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10300,
              "umdNm": "구의동"
            },
            {
              "aptDong": " ",
              "aptNm": "상록타워아파트",
              "aptSeq": "11215-144",
              "bonbun": "0570",
              "bubun": "0000",
              "buildYear": 1997,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "115,000",
              "dealDay": 16,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 83.96,
              "floor": 13,
              "jibun": 570,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00540",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "02",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "한강성원",
              "aptSeq": "11215-45",
              "bonbun": "0831",
              "bubun": "0001",
              "buildYear": 1997,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "134,500",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.12,
              "floor": 7,
              "jibun": "831-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "능동로3길",
              "roadNmBonbun": "00017",
              "roadNmBubun": "00000",
              "roadNmCd": 4112151,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "일성파크",
              "aptSeq": "11215-41",
              "bonbun": "0099",
              "bubun": "0000",
              "buildYear": 1996,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "87,200",
              "dealDay": 17,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.96,
              "floor": 1,
              "jibun": 99,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "군자로12길",
              "roadNmBonbun": "00046",
              "roadNmBubun": "00000",
              "roadNmCd": 4112068,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10900,
              "umdNm": "군자동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대파크빌",
              "aptSeq": "11215-21",
              "bonbun": "0577",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "148,000",
              "dealDay": 26,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "경기 고양시 일산서구, 서울 광진구",
              "excluUseAr": 59.76,
              "floor": 7,
              "jibun": 577,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00549",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "02",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대파크빌",
              "aptSeq": "11215-21",
              "bonbun": "0577",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "180,000",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.81,
              "floor": 19,
              "jibun": 577,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00549",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "02",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "워커힐",
              "aptSeq": "11215-11",
              "bonbun": "0145",
              "bubun": "0008",
              "buildYear": 1978,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "278,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 162.41,
              "floor": 2,
              "jibun": "145-8",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00637",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "00",
              "roadNmSggCd": 11215,
              "roadNmbCd": " ",
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대3",
              "aptSeq": "11215-16",
              "bonbun": "0484",
              "bubun": "0000",
              "buildYear": 1990,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "124,000",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구, 서울 서초구",
              "excluUseAr": 59.67,
              "floor": 11,
              "jibun": 484,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로70길",
              "roadNmBonbun": "00062",
              "roadNmBubun": "00000",
              "roadNmCd": 4112353,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "경남아너스빌",
              "aptSeq": "11215-62",
              "bonbun": "0666",
              "bubun": "0028",
              "buildYear": 1997,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "102,500",
              "dealDay": 11,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.86,
              "floor": 1,
              "jibun": "666-28",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "자양로3길",
              "roadNmBonbun": "00055",
              "roadNmBubun": "00000",
              "roadNmCd": 4112446,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "광장자이",
              "aptSeq": "11215-2694",
              "bonbun": "0581",
              "bubun": "0000",
              "buildYear": 2008,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "249,000",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 158.26,
              "floor": 6,
              "jibun": 581,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "광나루로",
              "roadNmBonbun": "00595",
              "roadNmBubun": "00000",
              "roadNmCd": 3005024,
              "roadNmSeq": "03",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "한강우성",
              "aptSeq": "11215-47",
              "bonbun": "0087",
              "bubun": "0001",
              "buildYear": 1993,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "178,000",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.72,
              "floor": 22,
              "jibun": "87-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "능동로1길",
              "roadNmBonbun": "00015",
              "roadNmBubun": "00000",
              "roadNmCd": 4112129,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "자양동현대",
              "aptSeq": "11215-66",
              "bonbun": "0645",
              "bubun": "0005",
              "buildYear": 1993,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "112,000",
              "dealDay": 26,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구, 서울 동대문구",
              "excluUseAr": 83.11,
              "floor": 3,
              "jibun": "645-5",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로56길",
              "roadNmBonbun": "00072",
              "roadNmBubun": "00000",
              "roadNmCd": 4112283,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성3",
              "aptSeq": "11215-57",
              "bonbun": "0516",
              "bubun": "0000",
              "buildYear": 1989,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "154,500",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.91,
              "floor": 10,
              "jibun": 516,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로35길",
              "roadNmBonbun": "00032",
              "roadNmBubun": "00000",
              "roadNmCd": 4112258,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "한강우성",
              "aptSeq": "11215-47",
              "bonbun": "0087",
              "bubun": "0001",
              "buildYear": 1993,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "172,000",
              "dealDay": 9,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.72,
              "floor": 17,
              "jibun": "87-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "능동로1길",
              "roadNmBonbun": "00015",
              "roadNmBubun": "00000",
              "roadNmCd": 4112129,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            },
            {
              "aptDong": " ",
              "aptNm": "신동아파밀리에",
              "aptSeq": "11215-2535",
              "bonbun": "0250",
              "bubun": "0000",
              "buildYear": 2007,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "139,500",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.55,
              "floor": 1,
              "jibun": "250",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "아차산로",
              "roadNmBonbun": "00599",
              "roadNmBubun": "00000",
              "roadNmCd": 3000002,
              "roadNmSeq": "02",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10400,
              "umdNm": "광장동"
            },
            {
              "aptDong": " ",
              "aptNm": "자양동현대",
              "aptSeq": "11215-66",
              "bonbun": "0645",
              "bubun": "0005",
              "buildYear": 1993,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "128,000",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 광진구",
              "excluUseAr": 84.55,
              "floor": 18,
              "jibun": "645-5",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "뚝섬로56길",
              "roadNmBonbun": "00072",
              "roadNmBubun": "00000",
              "roadNmCd": 4112283,
              "roadNmSeq": "01",
              "roadNmSggCd": 11215,
              "roadNmbCd": 0,
              "sggCd": 11215,
              "slerGbn": "개인",
              "umdCd": 10500,
              "umdNm": "자양동"
            }
          ]
        }
      }
    ],
    "Rent AI Agent": [
      {
        "json": {
          "output": {
            "result": "[{\"response\":{\"header\":{\"resultCode\":\"000\",\"resultMsg\":\"OK\"},\"body\":{\"items\":{\"item\":[{\"aptNm\":\"더샵스타시티\",\"buildYear\":2007,\"contractTerm\":\"25.09~27.09\",\"contractType\":\"신규\",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"155,000\",\"excluUseAr\":139.6,\"floor\":23,\"jibun\":\"227-7\",\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11215,\"umdNm\":\"자양동\",\"useRRRight\":\" \"},{\"aptNm\":\"구의현대6단지\",\"buildYear\":1994,\"contractTerm\":\"25.07~27.07\",\"contractType\":\"갱신\",\"dealDay\":28,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"52,500\",\"excluUseAr\":84.92,\"floor\":1,\"jibun\":610,\"monthlyRent\":0,\"preDeposit\":\"50,000\",\"preMonthlyRent\":\" \",\"sggCd\":11215,\"umdNm\":\"구의동\",\"useRRRight\":\" \"},{\"aptNm\":\"구의현대7단지현대홈타운\",\"buildYear\":1997,\"contractTerm\":\"25.09~27.09\",\"contractType\":\"갱신\",\"dealDay\":24,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"16,000\",\"excluUseAr\":84.99,\"floor\":2,\"jibun\":\"587-54\",\"monthlyRent\":165,\"preDeposit\":\"16,000\",\"preMonthlyRent\":150,\"sggCd\":11215,\"umdNm\":\"구의동\",\"useRRRight\":\" \"},{\"aptNm\":\"자양우성7\",\"buildYear\":1998,\"contractTerm\":\"25.07~27.07\",\"contractType\":\"갱신\",\"dealDay\":13,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"65,000\",\"excluUseAr\":84.93,\"floor\":12,\"jibun\":\"783-1\",\"monthlyRent\":0,\"preDeposit\":\"65,000\",\"preMonthlyRent\":\" \",\"sggCd\":11215,\"umdNm\":\"자양동\",\"useRRRight\":\"사용\"},{\"aptNm\":\"센텀힐스한강\",\"buildYear\":2023,\"contractTerm\":\"25.09~27.09\",\"contractType\":\"신규\",\"dealDay\":23,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"7,000\",\"excluUseAr\":16.39,\"floor\":12,\"jibun\":\"587-62\",\"monthlyRent\":45,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11215,\"umdNm\":\"구의동\",\"useRRRight\":\" \"},{\"aptNm\":\"에스케이\",\"buildYear\":1999,\"contractTerm\":\"25.08~27.08\",\"contractType\":\"신규\",\"dealDay\":28,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"45,000\",\"excluUseAr\":58.43,\"floor\":13,\"jibun\":292,\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11215,\"umdNm\":\"중곡동\",\"useRRRight\":\" \"},{\"aptNm\":\"한강우성\",\"buildYear\":1993,\"contractTerm\":\"25.09~27.09\",\"contractType\":\"신규\",\"dealDay\":30,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"78,000\",\"excluUseAr\":84.72,\"floor\":20,\"jibun\":\"87-1\",\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11215,\"umdNm\":\"자양동\",\"useRRRight\":\" \"},{\"aptNm\":\"이스트폴\",\"buildYear\":2025,\"contractTerm\":\"25.09~27.09\",\"contractType\":\"신규\",\"dealDay\":27,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"95,000\",\"excluUseAr\":84.86,\"floor\":10,\"jibun\":870,\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11215,\"umdNm\":\"자양동\",\"useRRRight\":\" \"},{\"aptNm\":\"자양동현대\",\"buildYear\":1993,\"contractTerm\":\"25.06~27.06\",\"contractType\":\"신규\",\"dealDay\":15,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"40,000\",\"excluUseAr\":84.55,\"floor\":2,\"jibun\":\"645-5\",\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11215,\"umdNm\":\"자양동\",\"useRRRight\":\" \"},{\"aptNm\":\"이튼타워리버5차\",\"buildYear\":2009,\"contractTerm\":\"25.08~27.08\",\"contractType\":\"갱신\",\"dealDay\":28,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"83,000\",\"excluUseAr\":84.92,\"floor\":3,\"jibun\":856,\"monthlyRent\":0,\"preDeposit\":\"60,000\",\"preMonthlyRent\":80,\"sggCd\":11215,\"umdNm\":\"자양동\",\"useRRRight\":\" \"}]},\"numOfRows\":10,\"pageNo\":1,\"totalCount\":346}}}]",
            "date": "202506"
          }
        }
      }
    ],
    "RentCode": [
      {
        "json": {
          "rent_item": [
            {
              "aptNm": "더샵스타시티",
              "buildYear": 2007,
              "contractTerm": "25.09~27.09",
              "contractType": "신규",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "155,000",
              "excluUseAr": 139.6,
              "floor": 23,
              "jibun": "227-7",
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11215,
              "umdNm": "자양동",
              "useRRRight": " "
            },
            {
              "aptNm": "구의현대6단지",
              "buildYear": 1994,
              "contractTerm": "25.07~27.07",
              "contractType": "갱신",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "52,500",
              "excluUseAr": 84.92,
              "floor": 1,
              "jibun": 610,
              "monthlyRent": 0,
              "preDeposit": "50,000",
              "preMonthlyRent": " ",
              "sggCd": 11215,
              "umdNm": "구의동",
              "useRRRight": " "
            },
            {
              "aptNm": "구의현대7단지현대홈타운",
              "buildYear": 1997,
              "contractTerm": "25.09~27.09",
              "contractType": "갱신",
              "dealDay": 24,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "16,000",
              "excluUseAr": 84.99,
              "floor": 2,
              "jibun": "587-54",
              "monthlyRent": 165,
              "preDeposit": "16,000",
              "preMonthlyRent": 150,
              "sggCd": 11215,
              "umdNm": "구의동",
              "useRRRight": " "
            },
            {
              "aptNm": "자양우성7",
              "buildYear": 1998,
              "contractTerm": "25.07~27.07",
              "contractType": "갱신",
              "dealDay": 13,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "65,000",
              "excluUseAr": 84.93,
              "floor": 12,
              "jibun": "783-1",
              "monthlyRent": 0,
              "preDeposit": "65,000",
              "preMonthlyRent": " ",
              "sggCd": 11215,
              "umdNm": "자양동",
              "useRRRight": "사용"
            },
            {
              "aptNm": "센텀힐스한강",
              "buildYear": 2023,
              "contractTerm": "25.09~27.09",
              "contractType": "신규",
              "dealDay": 23,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "7,000",
              "excluUseAr": 16.39,
              "floor": 12,
              "jibun": "587-62",
              "monthlyRent": 45,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11215,
              "umdNm": "구의동",
              "useRRRight": " "
            },
            {
              "aptNm": "에스케이",
              "buildYear": 1999,
              "contractTerm": "25.08~27.08",
              "contractType": "신규",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "45,000",
              "excluUseAr": 58.43,
              "floor": 13,
              "jibun": 292,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11215,
              "umdNm": "중곡동",
              "useRRRight": " "
            },
            {
              "aptNm": "한강우성",
              "buildYear": 1993,
              "contractTerm": "25.09~27.09",
              "contractType": "신규",
              "dealDay": 30,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "78,000",
              "excluUseAr": 84.72,
              "floor": 20,
              "jibun": "87-1",
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11215,
              "umdNm": "자양동",
              "useRRRight": " "
            },
            {
              "aptNm": "이스트폴",
              "buildYear": 2025,
              "contractTerm": "25.09~27.09",
              "contractType": "신규",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "95,000",
              "excluUseAr": 84.86,
              "floor": 10,
              "jibun": 870,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11215,
              "umdNm": "자양동",
              "useRRRight": " "
            },
            {
              "aptNm": "자양동현대",
              "buildYear": 1993,
              "contractTerm": "25.06~27.06",
              "contractType": "신규",
              "dealDay": 15,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "40,000",
              "excluUseAr": 84.55,
              "floor": 2,
              "jibun": "645-5",
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11215,
              "umdNm": "자양동",
              "useRRRight": " "
            },
            {
              "aptNm": "이튼타워리버5차",
              "buildYear": 2009,
              "contractTerm": "25.08~27.08",
              "contractType": "갱신",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "83,000",
              "excluUseAr": 84.92,
              "floor": 3,
              "jibun": 856,
              "monthlyRent": 0,
              "preDeposit": "60,000",
              "preMonthlyRent": 80,
              "sggCd": 11215,
              "umdNm": "자양동",
              "useRRRight": " "
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set ServiceKey",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ServiceKey": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Keyword": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get DongCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DongCode": {
      "main": [
        [
          {
            "node": "Trade AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rent AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API TOOL": {
      "ai_tool": [
        [
          {
            "node": "Trade AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Rent AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Trade AI Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Rent AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Trade AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Rent AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trade AI Agent": {
      "main": [
        [
          {
            "node": "TradeCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rent AI Agent": {
      "main": [
        [
          {
            "node": "RentCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TradeCode": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RentCode": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Create a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a document": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f48ce5f1-8fa9-4c19-ad98-c6f2059e9e0a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "0ZXRPkk5D34mVnVs",
  "tags": []
}