n8n/s_apart_gap2.json
{
  "name": "s-apart-gap2",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        -60
      ],
      "id": "2d7d9ab8-fa03-4739-9d25-ac66bbe018e2",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e2f5e813-d267-4672-a759-8eac03d43625",
              "name": "keyword",
              "value": "구로구",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        40
      ],
      "id": "0e7f5e6c-9708-4978-b5f4-6a6c765bf0e9",
      "name": "Set Keyword"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "332ed370-6fb8-45a2-9510-7038a7c99e07",
              "name": "service_key",
              "value": "WE0m2%2F8pvymPJh7Jw%2BdulEbFj0z80p%2Byu%2BrTz2h1nbSJN%2FBzudIS8s9X6cdE580hVt%2FYGymoDCdDtLbpgbZU8A%3D%3D",
              "type": "string"
            },
            {
              "id": "cbc66e70-d2d3-4626-a240-e87282039c3f",
              "name": "service_id",
              "value": "d69d13ff0fbe4e1c917d",
              "type": "string"
            },
            {
              "id": "29c18777-cc19-4032-8a8b-5940eea22d27",
              "name": "secret_key",
              "value": "fc86374c5539441fbe56",
              "type": "string"
            },
            {
              "id": "e64b069d-83a9-46c1-b877-289b2eb4f2f3",
              "name": "v-world",
              "value": "9CBE0747-6F0E-3D4C-A98D-D7F9D5740877",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        -140
      ],
      "id": "9d364a35-604a-405a-867d-3252f9d00390",
      "name": "Set ServiceKey"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -160,
        -40
      ],
      "id": "918c31be-0102-4642-94d6-754fe82ac785",
      "name": "Merge"
    },
    {
      "parameters": {
        "url": "=https://apis.data.go.kr/1741000/StanReginCd/getStanReginCdList?serviceKey={{ $json.service_key }}&pageNo=1&numOfRows=3&type=json&locatadd_nm={{ $json.keyword }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        -40
      ],
      "id": "86842c65-56a0-477a-8d02-76f2f21b9584",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\nstr_data = _input.item.json.data\n# print(str_data)\n\nj_data = json.loads(str_data)\nrow = j_data.get(\"StanReginCd\")[1].get(\"row\")\nresult = row[0].get(\"region_cd\")[0:5]\n#print(result)\n\nreturn [{\n  \"code\" : result\n}]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -40
      ],
      "id": "13dd01b8-379e-47ab-a25d-24022ad4e55a",
      "name": "Get DongCode"
    },
    {
      "parameters": {
        "toolDescription": "API 툴",
        "url": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('URL', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        480,
        60
      ],
      "id": "28e58e9b-8a2e-46d0-b50d-4cd8659b390f",
      "name": "API TOOL"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"result\": \"API 호출 결과\",\n  \"date\": \"DEAL_YMD 값\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        600,
        60
      ],
      "id": "2c22b5fd-1643-4927-a1a6-2da88a3e1fd4",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {
          "timeout": 600000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        360,
        60
      ],
      "id": "7d51f4d5-7248-4b3b-af2f-91db85c24581",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\ns_result = _input.item.json.output.result\nj_result = json.loads(s_result)\nitem = j_result[0].get(\"response\").get(\"body\").get(\"items\").get(\"item\")\nreturn [{\n  \"trade_item\":item\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -160
      ],
      "id": "66571a1e-dd2c-4891-999b-88c731a3a75c",
      "name": "TradeCode"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 API 호출 Agent 입니다.\n\n기본URL:\nhttps://apis.data.go.kr/1613000/RTMSDataSvcAptTradeDev/getRTMSDataSvcAptTradeDev\n\n파라메터:\nserviceKey={{ $('Set ServiceKey').item.json.service_key }}\nLAWD_CD={{ $json.code }}\npageNo=1\nnumOfRows=50\nDEAL_YMD=yyyMM\n\n------\n\n오늘날짜:\n{{ $now }}\n\n------\n\n[주요지침]\n- 위에서 주어진 파라메터와 기본URL을 조합하여 API TOOL을 사용하여 API를 호출 하세요.\n- DEAL_YMD 초기값은 오늘 날짜 기준 -1월 입니다. 예를 들어 오늘이 2025-12-11일 이면 초기값은 202511 입니다.\n- 만약 결과가 없으면 DEAL_YMD 값에서 월을 하나 줄여서 다시 시도합니다.\n- API 호출 결과가 나올때까지 최대 10회까지 반복합니다.\n- API 호출 결과는 반환받은 그대로를 JSON 형태로 변환하여 출력합니다. 절대 생략하거나 요약하거나 축소하거나 데이터를 가공하지 않습니다.\n\n[출력예시 JSON]\n{\n  \"result\": \"API 호출 결과\",\n  \"date\": \"DEAL_YMD 값\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        360,
        -160
      ],
      "id": "da04aa24-6e64-47c4-9f9c-b5661b98a46e",
      "name": "Trade AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 API 호출 Agent 입니다.\n\n기본URL:\nhttps://apis.data.go.kr/1613000/RTMSDataSvcAptRent/getRTMSDataSvcAptRent\n\n파라메터:\nserviceKey={{ $('Set ServiceKey').item.json.service_key }}\nLAWD_CD={{ $json.code }}\nDEAL_YMD=yyyMM\n\n------\n\n오늘날짜:\n{{ $now }}\n\n------\n\n[주요지침]\n- 위에서 주어진 파라메터와 기본URL을 조합하여 API TOOL을 사용하여 API를 호출 하세요.\n- DEAL_YMD 초기값은 오늘 날짜 기준 -1월 입니다. 예를 들어 오늘이 2025-12-11일 이면 초기값은 202511 입니다.\n- 만약 결과가 없으면 DEAL_YMD 값에서 월을 하나 줄여서 다시 시도합니다.\n- API 호출 결과가 나올때까지 최대 10회까지 반복합니다.\n- API 호출 결과는 반환받은 그대로를 JSON 형태로 변환하여 출력합니다. 절대 생략하거나 요약하거나 축소하거나 데이터를 가공하지 않습니다.\n\n[출력예시 JSON]\n{\n  \"result\": \"API 호출 결과\",\n  \"date\": \"DEAL_YMD 값\"\n}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        360,
        240
      ],
      "id": "c21d5996-d074-4a1f-ae47-c7317380cdbc",
      "name": "Rent AI Agent"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import json\ns_result = _input.item.json.output.result\nj_result = json.loads(s_result)\nitem = j_result[0].get(\"response\").get(\"body\").get(\"items\").get(\"item\")\nreturn [{\n  \"rent_item\":item\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        240
      ],
      "id": "f2f1275c-6e1a-4778-973c-5419e371193b",
      "name": "RentCode"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        920,
        -20
      ],
      "id": "83edca60-ab7c-4ccd-aec4-a02e4382e1f4",
      "name": "Merge1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "trades = _input.item.json.trade_item\nrents = _input.item.json.rent_item\n\nresults = []\n\nfor r in rents:\n  aptNm = r.get(\"aptNm\")\n  ssgCd = r.get(\"ssgCd\")\n  deposit = int(r.get(\"deposit\").replace(\",\", \"\"))\n  for t in trades:\n    t_aptNm = t.get(\"aptNm\")\n    t_ssgCd = t.get(\"ssgCd\")\n    t_dealAmount = int(t.get(\"dealAmount\").replace(\",\", \"\"))\n    if aptNm == t_aptNm and ssgCd == t_ssgCd:\n      addr0 = t.get(\"estateAgentSggNm\")\n      addr1 = r.get(\"umdNm\")\n      t[\"full_address\"] = f\"{addr0} {addr1} {r.get('jibun')}\"\n      t[\"jibun\"] = r.get(\"jibun\")\n      t[\"doposit\"] = deposit\n      t[\"gap\"] = t_dealAmount - deposit\n      t[\"gap_string\"] = f'{t[\"gap\"]:,}'\n      results.append(t)\n      break\n  \nreturn [{\n  \"result\" : results\n}]  "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        -20
      ],
      "id": "75be078e-e94c-402f-9026-3845042a5dae",
      "name": "Code"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "results = _input.item.json.result\naddrs = []\nfor r in results:\n  full_address = r.get(\"full_address\")\n  if full_address.count(\"서울\") > 1:\n    full_address = \"서울\" + full_address.split(\"서울\")[-1].strip()\n  if full_address not in addrs:\n    addrs.append(full_address)\nreturn [{\n  \"addrs\" : addrs\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        -20
      ],
      "id": "fbb399aa-602f-41cc-835b-0852dc5c1163",
      "name": "Code1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "addrs",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1400,
        -20
      ],
      "id": "56c20288-ddcf-4488-9f0f-793ee57c80b5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://api.vworld.kr/req/address?service=address&request=getcoord&version=2.0&crs=epsg:4326&address={{ $json.addrs }}&refine=true&simple=false&format=json&type=PARCEL&key={{ $('Set ServiceKey').first().json['v-world'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -20
      ],
      "id": "95e7c7a6-707a-4c73-9cf0-e4fccd0045de",
      "name": "V-WORLD"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1760,
        -20
      ],
      "id": "2b7a8b8a-f067-423e-887d-950be0657c1e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7c8f1806-192d-49b4-b785-73da54d3bd68",
              "name": "full_address",
              "value": "={{ $json.response.refined.text }}",
              "type": "string"
            },
            {
              "id": "17326c83-da27-42ab-aaef-007ce2e9dd35",
              "name": "level0",
              "value": "={{ $json.response.refined.structure.level0 }}",
              "type": "string"
            },
            {
              "id": "984cc3b9-4c7a-43dc-9a46-10ebf9ac46f3",
              "name": "level1",
              "value": "={{ $json.response.refined.structure.level1 }}",
              "type": "string"
            },
            {
              "id": "c71050c8-7b20-4e19-848a-9969b9e3ffea",
              "name": "level2",
              "value": "={{ $json.response.refined.structure.level2 }}",
              "type": "string"
            },
            {
              "id": "3b5bd93d-e2ec-45c1-aa6e-e466c22a13e4",
              "name": "level3",
              "value": "={{ $json.response.refined.structure.level3 }}",
              "type": "string"
            },
            {
              "id": "d6ac74c9-8b5c-412c-9bee-0bc63144c829",
              "name": "level4L",
              "value": "={{ $json.response.refined.structure.level4L }}",
              "type": "string"
            },
            {
              "id": "b00d3d68-e6e3-4d25-a516-9a013d39750c",
              "name": "level4LC",
              "value": "={{ $json.response.refined.structure.level4LC }}",
              "type": "string"
            },
            {
              "id": "56687ce4-b11d-467f-997b-106e18702db4",
              "name": "levle4A",
              "value": "={{ $json.response.refined.structure.level4A }}",
              "type": "string"
            },
            {
              "id": "f6b5c04e-33ef-47c8-9e71-5661e05d1599",
              "name": "level4AC",
              "value": "={{ $json.response.refined.structure.level4AC }}",
              "type": "string"
            },
            {
              "id": "49e2cc56-4656-4fcd-81f2-922dca2c6ae3",
              "name": "level5",
              "value": "={{ $json.response.refined.structure.level5 }}",
              "type": "string"
            },
            {
              "id": "d58122ec-c642-4ff8-a6f9-0fa8e2e43078",
              "name": "detail",
              "value": "={{ $json.response.refined.structure.detail }}",
              "type": "string"
            },
            {
              "id": "2446fee8-bfd3-4b65-890f-e0b9a3af4aec",
              "name": "crs",
              "value": "={{ $json.response.result.crs }}",
              "type": "string"
            },
            {
              "id": "84ac57fe-1a49-4ea1-b7f6-fd4985aec05f",
              "name": "point.x",
              "value": "={{ $json.response.result.point.x }}",
              "type": "string"
            },
            {
              "id": "48999fed-5d3a-4d6c-adf4-fe45a6356519",
              "name": "point.y",
              "value": "={{ $json.response.result.point.y }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2160,
        140
      ],
      "id": "5e6fa759-3e30-43a3-aed5-5beef2941ecc",
      "name": "Set ADDR"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GrFvLvs83ZSt8Hxvo5dWx_94rz-B5n4kexrLrYQeLVQ",
          "mode": "list",
          "cachedResultName": "SGIS-행정코드",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrFvLvs83ZSt8Hxvo5dWx_94rz-B5n4kexrLrYQeLVQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "행정코드",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GrFvLvs83ZSt8Hxvo5dWx_94rz-B5n4kexrLrYQeLVQ/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "시군구명칭",
              "lookupValue": "={{ $json.level2 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2320,
        140
      ],
      "id": "36db3d40-7148-453e-bef4-9df065da45bb",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "WyP3m8iweHTZT2ap",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\nADDR = _('Set ADDR').item.json\nitems = _input.all()\nlevel4L = _('Loop Over Items').item.json.response.refined.structure.level4L\n\ndef normalize_dong(name: str) -> str:\n    # 예외 사전\n    exceptions = {\n        \"종로1·2·3·4가동\": \"종로동\",\n        \"종로5·6가동\": \"종로동\"\n        # 여기에 필요한 예외 더 추가 가능\n    }\n    if name in exceptions:\n        return exceptions[name]\n    # dong = re.sub(r\"\\\\d+동$\", \"동\", name)\n    dong = \"\".join([i for i in name if not i.isdigit()])\n    print(f\"dong : {dong}\")\n    return dong\n\ncode = \"\"\nnormalized_target = normalize_dong(level4L)\n# print(f\"normalized_target:{normalized_target}\")  \n\nfor i in items:\n  um = normalize_dong(i.json.get(\"읍면동명칭\"))\n  if um == normalized_target:\n    # print(f\"um:{um}\")  \n    \n    sido = i.json.get(\"시도코드\")\n    gugun = i.json.get(\"시군구코드\")\n    dong = i.json.get(\"읍면동코드\")\n    code = f\"{sido}{gugun}{dong}\"\n    break\n\nreturn [{\n  \"full_address\": ADDR.full_address,\n  \"detail\": ADDR.detail,\n  \"gps_x\": ADDR.point.x,\n  \"gps_y\": ADDR.point.y,\n  \"gps_crs\": ADDR.crs,\n  \"code\": code\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2480,
        140
      ],
      "id": "6310700f-8520-43aa-a9de-0465d97c0a62",
      "name": "SGIS CODE"
    },
    {
      "parameters": {
        "url": "https://sgisapi.kostat.go.kr/OpenAPI3/auth/authentication.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "consumer_key",
              "value": "={{ $('Set ServiceKey').first().json.service_id }}"
            },
            {
              "name": "consumer_secret",
              "value": "={{ $('Set ServiceKey').first().json.secret_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2700,
        140
      ],
      "id": "0716c5aa-4d00-4ac1-a4f5-1d9428cb6350",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://sgisapi.kostat.go.kr/OpenAPI3/stats/searchpopulation.json?year={{ $now.minus(2, \"year\").format('yyyy') }}&adm_cd={{ $('SGIS CODE').item.json.code }}&age_type=04&accessToken={{ $json.result.accessToken }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2880,
        140
      ],
      "id": "15093fe0-cf9c-4dc5-82e8-2b81c196cbc9",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "SGIS = _('SGIS CODE').item.json\nresult = _input.item.json.result\n\nreturn {\n  \"full_address\": SGIS.full_address,\n  \"gps_x\": SGIS.gps_x,\n  \"gps_y\": SGIS.gps_y,\n  \"gps_crs\": SGIS.gps_crs,\n  \"code\": SGIS.code,\n  \"adm_nm\": result[0].get(\"adm_nm\"),\n  \"avg_age\": result[0].get(\"avg_age\"),\n  \"population\": result[0].get(\"population\")\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3100,
        140
      ],
      "id": "f6dca455-8f56-4e71-9478-c3b098edd57f",
      "name": "Code2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        -180
      ],
      "id": "3db9c3d0-2d68-4ad9-b0d3-d79b2a293c7e",
      "name": "Merge2"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "datas",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1980,
        -120
      ],
      "id": "5d7d5631-8457-4c9f-9096-9f5f94ce75c9",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "import re\n\ninputs = _input.all()\n# 첫 번째 입력의 result 필드\nresults = inputs[0].json.get(\"result\", [])\n# 두 번째 입력의 datas 필드\ndatas = inputs[1].json.get(\"datas\", [])\n\ndef extract_key(address: str):\n    if not address:\n        return \"\"\n    # 한글 동/읍/면 + 숫자 지번 추출\n    match = re.search(r'([가-힣]+동|읍|면)\\\\s+(\\\\d+)', address)\n    if match:\n        dong = match.group(1)\n        bunji = match.group(2)\n        return f\"{dong} {bunji}\"\n    return \"\"\n  \noutput = []\nfor r in results:\n  rkey = extract_key(r.get(\"full_address\", \"\"))\n  for d in datas:\n    dkey = extract_key(d.get(\"full_address\", \"\"))\n    if rkey == dkey:\n      print(f\"[MATCH] {rkey}\")\n      # 병합 처리\n      r[\"gps_x\"] = d.get(\"gps_x\")\n      r[\"gps_y\"] = d.get(\"gps_y\")\n      r[\"avg_age\"] = d.get(\"avg_age\")\n      r[\"population\"] = d.get(\"population\")\n      output.append(r)\n      break\n\nreturn [{\n  \"results\": output\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2380,
        -180
      ],
      "id": "7c8b4d85-97c0-4250-84a5-881d0404aa24",
      "name": "Code3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=당신은 유능한 부동상 분석 AI Agent 입니다.\n주어진 데이터를 기준으로 주어진 임무를 수행하세요.\n\n------\n\n갭투자 목록:\n{{ JSON.stringify($json.results)}}\n\n------\n\n주요임무:\n- 타이틀과 분석을 자세하게 리포트 형태로 출력하세요.\n- HTML샘플을 참조하여 해당 목록의 투자 정보를 가독성이 좋은 HTML 형태로 출력하세요.\n- 아파트명, 건축년도, 구매형태, 거래가격, 거래일자, 거래방식, 층수, 주소, 보증금, 위도/경도, 갭차이, 주변 평균인구수, 주변 평균 연령대 처럼 중요한 요소는 모두 출력하세요.\n- 갭차이 항목은 빨간색 바탕에 하얀색 글자, 굵은체를 사용합니다.\n- **값이 없거나 빈문자열 항목, 정보는 출력하지 않습니다.**\n- 제목에는 {{ $now.format('yyyy-MM-dd') }} 정보가 들어가야 합니다.\n\nHTML 샘플:\n<!DOCTYPE html>\n<html lang=\"ko\">\n<head>\n    <meta charset=\"UTF-8\">\n    <title>투자 분석 리포트</title>\n    <style>\n        body { font-family: Arial, sans-serif; line-height: 1.6; }\n        h1 { text-align: center; }\n        table { width: 100%; border-collapse: collapse; margin: 20px 0; }\n        th, td { border: 1px solid #ccc; padding: 8px; text-align: left; }\n        th { background-color: #f2f2f2; }\n    </style>\n</head>\n<body>\n    <h1>2025-05-27 부동산 투자 분석 리포트</h1>\n    <table>\n        <tr>\n            <th>아파트명</th>\n            <th>건축년도</th>\n            <th>구매형태</th>\n            <th>거래가격</th>\n            <th>거래일자</th>\n            <th>거래방식</th>\n            <th>층수</th>\n            <th>주소</th>\n            <th>보증금</th>\n            <th>위도/경도</th>\n            <th>갭차이</th>\n            <th>주변 평균인구수</th>\n            <th>주변 평균 연령대</th>\n        </tr>\n        <tr>\n            <td>극동2</td>\n            <td>1989</td>\n            <td>개인</td>\n            <td>172,500</td>\n            <td>2025-04-22</td>\n            <td>중개거래</td>\n            <td>3</td>\n            <td>서울 광진구 광장동 218-1</td>\n            <td>55,000</td>\n            <td>127.104039, 37.543160</td>\n            <td>117,500</td>\n            <td>33,044</td>\n            <td>42.2</td>\n        </tr>\n        <tr>\n            <td>청구</td>\n            <td>1996</td>\n            <td>개인</td>\n            <td>113,900</td>\n            <td>2025-04-26</td>\n            <td>중개거래</td>\n            <td>22</td>\n            <td>서울 광진구 광장동 566</td>\n            <td>52,000</td>\n            <td>127.096248, 37.542491</td>\n            <td>61,900</td>\n            <td>33,044</td>\n            <td>42.2</td>\n        </tr>\n        <tr>\n            <td>현대파크빌</td>\n            <td>2000</td>\n            <td>개인</td>\n            <td>169,000</td>\n            <td>2025-04-23</td>\n            <td>중개거래</td>\n            <td>10</td>\n            <td>서울 광진구 광장동 577</td>\n            <td>52,500</td>\n            <td>127.101500, 37.544318</td>\n            <td>116,500</td>\n            <td>33,044</td>\n            <td>42.2</td>\n        </tr>\n        <tr>\n            <td>래미안파크스위트</td>\n            <td>2018</td>\n            <td>개인</td>\n            <td>157,000</td>\n            <td>2025-04-25</td>\n            <td>중개거래</td>\n            <td>4</td>\n            <td>서울 광진구 구의동 668</td>\n            <td>50,000</td>\n            <td>127.090273, 37.545793</td>\n            <td>107,000</td>\n            <td>23,510</td>\n            <td>44.8</td>\n        </tr>\n    </table>\n</body>\n</html>",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2600,
        -180
      ],
      "id": "5b999b6d-e142-4a64-a78e-947d4b1ae6ea",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2620,
        -20
      ],
      "id": "4f38cece-b4e9-4b1b-afa2-61c1dfd08915",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Trade AI Agent": [
      {
        "json": {
          "output": {
            "result": "[{\"response\":{\"header\":{\"resultCode\":\"000\",\"resultMsg\":\"OK\"},\"body\":{\"items\":{\"item\":[{\"aptDong\":\" \",\"aptNm\":\"주공2\",\"aptSeq\":\"11530-137\",\"bonbun\":\"0685\",\"bubun\":\"0223\",\"buildYear\":1987,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"39,000\",\"dealDay\":28,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":32.39,\"floor\":9,\"jibun\":\"685-223\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"구일로4길\",\"roadNmBonbun\":\"00022\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148291,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"삼성래미안\",\"aptSeq\":\"11530-171\",\"bonbun\":\"0256\",\"bubun\":\"0001\",\"buildYear\":2004,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"78,500\",\"dealDay\":24,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":58.136,\"floor\":17,\"jibun\":\"256-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"디지털로31길\",\"roadNmBonbun\":\"00090\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148335,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"현대\",\"aptSeq\":\"11530-91\",\"bonbun\":\"0481\",\"bubun\":\"0000\",\"buildYear\":2001,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"89,500\",\"dealDay\":29,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":114.99,\"floor\":22,\"jibun\":481,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"개봉로20길\",\"roadNmBonbun\":\"00006\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148049,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"영화\",\"aptSeq\":\"11530-84\",\"bonbun\":\"0475\",\"bubun\":\"0000\",\"buildYear\":1998,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"72,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.96,\"floor\":10,\"jibun\":475,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로40길\",\"roadNmBonbun\":\"00011\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148098,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"한일유앤아이\",\"aptSeq\":\"11530-3214\",\"bonbun\":1281,\"bubun\":\"0000\",\"buildYear\":2006,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"59,800\",\"dealDay\":30,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":74.229,\"floor\":1,\"jibun\":1281,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"가마산로\",\"roadNmBonbun\":\"00087\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000023,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"거성푸르뫼\",\"aptSeq\":\"11530-71\",\"bonbun\":\"0060\",\"bubun\":\"0101\",\"buildYear\":1993,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"41,750\",\"dealDay\":16,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.89,\"floor\":14,\"jibun\":\"60-101\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"고척로\",\"roadNmBonbun\":\"00085\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116003,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"동아1\",\"aptSeq\":\"11530-130\",\"bonbun\":\"0643\",\"bubun\":\"0000\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"125,000\",\"dealDay\":12,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.908,\"floor\":10,\"jibun\":643,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"신도림로\",\"roadNmBonbun\":\"00087\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116008,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"현대로얄\",\"aptSeq\":\"11530-37\",\"bonbun\":\"0701\",\"bubun\":\"0076\",\"buildYear\":1987,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"50,000\",\"dealDay\":23,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":79.79,\"floor\":6,\"jibun\":\"701-76\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"가마산로\",\"roadNmBonbun\":\"00097\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000023,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"청구\",\"aptSeq\":\"11530-63\",\"bonbun\":\"0326\",\"bubun\":\"0000\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"56,250\",\"dealDay\":18,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.94,\"floor\":3,\"jibun\":326,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"중앙로6길\",\"roadNmBonbun\":\"00005\",\"roadNmBubun\":\"00015\",\"roadNmCd\":4148468,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10600,\"umdNm\":\"고척동\"},{\"aptDong\":\" \",\"aptNm\":\"삼성래미안\",\"aptSeq\":\"11530-171\",\"bonbun\":\"0256\",\"bubun\":\"0001\",\"buildYear\":2004,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"85,000\",\"dealDay\":15,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":78.665,\"floor\":20,\"jibun\":\"256-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"디지털로31길\",\"roadNmBonbun\":\"00090\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148335,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"극동\",\"aptSeq\":\"11530-2\",\"bonbun\":\"0314\",\"bubun\":\"0000\",\"buildYear\":1984,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"57,000\",\"dealDay\":23,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":90.98,\"floor\":4,\"jibun\":314,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"구로중앙로7길\",\"roadNmBonbun\":\"00028\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148286,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"고척파크푸르지오\",\"aptSeq\":\"11530-3373\",\"bonbun\":\"0339\",\"bubun\":\"0000\",\"buildYear\":2009,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"87,250\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.89,\"floor\":6,\"jibun\":339,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"중앙로\",\"roadNmBonbun\":\"00121\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3005068,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10600,\"umdNm\":\"고척동\"},{\"aptDong\":\" \",\"aptNm\":\"고척파크푸르지오\",\"aptSeq\":\"11530-3373\",\"bonbun\":\"0339\",\"bubun\":\"0000\",\"buildYear\":2009,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"90,000\",\"dealDay\":28,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.89,\"floor\":7,\"jibun\":339,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"중앙로\",\"roadNmBonbun\":\"00121\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3005068,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10600,\"umdNm\":\"고척동\"},{\"aptDong\":\" \",\"aptNm\":\"영화\",\"aptSeq\":\"11530-84\",\"bonbun\":\"0475\",\"bubun\":\"0000\",\"buildYear\":1998,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"60,700\",\"dealDay\":12,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.78,\"floor\":21,\"jibun\":475,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로40길\",\"roadNmBonbun\":\"00011\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148098,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"다청림(356)\",\"aptSeq\":\"11530-3734\",\"bonbun\":\"0356\",\"bubun\":\"0000\",\"buildYear\":2013,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"28,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":38.11,\"floor\":6,\"jibun\":356,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"서해안로\",\"roadNmBonbun\":\"02275\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000020,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10800,\"umdNm\":\"오류동\"},{\"aptDong\":\" \",\"aptNm\":\"한신휴플러스(1280-0)\",\"aptSeq\":\"11530-3282\",\"bonbun\":1280,\"bubun\":\"0000\",\"buildYear\":2007,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"72,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":58.03,\"floor\":18,\"jibun\":1280,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"디지털로31길\",\"roadNmBonbun\":\"00120\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148335,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"벽산\",\"aptSeq\":\"11530-69\",\"bonbun\":\"0334\",\"bubun\":\"0000\",\"buildYear\":2003,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"90,000\",\"dealDay\":27,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.878,\"floor\":25,\"jibun\":334,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로\",\"roadNmBonbun\":\"00390\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000028,\"roadNmSeq\":\"03\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10600,\"umdNm\":\"고척동\"},{\"aptDong\":\" \",\"aptNm\":\"동아한신\",\"aptSeq\":\"11530-52\",\"bonbun\":\"0327\",\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"59,000\",\"dealDay\":13,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.9,\"floor\":18,\"jibun\":327,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"중앙로6길\",\"roadNmBonbun\":\"00017\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148468,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10600,\"umdNm\":\"고척동\"},{\"aptDong\":\" \",\"aptNm\":\"우성2\",\"aptSeq\":\"11530-140\",\"bonbun\":\"0639\",\"bubun\":\"0000\",\"buildYear\":1996,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"93,000\",\"dealDay\":18,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.94,\"floor\":9,\"jibun\":639,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"신도림로\",\"roadNmBonbun\":\"00105\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116008,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"동아3\",\"aptSeq\":\"11530-132\",\"bonbun\":\"0645\",\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"108,000\",\"dealDay\":16,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":60,\"floor\":5,\"jibun\":645,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"신도림로\",\"roadNmBonbun\":\"00078\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116008,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"우성1\",\"aptSeq\":\"11530-139\",\"bonbun\":\"0312\",\"bubun\":\"0017\",\"buildYear\":1992,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"89,000\",\"dealDay\":23,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":73.18,\"floor\":14,\"jibun\":\"312-17\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"신도림로\",\"roadNmBonbun\":\"00110\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116008,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"동아2\",\"aptSeq\":\"11530-131\",\"bonbun\":\"0644\",\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"129,000\",\"dealDay\":25,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 강남구, 서울 구로구\",\"excluUseAr\":84.908,\"floor\":21,\"jibun\":644,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로\",\"roadNmBonbun\":\"00643\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000028,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"동아3\",\"aptSeq\":\"11530-132\",\"bonbun\":\"0645\",\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"134,000\",\"dealDay\":28,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.99,\"floor\":4,\"jibun\":645,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"신도림로\",\"roadNmBonbun\":\"00078\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116008,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"대림e-편한세상4\",\"aptSeq\":\"11530-163\",\"bonbun\":\"0646\",\"bubun\":\"0000\",\"buildYear\":2003,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"168,500\",\"dealDay\":27,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.78,\"floor\":3,\"jibun\":646,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로65길\",\"roadNmBonbun\":\"00016\",\"roadNmBubun\":\"00015\",\"roadNmCd\":4148117,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"개봉동현대아이파크\",\"aptSeq\":\"11530-3213\",\"bonbun\":\"0489\",\"bubun\":\"0000\",\"buildYear\":2006,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"89,250\",\"dealDay\":23,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.98,\"floor\":18,\"jibun\":489,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"개봉로2길\",\"roadNmBonbun\":\"00133\",\"roadNmBubun\":\"00015\",\"roadNmCd\":4148053,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"삼천리\",\"aptSeq\":\"11530-105\",\"bonbun\":\"0340\",\"bubun\":\"0000\",\"buildYear\":1998,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"55,000\",\"dealDay\":18,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.73,\"floor\":16,\"jibun\":340,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로8길\",\"roadNmBonbun\":\"00075\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148123,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10800,\"umdNm\":\"오류동\"},{\"aptDong\":\" \",\"aptNm\":\"SKVIEW\",\"aptSeq\":\"11530-3174\",\"bonbun\":\"0432\",\"bubun\":\"0001\",\"buildYear\":2006,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"104,000\",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.98,\"floor\":8,\"jibun\":\"432-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로\",\"roadNmBonbun\":\"00638\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000028,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"천왕연지타운2단지\",\"aptSeq\":\"11530-3775\",\"bonbun\":\"0281\",\"bubun\":\"0000\",\"buildYear\":2014,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"68,000\",\"dealDay\":9,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.98,\"floor\":1,\"jibun\":281,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"오리로\",\"roadNmBonbun\":\"01102\",\"roadNmBubun\":\"00010\",\"roadNmCd\":3000022,\"roadNmSeq\":\"03\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":11100,\"umdNm\":\"천왕동\"},{\"aptDong\":\" \",\"aptNm\":\"고척LIG리가2차\",\"aptSeq\":\"11530-3386\",\"bonbun\":\"0340\",\"bubun\":\"0001\",\"buildYear\":2009,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"76,000\",\"dealDay\":25,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구, 서울 양천구\",\"excluUseAr\":59.95,\"floor\":11,\"jibun\":\"340-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"중앙로12길\",\"roadNmBonbun\":\"00017\",\"roadNmBubun\":\"00008\",\"roadNmCd\":4148458,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10600,\"umdNm\":\"고척동\"},{\"aptDong\":\" \",\"aptNm\":\"항동중흥에스클래스베르데카운티\",\"aptSeq\":\"11530-4392\",\"bonbun\":\"0236\",\"bubun\":\"0000\",\"buildYear\":2019,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"120,000\",\"dealDay\":11,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":147.9822,\"floor\":2,\"jibun\":236,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"연동로\",\"roadNmBonbun\":\"00233\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000021,\"roadNmSeq\":\"00\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":11200,\"umdNm\":\"항동\"},{\"aptDong\":\" \",\"aptNm\":\"오류동푸르지오\",\"aptSeq\":\"11530-191\",\"bonbun\":\"0346\",\"bubun\":\"0000\",\"buildYear\":2004,\"buyerGbn\":\"개인\",\"cdealDay\":\"25.07.03\",\"cdealType\":\"O\",\"dealAmount\":\"78,000\",\"dealDay\":22,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.936,\"floor\":12,\"jibun\":346,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"오류로8길\",\"roadNmBonbun\":\"00011\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148422,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10800,\"umdNm\":\"오류동\"},{\"aptDong\":\" \",\"aptNm\":\"구로현대\",\"aptSeq\":\"11530-138\",\"bonbun\":1256,\"bubun\":\"0000\",\"buildYear\":1992,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"52,000\",\"dealDay\":24,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":56.49,\"floor\":1,\"jibun\":1256,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"디지털로\",\"roadNmBonbun\":\"00319\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000026,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"삼환\",\"aptSeq\":\"11530-80\",\"bonbun\":\"0470\",\"bubun\":\"0000\",\"buildYear\":1995,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"65,300\",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.945,\"floor\":15,\"jibun\":470,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"남부순환로95길\",\"roadNmBonbun\":\"00054\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148300,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"삼환\",\"aptSeq\":\"11530-80\",\"bonbun\":\"0470\",\"bubun\":\"0000\",\"buildYear\":1995,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"53,200\",\"dealDay\":13,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.4,\"floor\":9,\"jibun\":470,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"남부순환로95길\",\"roadNmBonbun\":\"00054\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148300,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"동아1\",\"aptSeq\":\"11530-130\",\"bonbun\":\"0643\",\"bubun\":\"0000\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"124,000\",\"dealDay\":19,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.908,\"floor\":19,\"jibun\":643,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"신도림로\",\"roadNmBonbun\":\"00087\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116008,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"서울가든\",\"aptSeq\":\"11530-56\",\"bonbun\":\"0141\",\"bubun\":\"0001\",\"buildYear\":1989,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"49,200\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":54.61,\"floor\":7,\"jibun\":\"141-1\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"중앙로5길\",\"roadNmBonbun\":\"00062\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148467,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10600,\"umdNm\":\"고척동\"},{\"aptDong\":\" \",\"aptNm\":\"동아3\",\"aptSeq\":\"11530-132\",\"bonbun\":\"0645\",\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"161,000\",\"dealDay\":17,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":164.82,\"floor\":24,\"jibun\":645,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"신도림로\",\"roadNmBonbun\":\"00078\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116008,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"우성(1058)\",\"aptSeq\":\"11530-23\",\"bonbun\":1058,\"bubun\":\"0000\",\"buildYear\":1995,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"54,200\",\"dealDay\":30,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.34,\"floor\":6,\"jibun\":1058,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"구일로8길\",\"roadNmBonbun\":\"00031\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148292,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"한마을\",\"aptSeq\":\"11530-89\",\"bonbun\":\"0476\",\"bubun\":\"0000\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"70,000\",\"dealDay\":20,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.57,\"floor\":6,\"jibun\":476,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로\",\"roadNmBonbun\":\"00382\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000028,\"roadNmSeq\":\"04\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"신도림태영타운\",\"aptSeq\":\"11530-17\",\"bonbun\":1267,\"bubun\":\"0000\",\"buildYear\":2000,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"111,300\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.87,\"floor\":4,\"jibun\":1267,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"새말로\",\"roadNmBonbun\":\"00093\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116007,\"roadNmSeq\":\"02\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"구로두산\",\"aptSeq\":\"11530-9\",\"bonbun\":1265,\"bubun\":\"0000\",\"buildYear\":1998,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"46,500\",\"dealDay\":15,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":44.64,\"floor\":21,\"jibun\":1265,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"도림로\",\"roadNmBonbun\":\"00059\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3116010,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"(749-46)\",\"aptSeq\":\"11530-425\",\"bonbun\":\"0749\",\"bubun\":\"0046\",\"buildYear\":1996,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"19,300\",\"dealDay\":25,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":38.43,\"floor\":2,\"jibun\":\"749-46\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\"25.07.03\",\"roadNm\":\"구로동로20길\",\"roadNmBonbun\":\"00064\",\"roadNmBubun\":\"00002\",\"roadNmCd\":4148207,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"법인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"한마을\",\"aptSeq\":\"11530-89\",\"bonbun\":\"0476\",\"bubun\":\"0000\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"87,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.57,\"floor\":13,\"jibun\":476,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로\",\"roadNmBonbun\":\"00382\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000028,\"roadNmSeq\":\"04\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"한마을\",\"aptSeq\":\"11530-89\",\"bonbun\":\"0476\",\"bubun\":\"0000\",\"buildYear\":1999,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"85,500\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.57,\"floor\":11,\"jibun\":476,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로\",\"roadNmBonbun\":\"00382\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000028,\"roadNmSeq\":\"04\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10700,\"umdNm\":\"개봉동\"},{\"aptDong\":\" \",\"aptNm\":\"우성3\",\"aptSeq\":\"11530-141\",\"bonbun\":\"0637\",\"bubun\":\"0000\",\"buildYear\":1993,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"95,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.75,\"floor\":3,\"jibun\":637,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"신도림로21길\",\"roadNmBonbun\":\"00025\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148402,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10100,\"umdNm\":\"신도림동\"},{\"aptDong\":\" \",\"aptNm\":\"구로아트빌라3동\",\"aptSeq\":\"11530-640\",\"bonbun\":\"0806\",\"bubun\":\"0009\",\"buildYear\":1997,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"31,000\",\"dealDay\":29,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.94,\"floor\":4,\"jibun\":\"806-9\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"도림로3길\",\"roadNmBonbun\":\"00015\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148315,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"벽산\",\"aptSeq\":\"11530-69\",\"bonbun\":\"0334\",\"bubun\":\"0000\",\"buildYear\":2003,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"92,000\",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.878,\"floor\":14,\"jibun\":334,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"경인로\",\"roadNmBonbun\":\"00390\",\"roadNmBubun\":\"00000\",\"roadNmCd\":3000028,\"roadNmSeq\":\"03\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10600,\"umdNm\":\"고척동\"},{\"aptDong\":\" \",\"aptNm\":\"주공1\",\"aptSeq\":\"11530-29\",\"bonbun\":\"0685\",\"bubun\":\"0222\",\"buildYear\":1986,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"86,500\",\"dealDay\":20,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":84.165,\"floor\":3,\"jibun\":\"685-222\",\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"구일로4길\",\"roadNmBonbun\":\"00065\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148291,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"구로두산위브\",\"aptSeq\":\"11530-3249\",\"bonbun\":1278,\"bubun\":\"0000\",\"buildYear\":2006,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"49,100\",\"dealDay\":28,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":36.88,\"floor\":3,\"jibun\":1278,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"디지털로31길\",\"roadNmBonbun\":\"00085\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148335,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"},{\"aptDong\":\" \",\"aptNm\":\"이화우성\",\"aptSeq\":\"11530-27\",\"bonbun\":1260,\"bubun\":\"0000\",\"buildYear\":1998,\"buyerGbn\":\"개인\",\"cdealDay\":\" \",\"cdealType\":\" \",\"dealAmount\":\"60,000\",\"dealDay\":15,\"dealMonth\":6,\"dealYear\":2025,\"dealingGbn\":\"중개거래\",\"estateAgentSggNm\":\"서울 구로구\",\"excluUseAr\":59.82,\"floor\":5,\"jibun\":1260,\"landCd\":1,\"landLeaseholdGbn\":\"N\",\"rgstDate\":\" \",\"roadNm\":\"도림로22길\",\"roadNmBonbun\":\"00008\",\"roadNmBubun\":\"00000\",\"roadNmCd\":4148310,\"roadNmSeq\":\"01\",\"roadNmSggCd\":11530,\"roadNmbCd\":0,\"sggCd\":11530,\"slerGbn\":\"개인\",\"umdCd\":10200,\"umdNm\":\"구로동\"}]},\"numOfRows\":50,\"pageNo\":1,\"totalCount\":404}}}]",
            "date": "202506"
          }
        }
      }
    ],
    "Rent AI Agent": [
      {
        "json": {
          "output": {
            "result": "[{\"response\":{\"header\":{\"resultCode\":\"000\",\"resultMsg\":\"OK\"},\"body\":{\"items\":{\"item\":[{\"aptNm\":\"신도림태영타운\",\"buildYear\":2000,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":17,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"65,000\",\"excluUseAr\":84.87,\"floor\":6,\"jibun\":1267,\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"구로동\",\"useRRRight\":\" \"},{\"aptNm\":\"주공2\",\"buildYear\":1987,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":28,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"20,000\",\"excluUseAr\":41.3,\"floor\":1,\"jibun\":\"685-223\",\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"구로동\",\"useRRRight\":\" \"},{\"aptNm\":\"주공2\",\"buildYear\":1987,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":5,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"1,000\",\"excluUseAr\":41.3,\"floor\":12,\"jibun\":\"685-223\",\"monthlyRent\":85,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"구로동\",\"useRRRight\":\" \"},{\"aptNm\":\"구로두산위브\",\"buildYear\":2006,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":24,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"29,000\",\"excluUseAr\":36.88,\"floor\":10,\"jibun\":1278,\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"구로동\",\"useRRRight\":\" \"},{\"aptNm\":\"구일우성\",\"buildYear\":1998,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":21,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"10,000\",\"excluUseAr\":59.44,\"floor\":15,\"jibun\":1259,\"monthlyRent\":90,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"구로동\",\"useRRRight\":\" \"},{\"aptNm\":\"경남2\",\"buildYear\":1999,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":22,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"28,000\",\"excluUseAr\":59.96,\"floor\":14,\"jibun\":306,\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"고척동\",\"useRRRight\":\" \"},{\"aptNm\":\"신도림태영타운\",\"buildYear\":2000,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":20,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"67,000\",\"excluUseAr\":84.87,\"floor\":25,\"jibun\":1267,\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"구로동\",\"useRRRight\":\" \"},{\"aptNm\":\"한신휴플러스(1280-0)\",\"buildYear\":2007,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":19,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"44,000\",\"excluUseAr\":58.03,\"floor\":15,\"jibun\":1280,\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"구로동\",\"useRRRight\":\" \"},{\"aptNm\":\"신도림아이파크\",\"buildYear\":2015,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":19,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"34,000\",\"excluUseAr\":57.9753,\"floor\":5,\"jibun\":693,\"monthlyRent\":39,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"신도림동\",\"useRRRight\":\" \"},{\"aptNm\":\"두산\",\"buildYear\":1997,\"contractTerm\":\" \",\"contractType\":\" \",\"dealDay\":14,\"dealMonth\":6,\"dealYear\":2025,\"deposit\":\"33,000\",\"excluUseAr\":59.69,\"floor\":5,\"jibun\":472,\"monthlyRent\":0,\"preDeposit\":\" \",\"preMonthlyRent\":\" \",\"sggCd\":11530,\"umdNm\":\"개봉동\",\"useRRRight\":\" \"}]},\"numOfRows\":10,\"pageNo\":1,\"totalCount\":591}}}]",
            "date": "202506"
          }
        }
      }
    ],
    "When clicking ‘Execute workflow’": [
      {
        "json": {}
      }
    ],
    "Merge": [
      {
        "json": {
          "service_key": "WE0m2%2F8pvymPJh7Jw%2BdulEbFj0z80p%2Byu%2BrTz2h1nbSJN%2FBzudIS8s9X6cdE580hVt%2FYGymoDCdDtLbpgbZU8A%3D%3D",
          "service_id": "d69d13ff0fbe4e1c917d",
          "secret_key": "fc86374c5539441fbe56",
          "v-world": "9CBE0747-6F0E-3D4C-A98D-D7F9D5740877",
          "keyword": "구로구"
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "data": "{\"StanReginCd\":[{\"head\":[{\"totalCount\":11},{\"numOfRows\":\"3\",\"pageNo\":\"1\",\"type\":\"JSON\"},{\"RESULT\":{\"resultCode\":\"INFO-0\",\"resultMsg\":\"NOMAL SERVICE\"}}]},{\"row\":[{\"region_cd\":\"1153000000\",\"sido_cd\":\"11\",\"sgg_cd\":\"530\",\"umd_cd\":\"000\",\"ri_cd\":\"00\",\"locatjumin_cd\":\"1153000000\",\"locatjijuk_cd\":\"1153000000\",\"locatadd_nm\":\"서울특별시 구로구\",\"locat_order\":17,\"locat_rm\":\"\",\"locathigh_cd\":\"1100000000\",\"locallow_nm\":\"구로구\",\"adpt_de\":\"\"},{\"region_cd\":\"1153010100\",\"sido_cd\":\"11\",\"sgg_cd\":\"530\",\"umd_cd\":\"101\",\"ri_cd\":\"00\",\"locatjumin_cd\":\"1153010100\",\"locatjijuk_cd\":\"1153010100\",\"locatadd_nm\":\"서울특별시 구로구 신도림동\",\"locat_order\":1,\"locat_rm\":\"\",\"locathigh_cd\":\"1153000000\",\"locallow_nm\":\"신도림동\",\"adpt_de\":\"\"},{\"region_cd\":\"1153010200\",\"sido_cd\":\"11\",\"sgg_cd\":\"530\",\"umd_cd\":\"102\",\"ri_cd\":\"00\",\"locatjumin_cd\":\"1153010200\",\"locatjijuk_cd\":\"1153010200\",\"locatadd_nm\":\"서울특별시 구로구 구로동\",\"locat_order\":2,\"locat_rm\":\"\",\"locathigh_cd\":\"1153000000\",\"locallow_nm\":\"구로동\",\"adpt_de\":\"\"}]}]}"
        }
      }
    ],
    "Get DongCode": [
      {
        "json": {
          "code": "11530"
        }
      }
    ],
    "TradeCode": [
      {
        "json": {
          "trade_item": [
            {
              "aptDong": " ",
              "aptNm": "주공2",
              "aptSeq": "11530-137",
              "bonbun": "0685",
              "bubun": "0223",
              "buildYear": 1987,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "39,000",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 32.39,
              "floor": 9,
              "jibun": "685-223",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구일로4길",
              "roadNmBonbun": "00022",
              "roadNmBubun": "00000",
              "roadNmCd": 4148291,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼성래미안",
              "aptSeq": "11530-171",
              "bonbun": "0256",
              "bubun": "0001",
              "buildYear": 2004,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "78,500",
              "dealDay": 24,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 58.136,
              "floor": 17,
              "jibun": "256-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로31길",
              "roadNmBonbun": "00090",
              "roadNmBubun": "00000",
              "roadNmCd": 4148335,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대",
              "aptSeq": "11530-91",
              "bonbun": "0481",
              "bubun": "0000",
              "buildYear": 2001,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "89,500",
              "dealDay": 29,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 114.99,
              "floor": 22,
              "jibun": 481,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "개봉로20길",
              "roadNmBonbun": "00006",
              "roadNmBubun": "00000",
              "roadNmCd": 4148049,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "영화",
              "aptSeq": "11530-84",
              "bonbun": "0475",
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "72,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.96,
              "floor": 10,
              "jibun": 475,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로40길",
              "roadNmBonbun": "00011",
              "roadNmBubun": "00000",
              "roadNmCd": 4148098,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "한일유앤아이",
              "aptSeq": "11530-3214",
              "bonbun": 1281,
              "bubun": "0000",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "59,800",
              "dealDay": 30,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 74.229,
              "floor": 1,
              "jibun": 1281,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "가마산로",
              "roadNmBonbun": "00087",
              "roadNmBubun": "00000",
              "roadNmCd": 3000023,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "거성푸르뫼",
              "aptSeq": "11530-71",
              "bonbun": "0060",
              "bubun": "0101",
              "buildYear": 1993,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "41,750",
              "dealDay": 16,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.89,
              "floor": 14,
              "jibun": "60-101",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "고척로",
              "roadNmBonbun": "00085",
              "roadNmBubun": "00000",
              "roadNmCd": 3116003,
              "roadNmSeq": "02",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아1",
              "aptSeq": "11530-130",
              "bonbun": "0643",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "125,000",
              "dealDay": 12,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.908,
              "floor": 10,
              "jibun": 643,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00087",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대로얄",
              "aptSeq": "11530-37",
              "bonbun": "0701",
              "bubun": "0076",
              "buildYear": 1987,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "50,000",
              "dealDay": 23,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 79.79,
              "floor": 6,
              "jibun": "701-76",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "가마산로",
              "roadNmBonbun": "00097",
              "roadNmBubun": "00000",
              "roadNmCd": 3000023,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "청구",
              "aptSeq": "11530-63",
              "bonbun": "0326",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "56,250",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.94,
              "floor": 3,
              "jibun": 326,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로6길",
              "roadNmBonbun": "00005",
              "roadNmBubun": "00015",
              "roadNmCd": 4148468,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼성래미안",
              "aptSeq": "11530-171",
              "bonbun": "0256",
              "bubun": "0001",
              "buildYear": 2004,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "85,000",
              "dealDay": 15,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 78.665,
              "floor": 20,
              "jibun": "256-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로31길",
              "roadNmBonbun": "00090",
              "roadNmBubun": "00000",
              "roadNmCd": 4148335,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "극동",
              "aptSeq": "11530-2",
              "bonbun": "0314",
              "bubun": "0000",
              "buildYear": 1984,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "57,000",
              "dealDay": 23,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 90.98,
              "floor": 4,
              "jibun": 314,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구로중앙로7길",
              "roadNmBonbun": "00028",
              "roadNmBubun": "00000",
              "roadNmCd": 4148286,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "고척파크푸르지오",
              "aptSeq": "11530-3373",
              "bonbun": "0339",
              "bubun": "0000",
              "buildYear": 2009,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "87,250",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.89,
              "floor": 6,
              "jibun": 339,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로",
              "roadNmBonbun": "00121",
              "roadNmBubun": "00000",
              "roadNmCd": 3005068,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "고척파크푸르지오",
              "aptSeq": "11530-3373",
              "bonbun": "0339",
              "bubun": "0000",
              "buildYear": 2009,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "90,000",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.89,
              "floor": 7,
              "jibun": 339,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로",
              "roadNmBonbun": "00121",
              "roadNmBubun": "00000",
              "roadNmCd": 3005068,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "영화",
              "aptSeq": "11530-84",
              "bonbun": "0475",
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "60,700",
              "dealDay": 12,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.78,
              "floor": 21,
              "jibun": 475,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로40길",
              "roadNmBonbun": "00011",
              "roadNmBubun": "00000",
              "roadNmCd": 4148098,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "다청림(356)",
              "aptSeq": "11530-3734",
              "bonbun": "0356",
              "bubun": "0000",
              "buildYear": 2013,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "28,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 38.11,
              "floor": 6,
              "jibun": 356,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "서해안로",
              "roadNmBonbun": "02275",
              "roadNmBubun": "00000",
              "roadNmCd": 3000020,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10800,
              "umdNm": "오류동"
            },
            {
              "aptDong": " ",
              "aptNm": "한신휴플러스(1280-0)",
              "aptSeq": "11530-3282",
              "bonbun": 1280,
              "bubun": "0000",
              "buildYear": 2007,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "72,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 58.03,
              "floor": 18,
              "jibun": 1280,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로31길",
              "roadNmBonbun": "00120",
              "roadNmBubun": "00000",
              "roadNmCd": 4148335,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "벽산",
              "aptSeq": "11530-69",
              "bonbun": "0334",
              "bubun": "0000",
              "buildYear": 2003,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "90,000",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.878,
              "floor": 25,
              "jibun": 334,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00390",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "03",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아한신",
              "aptSeq": "11530-52",
              "bonbun": "0327",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "59,000",
              "dealDay": 13,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.9,
              "floor": 18,
              "jibun": 327,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로6길",
              "roadNmBonbun": "00017",
              "roadNmBubun": "00000",
              "roadNmCd": 4148468,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성2",
              "aptSeq": "11530-140",
              "bonbun": "0639",
              "bubun": "0000",
              "buildYear": 1996,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "93,000",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.94,
              "floor": 9,
              "jibun": 639,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00105",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아3",
              "aptSeq": "11530-132",
              "bonbun": "0645",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "108,000",
              "dealDay": 16,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 60,
              "floor": 5,
              "jibun": 645,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00078",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성1",
              "aptSeq": "11530-139",
              "bonbun": "0312",
              "bubun": "0017",
              "buildYear": 1992,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "89,000",
              "dealDay": 23,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 73.18,
              "floor": 14,
              "jibun": "312-17",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00110",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아2",
              "aptSeq": "11530-131",
              "bonbun": "0644",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "129,000",
              "dealDay": 25,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 강남구, 서울 구로구",
              "excluUseAr": 84.908,
              "floor": 21,
              "jibun": 644,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00643",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아3",
              "aptSeq": "11530-132",
              "bonbun": "0645",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "134,000",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.99,
              "floor": 4,
              "jibun": 645,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00078",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "대림e-편한세상4",
              "aptSeq": "11530-163",
              "bonbun": "0646",
              "bubun": "0000",
              "buildYear": 2003,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "168,500",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.78,
              "floor": 3,
              "jibun": 646,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로65길",
              "roadNmBonbun": "00016",
              "roadNmBubun": "00015",
              "roadNmCd": 4148117,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "개봉동현대아이파크",
              "aptSeq": "11530-3213",
              "bonbun": "0489",
              "bubun": "0000",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "89,250",
              "dealDay": 23,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.98,
              "floor": 18,
              "jibun": 489,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "개봉로2길",
              "roadNmBonbun": "00133",
              "roadNmBubun": "00015",
              "roadNmCd": 4148053,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼천리",
              "aptSeq": "11530-105",
              "bonbun": "0340",
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "55,000",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.73,
              "floor": 16,
              "jibun": 340,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로8길",
              "roadNmBonbun": "00075",
              "roadNmBubun": "00000",
              "roadNmCd": 4148123,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10800,
              "umdNm": "오류동"
            },
            {
              "aptDong": " ",
              "aptNm": "SKVIEW",
              "aptSeq": "11530-3174",
              "bonbun": "0432",
              "bubun": "0001",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "104,000",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.98,
              "floor": 8,
              "jibun": "432-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00638",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "천왕연지타운2단지",
              "aptSeq": "11530-3775",
              "bonbun": "0281",
              "bubun": "0000",
              "buildYear": 2014,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "68,000",
              "dealDay": 9,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.98,
              "floor": 1,
              "jibun": 281,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "오리로",
              "roadNmBonbun": "01102",
              "roadNmBubun": "00010",
              "roadNmCd": 3000022,
              "roadNmSeq": "03",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 11100,
              "umdNm": "천왕동"
            },
            {
              "aptDong": " ",
              "aptNm": "고척LIG리가2차",
              "aptSeq": "11530-3386",
              "bonbun": "0340",
              "bubun": "0001",
              "buildYear": 2009,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "76,000",
              "dealDay": 25,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구, 서울 양천구",
              "excluUseAr": 59.95,
              "floor": 11,
              "jibun": "340-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로12길",
              "roadNmBonbun": "00017",
              "roadNmBubun": "00008",
              "roadNmCd": 4148458,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "항동중흥에스클래스베르데카운티",
              "aptSeq": "11530-4392",
              "bonbun": "0236",
              "bubun": "0000",
              "buildYear": 2019,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "120,000",
              "dealDay": 11,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 147.9822,
              "floor": 2,
              "jibun": 236,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "연동로",
              "roadNmBonbun": "00233",
              "roadNmBubun": "00000",
              "roadNmCd": 3000021,
              "roadNmSeq": "00",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 11200,
              "umdNm": "항동"
            },
            {
              "aptDong": " ",
              "aptNm": "오류동푸르지오",
              "aptSeq": "11530-191",
              "bonbun": "0346",
              "bubun": "0000",
              "buildYear": 2004,
              "buyerGbn": "개인",
              "cdealDay": "25.07.03",
              "cdealType": "O",
              "dealAmount": "78,000",
              "dealDay": 22,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.936,
              "floor": 12,
              "jibun": 346,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "오류로8길",
              "roadNmBonbun": "00011",
              "roadNmBubun": "00000",
              "roadNmCd": 4148422,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10800,
              "umdNm": "오류동"
            },
            {
              "aptDong": " ",
              "aptNm": "구로현대",
              "aptSeq": "11530-138",
              "bonbun": 1256,
              "bubun": "0000",
              "buildYear": 1992,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "52,000",
              "dealDay": 24,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 56.49,
              "floor": 1,
              "jibun": 1256,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로",
              "roadNmBonbun": "00319",
              "roadNmBubun": "00000",
              "roadNmCd": 3000026,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼환",
              "aptSeq": "11530-80",
              "bonbun": "0470",
              "bubun": "0000",
              "buildYear": 1995,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "65,300",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.945,
              "floor": 15,
              "jibun": 470,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "남부순환로95길",
              "roadNmBonbun": "00054",
              "roadNmBubun": "00000",
              "roadNmCd": 4148300,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼환",
              "aptSeq": "11530-80",
              "bonbun": "0470",
              "bubun": "0000",
              "buildYear": 1995,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "53,200",
              "dealDay": 13,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.4,
              "floor": 9,
              "jibun": 470,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "남부순환로95길",
              "roadNmBonbun": "00054",
              "roadNmBubun": "00000",
              "roadNmCd": 4148300,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아1",
              "aptSeq": "11530-130",
              "bonbun": "0643",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "124,000",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.908,
              "floor": 19,
              "jibun": 643,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00087",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "서울가든",
              "aptSeq": "11530-56",
              "bonbun": "0141",
              "bubun": "0001",
              "buildYear": 1989,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "49,200",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 54.61,
              "floor": 7,
              "jibun": "141-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로5길",
              "roadNmBonbun": "00062",
              "roadNmBubun": "00000",
              "roadNmCd": 4148467,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아3",
              "aptSeq": "11530-132",
              "bonbun": "0645",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "161,000",
              "dealDay": 17,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 164.82,
              "floor": 24,
              "jibun": 645,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00078",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성(1058)",
              "aptSeq": "11530-23",
              "bonbun": 1058,
              "bubun": "0000",
              "buildYear": 1995,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "54,200",
              "dealDay": 30,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.34,
              "floor": 6,
              "jibun": 1058,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구일로8길",
              "roadNmBonbun": "00031",
              "roadNmBubun": "00000",
              "roadNmCd": 4148292,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "한마을",
              "aptSeq": "11530-89",
              "bonbun": "0476",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "70,000",
              "dealDay": 20,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.57,
              "floor": 6,
              "jibun": 476,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00382",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "04",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "신도림태영타운",
              "aptSeq": "11530-17",
              "bonbun": 1267,
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "111,300",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.87,
              "floor": 4,
              "jibun": 1267,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "새말로",
              "roadNmBonbun": "00093",
              "roadNmBubun": "00000",
              "roadNmCd": 3116007,
              "roadNmSeq": "02",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "구로두산",
              "aptSeq": "11530-9",
              "bonbun": 1265,
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "46,500",
              "dealDay": 15,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 44.64,
              "floor": 21,
              "jibun": 1265,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "도림로",
              "roadNmBonbun": "00059",
              "roadNmBubun": "00000",
              "roadNmCd": 3116010,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "(749-46)",
              "aptSeq": "11530-425",
              "bonbun": "0749",
              "bubun": "0046",
              "buildYear": 1996,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "19,300",
              "dealDay": 25,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 38.43,
              "floor": 2,
              "jibun": "749-46",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": "25.07.03",
              "roadNm": "구로동로20길",
              "roadNmBonbun": "00064",
              "roadNmBubun": "00002",
              "roadNmCd": 4148207,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "법인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "한마을",
              "aptSeq": "11530-89",
              "bonbun": "0476",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "87,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.57,
              "floor": 13,
              "jibun": 476,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00382",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "04",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "한마을",
              "aptSeq": "11530-89",
              "bonbun": "0476",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "85,500",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.57,
              "floor": 11,
              "jibun": 476,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00382",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "04",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성3",
              "aptSeq": "11530-141",
              "bonbun": "0637",
              "bubun": "0000",
              "buildYear": 1993,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "95,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.75,
              "floor": 3,
              "jibun": 637,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로21길",
              "roadNmBonbun": "00025",
              "roadNmBubun": "00000",
              "roadNmCd": 4148402,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "구로아트빌라3동",
              "aptSeq": "11530-640",
              "bonbun": "0806",
              "bubun": "0009",
              "buildYear": 1997,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "31,000",
              "dealDay": 29,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.94,
              "floor": 4,
              "jibun": "806-9",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "도림로3길",
              "roadNmBonbun": "00015",
              "roadNmBubun": "00000",
              "roadNmCd": 4148315,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "벽산",
              "aptSeq": "11530-69",
              "bonbun": "0334",
              "bubun": "0000",
              "buildYear": 2003,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "92,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.878,
              "floor": 14,
              "jibun": 334,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00390",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "03",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "주공1",
              "aptSeq": "11530-29",
              "bonbun": "0685",
              "bubun": "0222",
              "buildYear": 1986,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "86,500",
              "dealDay": 20,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.165,
              "floor": 3,
              "jibun": "685-222",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구일로4길",
              "roadNmBonbun": "00065",
              "roadNmBubun": "00000",
              "roadNmCd": 4148291,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "구로두산위브",
              "aptSeq": "11530-3249",
              "bonbun": 1278,
              "bubun": "0000",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "49,100",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 36.88,
              "floor": 3,
              "jibun": 1278,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로31길",
              "roadNmBonbun": "00085",
              "roadNmBubun": "00000",
              "roadNmCd": 4148335,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "이화우성",
              "aptSeq": "11530-27",
              "bonbun": 1260,
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "60,000",
              "dealDay": 15,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.82,
              "floor": 5,
              "jibun": 1260,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "도림로22길",
              "roadNmBonbun": "00008",
              "roadNmBubun": "00000",
              "roadNmCd": 4148310,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            }
          ]
        }
      }
    ],
    "RentCode": [
      {
        "json": {
          "rent_item": [
            {
              "aptNm": "신도림태영타운",
              "buildYear": 2000,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 17,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "65,000",
              "excluUseAr": 84.87,
              "floor": 6,
              "jibun": 1267,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "주공2",
              "buildYear": 1987,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "20,000",
              "excluUseAr": 41.3,
              "floor": 1,
              "jibun": "685-223",
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "주공2",
              "buildYear": 1987,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 5,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "1,000",
              "excluUseAr": 41.3,
              "floor": 12,
              "jibun": "685-223",
              "monthlyRent": 85,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "구로두산위브",
              "buildYear": 2006,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 24,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "29,000",
              "excluUseAr": 36.88,
              "floor": 10,
              "jibun": 1278,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "구일우성",
              "buildYear": 1998,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "10,000",
              "excluUseAr": 59.44,
              "floor": 15,
              "jibun": 1259,
              "monthlyRent": 90,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "경남2",
              "buildYear": 1999,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 22,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "28,000",
              "excluUseAr": 59.96,
              "floor": 14,
              "jibun": 306,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "고척동",
              "useRRRight": " "
            },
            {
              "aptNm": "신도림태영타운",
              "buildYear": 2000,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 20,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "67,000",
              "excluUseAr": 84.87,
              "floor": 25,
              "jibun": 1267,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "한신휴플러스(1280-0)",
              "buildYear": 2007,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "44,000",
              "excluUseAr": 58.03,
              "floor": 15,
              "jibun": 1280,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "신도림아이파크",
              "buildYear": 2015,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "34,000",
              "excluUseAr": 57.9753,
              "floor": 5,
              "jibun": 693,
              "monthlyRent": 39,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "신도림동",
              "useRRRight": " "
            },
            {
              "aptNm": "두산",
              "buildYear": 1997,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "33,000",
              "excluUseAr": 59.69,
              "floor": 5,
              "jibun": 472,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "개봉동",
              "useRRRight": " "
            }
          ]
        }
      }
    ],
    "Merge1": [
      {
        "json": {
          "trade_item": [
            {
              "aptDong": " ",
              "aptNm": "주공2",
              "aptSeq": "11530-137",
              "bonbun": "0685",
              "bubun": "0223",
              "buildYear": 1987,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "39,000",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 32.39,
              "floor": 9,
              "jibun": "685-223",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구일로4길",
              "roadNmBonbun": "00022",
              "roadNmBubun": "00000",
              "roadNmCd": 4148291,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼성래미안",
              "aptSeq": "11530-171",
              "bonbun": "0256",
              "bubun": "0001",
              "buildYear": 2004,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "78,500",
              "dealDay": 24,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 58.136,
              "floor": 17,
              "jibun": "256-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로31길",
              "roadNmBonbun": "00090",
              "roadNmBubun": "00000",
              "roadNmCd": 4148335,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대",
              "aptSeq": "11530-91",
              "bonbun": "0481",
              "bubun": "0000",
              "buildYear": 2001,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "89,500",
              "dealDay": 29,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 114.99,
              "floor": 22,
              "jibun": 481,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "개봉로20길",
              "roadNmBonbun": "00006",
              "roadNmBubun": "00000",
              "roadNmCd": 4148049,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "영화",
              "aptSeq": "11530-84",
              "bonbun": "0475",
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "72,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.96,
              "floor": 10,
              "jibun": 475,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로40길",
              "roadNmBonbun": "00011",
              "roadNmBubun": "00000",
              "roadNmCd": 4148098,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "한일유앤아이",
              "aptSeq": "11530-3214",
              "bonbun": 1281,
              "bubun": "0000",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "59,800",
              "dealDay": 30,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 74.229,
              "floor": 1,
              "jibun": 1281,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "가마산로",
              "roadNmBonbun": "00087",
              "roadNmBubun": "00000",
              "roadNmCd": 3000023,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "거성푸르뫼",
              "aptSeq": "11530-71",
              "bonbun": "0060",
              "bubun": "0101",
              "buildYear": 1993,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "41,750",
              "dealDay": 16,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.89,
              "floor": 14,
              "jibun": "60-101",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "고척로",
              "roadNmBonbun": "00085",
              "roadNmBubun": "00000",
              "roadNmCd": 3116003,
              "roadNmSeq": "02",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아1",
              "aptSeq": "11530-130",
              "bonbun": "0643",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "125,000",
              "dealDay": 12,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.908,
              "floor": 10,
              "jibun": 643,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00087",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "현대로얄",
              "aptSeq": "11530-37",
              "bonbun": "0701",
              "bubun": "0076",
              "buildYear": 1987,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "50,000",
              "dealDay": 23,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 79.79,
              "floor": 6,
              "jibun": "701-76",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "가마산로",
              "roadNmBonbun": "00097",
              "roadNmBubun": "00000",
              "roadNmCd": 3000023,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "청구",
              "aptSeq": "11530-63",
              "bonbun": "0326",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "56,250",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.94,
              "floor": 3,
              "jibun": 326,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로6길",
              "roadNmBonbun": "00005",
              "roadNmBubun": "00015",
              "roadNmCd": 4148468,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼성래미안",
              "aptSeq": "11530-171",
              "bonbun": "0256",
              "bubun": "0001",
              "buildYear": 2004,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "85,000",
              "dealDay": 15,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 78.665,
              "floor": 20,
              "jibun": "256-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로31길",
              "roadNmBonbun": "00090",
              "roadNmBubun": "00000",
              "roadNmCd": 4148335,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "극동",
              "aptSeq": "11530-2",
              "bonbun": "0314",
              "bubun": "0000",
              "buildYear": 1984,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "57,000",
              "dealDay": 23,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 90.98,
              "floor": 4,
              "jibun": 314,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구로중앙로7길",
              "roadNmBonbun": "00028",
              "roadNmBubun": "00000",
              "roadNmCd": 4148286,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "고척파크푸르지오",
              "aptSeq": "11530-3373",
              "bonbun": "0339",
              "bubun": "0000",
              "buildYear": 2009,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "87,250",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.89,
              "floor": 6,
              "jibun": 339,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로",
              "roadNmBonbun": "00121",
              "roadNmBubun": "00000",
              "roadNmCd": 3005068,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "고척파크푸르지오",
              "aptSeq": "11530-3373",
              "bonbun": "0339",
              "bubun": "0000",
              "buildYear": 2009,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "90,000",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.89,
              "floor": 7,
              "jibun": 339,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로",
              "roadNmBonbun": "00121",
              "roadNmBubun": "00000",
              "roadNmCd": 3005068,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "영화",
              "aptSeq": "11530-84",
              "bonbun": "0475",
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "60,700",
              "dealDay": 12,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.78,
              "floor": 21,
              "jibun": 475,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로40길",
              "roadNmBonbun": "00011",
              "roadNmBubun": "00000",
              "roadNmCd": 4148098,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "다청림(356)",
              "aptSeq": "11530-3734",
              "bonbun": "0356",
              "bubun": "0000",
              "buildYear": 2013,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "28,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 38.11,
              "floor": 6,
              "jibun": 356,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "서해안로",
              "roadNmBonbun": "02275",
              "roadNmBubun": "00000",
              "roadNmCd": 3000020,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10800,
              "umdNm": "오류동"
            },
            {
              "aptDong": " ",
              "aptNm": "한신휴플러스(1280-0)",
              "aptSeq": "11530-3282",
              "bonbun": 1280,
              "bubun": "0000",
              "buildYear": 2007,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "72,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 58.03,
              "floor": 18,
              "jibun": 1280,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로31길",
              "roadNmBonbun": "00120",
              "roadNmBubun": "00000",
              "roadNmCd": 4148335,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "벽산",
              "aptSeq": "11530-69",
              "bonbun": "0334",
              "bubun": "0000",
              "buildYear": 2003,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "90,000",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.878,
              "floor": 25,
              "jibun": 334,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00390",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "03",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아한신",
              "aptSeq": "11530-52",
              "bonbun": "0327",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "59,000",
              "dealDay": 13,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.9,
              "floor": 18,
              "jibun": 327,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로6길",
              "roadNmBonbun": "00017",
              "roadNmBubun": "00000",
              "roadNmCd": 4148468,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성2",
              "aptSeq": "11530-140",
              "bonbun": "0639",
              "bubun": "0000",
              "buildYear": 1996,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "93,000",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.94,
              "floor": 9,
              "jibun": 639,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00105",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아3",
              "aptSeq": "11530-132",
              "bonbun": "0645",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "108,000",
              "dealDay": 16,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 60,
              "floor": 5,
              "jibun": 645,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00078",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성1",
              "aptSeq": "11530-139",
              "bonbun": "0312",
              "bubun": "0017",
              "buildYear": 1992,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "89,000",
              "dealDay": 23,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 73.18,
              "floor": 14,
              "jibun": "312-17",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00110",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아2",
              "aptSeq": "11530-131",
              "bonbun": "0644",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "129,000",
              "dealDay": 25,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 강남구, 서울 구로구",
              "excluUseAr": 84.908,
              "floor": 21,
              "jibun": 644,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00643",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아3",
              "aptSeq": "11530-132",
              "bonbun": "0645",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "134,000",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.99,
              "floor": 4,
              "jibun": 645,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00078",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "대림e-편한세상4",
              "aptSeq": "11530-163",
              "bonbun": "0646",
              "bubun": "0000",
              "buildYear": 2003,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "168,500",
              "dealDay": 27,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.78,
              "floor": 3,
              "jibun": 646,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로65길",
              "roadNmBonbun": "00016",
              "roadNmBubun": "00015",
              "roadNmCd": 4148117,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "개봉동현대아이파크",
              "aptSeq": "11530-3213",
              "bonbun": "0489",
              "bubun": "0000",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "89,250",
              "dealDay": 23,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.98,
              "floor": 18,
              "jibun": 489,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "개봉로2길",
              "roadNmBonbun": "00133",
              "roadNmBubun": "00015",
              "roadNmCd": 4148053,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼천리",
              "aptSeq": "11530-105",
              "bonbun": "0340",
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "55,000",
              "dealDay": 18,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.73,
              "floor": 16,
              "jibun": 340,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로8길",
              "roadNmBonbun": "00075",
              "roadNmBubun": "00000",
              "roadNmCd": 4148123,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10800,
              "umdNm": "오류동"
            },
            {
              "aptDong": " ",
              "aptNm": "SKVIEW",
              "aptSeq": "11530-3174",
              "bonbun": "0432",
              "bubun": "0001",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "104,000",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.98,
              "floor": 8,
              "jibun": "432-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00638",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "천왕연지타운2단지",
              "aptSeq": "11530-3775",
              "bonbun": "0281",
              "bubun": "0000",
              "buildYear": 2014,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "68,000",
              "dealDay": 9,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.98,
              "floor": 1,
              "jibun": 281,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "오리로",
              "roadNmBonbun": "01102",
              "roadNmBubun": "00010",
              "roadNmCd": 3000022,
              "roadNmSeq": "03",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 11100,
              "umdNm": "천왕동"
            },
            {
              "aptDong": " ",
              "aptNm": "고척LIG리가2차",
              "aptSeq": "11530-3386",
              "bonbun": "0340",
              "bubun": "0001",
              "buildYear": 2009,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "76,000",
              "dealDay": 25,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구, 서울 양천구",
              "excluUseAr": 59.95,
              "floor": 11,
              "jibun": "340-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로12길",
              "roadNmBonbun": "00017",
              "roadNmBubun": "00008",
              "roadNmCd": 4148458,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "항동중흥에스클래스베르데카운티",
              "aptSeq": "11530-4392",
              "bonbun": "0236",
              "bubun": "0000",
              "buildYear": 2019,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "120,000",
              "dealDay": 11,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 147.9822,
              "floor": 2,
              "jibun": 236,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "연동로",
              "roadNmBonbun": "00233",
              "roadNmBubun": "00000",
              "roadNmCd": 3000021,
              "roadNmSeq": "00",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 11200,
              "umdNm": "항동"
            },
            {
              "aptDong": " ",
              "aptNm": "오류동푸르지오",
              "aptSeq": "11530-191",
              "bonbun": "0346",
              "bubun": "0000",
              "buildYear": 2004,
              "buyerGbn": "개인",
              "cdealDay": "25.07.03",
              "cdealType": "O",
              "dealAmount": "78,000",
              "dealDay": 22,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.936,
              "floor": 12,
              "jibun": 346,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "오류로8길",
              "roadNmBonbun": "00011",
              "roadNmBubun": "00000",
              "roadNmCd": 4148422,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10800,
              "umdNm": "오류동"
            },
            {
              "aptDong": " ",
              "aptNm": "구로현대",
              "aptSeq": "11530-138",
              "bonbun": 1256,
              "bubun": "0000",
              "buildYear": 1992,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "52,000",
              "dealDay": 24,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 56.49,
              "floor": 1,
              "jibun": 1256,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로",
              "roadNmBonbun": "00319",
              "roadNmBubun": "00000",
              "roadNmCd": 3000026,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼환",
              "aptSeq": "11530-80",
              "bonbun": "0470",
              "bubun": "0000",
              "buildYear": 1995,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "65,300",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.945,
              "floor": 15,
              "jibun": 470,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "남부순환로95길",
              "roadNmBonbun": "00054",
              "roadNmBubun": "00000",
              "roadNmCd": 4148300,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "삼환",
              "aptSeq": "11530-80",
              "bonbun": "0470",
              "bubun": "0000",
              "buildYear": 1995,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "53,200",
              "dealDay": 13,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.4,
              "floor": 9,
              "jibun": 470,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "남부순환로95길",
              "roadNmBonbun": "00054",
              "roadNmBubun": "00000",
              "roadNmCd": 4148300,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아1",
              "aptSeq": "11530-130",
              "bonbun": "0643",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "124,000",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.908,
              "floor": 19,
              "jibun": 643,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00087",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "서울가든",
              "aptSeq": "11530-56",
              "bonbun": "0141",
              "bubun": "0001",
              "buildYear": 1989,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "49,200",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 54.61,
              "floor": 7,
              "jibun": "141-1",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "중앙로5길",
              "roadNmBonbun": "00062",
              "roadNmBubun": "00000",
              "roadNmCd": 4148467,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "동아3",
              "aptSeq": "11530-132",
              "bonbun": "0645",
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "161,000",
              "dealDay": 17,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 164.82,
              "floor": 24,
              "jibun": 645,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로",
              "roadNmBonbun": "00078",
              "roadNmBubun": "00000",
              "roadNmCd": 3116008,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성(1058)",
              "aptSeq": "11530-23",
              "bonbun": 1058,
              "bubun": "0000",
              "buildYear": 1995,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "54,200",
              "dealDay": 30,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.34,
              "floor": 6,
              "jibun": 1058,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구일로8길",
              "roadNmBonbun": "00031",
              "roadNmBubun": "00000",
              "roadNmCd": 4148292,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "한마을",
              "aptSeq": "11530-89",
              "bonbun": "0476",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "70,000",
              "dealDay": 20,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.57,
              "floor": 6,
              "jibun": 476,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00382",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "04",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "신도림태영타운",
              "aptSeq": "11530-17",
              "bonbun": 1267,
              "bubun": "0000",
              "buildYear": 2000,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "111,300",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.87,
              "floor": 4,
              "jibun": 1267,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "새말로",
              "roadNmBonbun": "00093",
              "roadNmBubun": "00000",
              "roadNmCd": 3116007,
              "roadNmSeq": "02",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "구로두산",
              "aptSeq": "11530-9",
              "bonbun": 1265,
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "46,500",
              "dealDay": 15,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 44.64,
              "floor": 21,
              "jibun": 1265,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "도림로",
              "roadNmBonbun": "00059",
              "roadNmBubun": "00000",
              "roadNmCd": 3116010,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "(749-46)",
              "aptSeq": "11530-425",
              "bonbun": "0749",
              "bubun": "0046",
              "buildYear": 1996,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "19,300",
              "dealDay": 25,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 38.43,
              "floor": 2,
              "jibun": "749-46",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": "25.07.03",
              "roadNm": "구로동로20길",
              "roadNmBonbun": "00064",
              "roadNmBubun": "00002",
              "roadNmCd": 4148207,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "법인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "한마을",
              "aptSeq": "11530-89",
              "bonbun": "0476",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "87,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.57,
              "floor": 13,
              "jibun": 476,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00382",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "04",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "한마을",
              "aptSeq": "11530-89",
              "bonbun": "0476",
              "bubun": "0000",
              "buildYear": 1999,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "85,500",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.57,
              "floor": 11,
              "jibun": 476,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00382",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "04",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10700,
              "umdNm": "개봉동"
            },
            {
              "aptDong": " ",
              "aptNm": "우성3",
              "aptSeq": "11530-141",
              "bonbun": "0637",
              "bubun": "0000",
              "buildYear": 1993,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "95,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.75,
              "floor": 3,
              "jibun": 637,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "신도림로21길",
              "roadNmBonbun": "00025",
              "roadNmBubun": "00000",
              "roadNmCd": 4148402,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10100,
              "umdNm": "신도림동"
            },
            {
              "aptDong": " ",
              "aptNm": "구로아트빌라3동",
              "aptSeq": "11530-640",
              "bonbun": "0806",
              "bubun": "0009",
              "buildYear": 1997,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "31,000",
              "dealDay": 29,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.94,
              "floor": 4,
              "jibun": "806-9",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "도림로3길",
              "roadNmBonbun": "00015",
              "roadNmBubun": "00000",
              "roadNmCd": 4148315,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "벽산",
              "aptSeq": "11530-69",
              "bonbun": "0334",
              "bubun": "0000",
              "buildYear": 2003,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "92,000",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.878,
              "floor": 14,
              "jibun": 334,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "경인로",
              "roadNmBonbun": "00390",
              "roadNmBubun": "00000",
              "roadNmCd": 3000028,
              "roadNmSeq": "03",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10600,
              "umdNm": "고척동"
            },
            {
              "aptDong": " ",
              "aptNm": "주공1",
              "aptSeq": "11530-29",
              "bonbun": "0685",
              "bubun": "0222",
              "buildYear": 1986,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "86,500",
              "dealDay": 20,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 84.165,
              "floor": 3,
              "jibun": "685-222",
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "구일로4길",
              "roadNmBonbun": "00065",
              "roadNmBubun": "00000",
              "roadNmCd": 4148291,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "구로두산위브",
              "aptSeq": "11530-3249",
              "bonbun": 1278,
              "bubun": "0000",
              "buildYear": 2006,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "49,100",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 36.88,
              "floor": 3,
              "jibun": 1278,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "디지털로31길",
              "roadNmBonbun": "00085",
              "roadNmBubun": "00000",
              "roadNmCd": 4148335,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            },
            {
              "aptDong": " ",
              "aptNm": "이화우성",
              "aptSeq": "11530-27",
              "bonbun": 1260,
              "bubun": "0000",
              "buildYear": 1998,
              "buyerGbn": "개인",
              "cdealDay": " ",
              "cdealType": " ",
              "dealAmount": "60,000",
              "dealDay": 15,
              "dealMonth": 6,
              "dealYear": 2025,
              "dealingGbn": "중개거래",
              "estateAgentSggNm": "서울 구로구",
              "excluUseAr": 59.82,
              "floor": 5,
              "jibun": 1260,
              "landCd": 1,
              "landLeaseholdGbn": "N",
              "rgstDate": " ",
              "roadNm": "도림로22길",
              "roadNmBonbun": "00008",
              "roadNmBubun": "00000",
              "roadNmCd": 4148310,
              "roadNmSeq": "01",
              "roadNmSggCd": 11530,
              "roadNmbCd": 0,
              "sggCd": 11530,
              "slerGbn": "개인",
              "umdCd": 10200,
              "umdNm": "구로동"
            }
          ],
          "rent_item": [
            {
              "aptNm": "신도림태영타운",
              "buildYear": 2000,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 17,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "65,000",
              "excluUseAr": 84.87,
              "floor": 6,
              "jibun": 1267,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "주공2",
              "buildYear": 1987,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 28,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "20,000",
              "excluUseAr": 41.3,
              "floor": 1,
              "jibun": "685-223",
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "주공2",
              "buildYear": 1987,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 5,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "1,000",
              "excluUseAr": 41.3,
              "floor": 12,
              "jibun": "685-223",
              "monthlyRent": 85,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "구로두산위브",
              "buildYear": 2006,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 24,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "29,000",
              "excluUseAr": 36.88,
              "floor": 10,
              "jibun": 1278,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "구일우성",
              "buildYear": 1998,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 21,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "10,000",
              "excluUseAr": 59.44,
              "floor": 15,
              "jibun": 1259,
              "monthlyRent": 90,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "경남2",
              "buildYear": 1999,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 22,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "28,000",
              "excluUseAr": 59.96,
              "floor": 14,
              "jibun": 306,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "고척동",
              "useRRRight": " "
            },
            {
              "aptNm": "신도림태영타운",
              "buildYear": 2000,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 20,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "67,000",
              "excluUseAr": 84.87,
              "floor": 25,
              "jibun": 1267,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "한신휴플러스(1280-0)",
              "buildYear": 2007,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "44,000",
              "excluUseAr": 58.03,
              "floor": 15,
              "jibun": 1280,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "구로동",
              "useRRRight": " "
            },
            {
              "aptNm": "신도림아이파크",
              "buildYear": 2015,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 19,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "34,000",
              "excluUseAr": 57.9753,
              "floor": 5,
              "jibun": 693,
              "monthlyRent": 39,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "신도림동",
              "useRRRight": " "
            },
            {
              "aptNm": "두산",
              "buildYear": 1997,
              "contractTerm": " ",
              "contractType": " ",
              "dealDay": 14,
              "dealMonth": 6,
              "dealYear": 2025,
              "deposit": "33,000",
              "excluUseAr": 59.69,
              "floor": 5,
              "jibun": 472,
              "monthlyRent": 0,
              "preDeposit": " ",
              "preMonthlyRent": " ",
              "sggCd": 11530,
              "umdNm": "개봉동",
              "useRRRight": " "
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set ServiceKey",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ServiceKey": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Keyword": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Get DongCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get DongCode": {
      "main": [
        [
          {
            "node": "Trade AI Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Rent AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API TOOL": {
      "ai_tool": [
        [
          {
            "node": "Trade AI Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Rent AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Trade AI Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Rent AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Trade AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Rent AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Trade AI Agent": {
      "main": [
        [
          {
            "node": "TradeCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rent AI Agent": {
      "main": [
        [
          {
            "node": "RentCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TradeCode": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RentCode": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "V-WORLD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "V-WORLD": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set ADDR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ADDR": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "SGIS CODE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SGIS CODE": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "25939c68-93b1-4421-beb2-36ff1c328365",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "1NqvLZ3pPebwiUIY",
  "tags": []
}