n8n/s_email.json
{
  "name": "s-email",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=메일 제목:\n{{ $json.subject }}\n\n메일 내용:\n{{ $json.text }}\n\nUID:\n{{ $json.uid }}\n\n메일 종류:\n{{ $json.service }}\n-----------------\n\n위의 메일의 내용을 참고하여 스팸여부를 판단 하세요.\nis_spam의 값은 항상 yes / no 로만 응답하세요.\n스팸 여부 판별 이유는 한글로 작성",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        480,
        -100
      ],
      "id": "c2d63a48-77b9-4546-aba4-38d270ba7ce2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        80
      ],
      "id": "9051a335-1675-4d4a-afe7-dd4a8fb14af3",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Iy5TlhG2RJOqeaMY",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"is_spam\": \"스팸여부\",\n  \"reason\": \"스팸 판별 이유\",\n  \"uid\": \"UID\",\n  \"service\": \"메일의 종류\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        660,
        80
      ],
      "id": "71528c3b-7ed8-43ca-b46d-f195e22ed1ca",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": "yes",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d9384317-7088-4dac-9bba-4d4844a6c6f5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "spam"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "015ea9d8-f89a-49d0-9051-23654ffc871d",
                    "leftValue": "={{ $json.output.is_spam }}",
                    "rightValue": "no",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no-spam"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        780,
        -100
      ],
      "id": "18cde206-37b5-4acf-9a74-ca5fc6ec69b5",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7db994db-22ca-457b-924f-d926baa59226",
              "name": "subject",
              "value": "={{ $('NAVER').item.json.envelope.subject }}",
              "type": "string"
            },
            {
              "id": "ae0fad2a-8f1f-4046-9720-8583c3640d8e",
              "name": "from",
              "value": "={{ $('NAVER').item.json.envelope.from[0].address }}",
              "type": "string"
            },
            {
              "id": "bc258476-f039-4435-93ad-4479402143e2",
              "name": "text",
              "value": "={{ $('NAVER').item.json.textContent }}",
              "type": "string"
            },
            {
              "id": "ee74bb7d-0950-4c45-9f68-821195b6a351",
              "name": "service",
              "value": "naver",
              "type": "string"
            },
            {
              "id": "83844233-4d94-4635-bb07-71b0321dfda6",
              "name": "uid",
              "value": "={{ $('NAVER').item.json.uid }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        -140
      ],
      "id": "db89d97b-cbea-40c5-b4ea-2057564331ec",
      "name": "Naver Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7db994db-22ca-457b-924f-d926baa59226",
              "name": "subject",
              "value": "={{ $json.envelope.subject }}",
              "type": "string"
            },
            {
              "id": "ae0fad2a-8f1f-4046-9720-8583c3640d8e",
              "name": "from",
              "value": "={{ $json.envelope.from[0].address }}",
              "type": "string"
            },
            {
              "id": "4bc4a8f9-f51b-49b6-9953-a228ad4cdbc8",
              "name": "text",
              "value": "={{ $json.textContent }}",
              "type": "string"
            },
            {
              "id": "c8c349d7-9e7c-4e24-953e-0bc838540f05",
              "name": "service",
              "value": "google",
              "type": "string"
            },
            {
              "id": "9a60d495-f911-4918-91f0-b7d8d2edf18d",
              "name": "uid",
              "value": "={{ $json.uid }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        40
      ],
      "id": "095269b5-c75b-47bb-a6c0-658270a3e181",
      "name": "Google Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b944a08b-378f-4d9f-8726-b4b893432c35",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "b8b36de3-0c86-42ff-93db-855d93e0ba09",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "902f71aa-78a9-4c41-bf0c-16a7c68d97d9",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "647f5437-31dd-45a3-9e62-7c22d3f17a85",
              "name": "uid",
              "value": "={{ $json.uid }}",
              "type": "number"
            },
            {
              "id": "d93e8006-4b80-42aa-9e46-ce0d30be7ec0",
              "name": "service",
              "value": "={{ $json.service }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        280,
        -100
      ],
      "id": "740fdd13-cc85-4c24-8b80-4e5c3f4057d2",
      "name": "MAIL DATA"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailDateRange": {
          "since": ""
        },
        "emailFlags": {
          "seen": false
        },
        "emailSearchFilters": {},
        "includeParts": [
          "textContent"
        ]
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        -260,
        -140
      ],
      "id": "85ce8cfd-807a-4f68-8232-cd2c754c7cd4",
      "name": "NAVER",
      "credentials": {
        "imap": {
          "id": "94JWf8panO4rmZtJ",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailDateRange": {
          "since": ""
        },
        "emailFlags": {
          "seen": false
        },
        "emailSearchFilters": {},
        "includeParts": [
          "textContent"
        ]
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        -260,
        40
      ],
      "id": "b48c0e63-7470-49ce-a624-ad26f565e3d1",
      "name": "GMAIL",
      "credentials": {
        "imap": {
          "id": "0W6qSn0eYoxM9pMM",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output.service }}",
                    "rightValue": "naver",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "878e7b3a-4632-4235-8d79-d0fac7336203"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "naver"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d353758d-7d03-4c66-a313-5295baa8d161",
                    "leftValue": "={{ $json.output.service }}",
                    "rightValue": "google",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "google"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1020,
        -160
      ],
      "id": "0c9a3754-39a4-4196-9f8f-8a6cd02e6d3e",
      "name": "Switch1"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.output.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "Deleted Messages",
          "mode": "list",
          "cachedResultName": "Deleted Messages"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        1240,
        -280
      ],
      "id": "0f2d5c42-ffe6-4df4-9e04-27c5a48556e7",
      "name": "DeleteMail(NAVER)",
      "credentials": {
        "imap": {
          "id": "94JWf8panO4rmZtJ",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "moveEmail",
        "sourceMailbox": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.output.uid }}",
        "destinationMailbox": {
          "__rl": true,
          "value": "Deleted Messages",
          "mode": "list",
          "cachedResultName": "Deleted Messages"
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        1240,
        -100
      ],
      "id": "850ceb2a-1576-4b9f-9c17-a0ca15f0d5eb",
      "name": "DeleteMail(GMAIL)",
      "credentials": {
        "imap": {
          "id": "0W6qSn0eYoxM9pMM",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "seconds"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        -40
      ],
      "id": "7cfa38ca-52dc-4534-9e6e-c1c20b12567d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "setEmailFlags",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.uid }}",
        "flags": {
          "\\Seen": false
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        -100,
        -300
      ],
      "id": "c0d41c3c-f4a5-43c1-848c-61e8bc631803",
      "name": "IMAP",
      "alwaysOutputData": true,
      "credentials": {
        "imap": {
          "id": "94JWf8panO4rmZtJ",
          "name": "NaverMail"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        -240
      ],
      "id": "1fd2e0bf-d47e-4d9a-923b-8b6fea598a62",
      "name": "Merge"
    },
    {
      "parameters": {
        "authentication": "coreImapAccount",
        "resource": "email",
        "operation": "setEmailFlags",
        "mailboxPath": {
          "__rl": true,
          "mode": "list",
          "value": "INBOX"
        },
        "emailUid": "={{ $json.uid }}",
        "flags": {
          "\\Seen": false
        }
      },
      "type": "n8n-nodes-imap.imap",
      "typeVersion": 1,
      "position": [
        -100,
        200
      ],
      "id": "b85aea36-f93d-410a-8de8-e2dc4edb8d1e",
      "name": "IMAP1",
      "alwaysOutputData": true,
      "credentials": {
        "imap": {
          "id": "0W6qSn0eYoxM9pMM",
          "name": "Gmail"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        80,
        60
      ],
      "id": "21d47cc4-b380-45af-b471-f6fd777c58da",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Naver Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Fields": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MAIL DATA": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NAVER": {
      "main": [
        [
          {
            "node": "IMAP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Naver Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GMAIL": {
      "main": [
        [
          {
            "node": "Google Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "IMAP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "DeleteMail(NAVER)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "DeleteMail(GMAIL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "NAVER",
            "type": "main",
            "index": 0
          },
          {
            "node": "GMAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "MAIL DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IMAP1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "MAIL DATA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "51846f0a-faa2-44d6-bd33-08ca5c799278",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  },
  "id": "afnsr8xH8KTVpUSQ",
  "tags": []
}