n8n/s_login.json
{
  "name": "s-login",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -840,
        0
      ],
      "id": "738bd0d4-856c-468f-b023-ad5eea138962",
      "name": "When chat message received",
      "webhookId": "0b9294aa-5af8-4c0d-9201-430b918de2b1"
    },
    {
      "parameters": {
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=- 사용자가 입력한 내용의 의도를 파악하세요.\n- 가입이거나 로그인인 경우 반드시 입력한 내용에서 아이디와 비밀번호를 추출해야 합니다. \n- 아이디나 비번이 없는 경우 해당 값은 공백 처리 합니다. \n- \"도움말\", \"help\" 가 포함되지 않은 내용은 절대 도움말로 분류하지 않습니다.\n- ~을 해줘, ~알려줘 는 도움말이 아닌 기능을 요청하는 내용입니다. 반드시 주어진 문장의 의도를 명확하게 구분하세요.\n- 기본적인 분류는 기능사용을 기준으로 합니다.\n- ID와 PASS만 입력된 경우는 기본적으로 로그인으로 처리 합니다.\n- 의도(type)는 다음 4가지 유형중 한가지 입니다. 반드시 4가지 중 한가지며 기본은 기능사용입니다.\n  :도움말(help), 회원가입(join), 회원인증(login), 기능사용(function)\n- 최종 type 값은 주어진 영문 단어로 변환합니다.\n\n채팅 세션아이디:\n{{ $json.sessionId }}\n\n사용자 입력:\n{{ $json.chatInput }}\n\n출력 예시(JSON)\n{\n   \"type\": \"join\",\n   \"input\": \"사용자 입력값\",\n   \"id\": \"사용자 아이디(옵션)\",\n   \"pass\": \"사용자 비번(옵션)\",\n   \"session_id\": \"채팅 세션 아이디\"\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -620,
        0
      ],
      "id": "9b7392d3-7b1f-4fc3-adf1-67c6dfcec496",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -620,
        180
      ],
      "id": "d5fe54dd-1b61-4db6-8bb6-b73dd393b5fc",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"type\": \"동작 유형\",\n  \"input\": \"사용자 입력내용\",\n  \"id\": \"아이디\",\n  \"pass\": \"비번\",\n  \"session_id\": \"세션 아이\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -440,
        180
      ],
      "id": "480d50cd-0154-4bd5-81da-363f59cec14d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44300969-5c5c-425e-9fd2-d6d54d58c3fd",
              "name": "type",
              "value": "={{ $json.output.type }}",
              "type": "string"
            },
            {
              "id": "318cf8bf-85b3-4e6a-b441-c8c343b056c7",
              "name": "input",
              "value": "={{ $json.output.input }}",
              "type": "string"
            },
            {
              "id": "9927375b-85bd-4537-9a27-7e8cfc5a0d5d",
              "name": "id",
              "value": "={{ $json.output.id }}",
              "type": "string"
            },
            {
              "id": "e3a08b3e-5e64-4bde-9fc8-8a3ba5442129",
              "name": "pass",
              "value": "={{ $json.output.pass }}",
              "type": "string"
            },
            {
              "id": "aae9b073-ff54-4c52-8c93-41ae2c1c78cf",
              "name": "session_id",
              "value": "={{ $json.output.session_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        0
      ],
      "id": "30be916d-8087-46f0-8085-e7d3807e94b9",
      "name": "SET VAR"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "093fcb01-46e0-4b5b-bd53-1180e666f328"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "help"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bb677d2d-0bbf-49b9-a5f1-1195be7aaf13",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "join",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "join"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ccc13ae1-980f-4623-9fe9-6bf814493003",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "login",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "login"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8ed413b0-14bb-4a6f-8145-ca46f259e2ba",
                    "leftValue": "={{ $json.type }}",
                    "rightValue": "function",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "function"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -40,
        -20
      ],
      "id": "62b5f1e2-5ca6-4158-9a3e-707cd9d3387b",
      "name": "Switch"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "msg = \"\"\"\n도움말 입니다.\n도움말, 가입, 로그인, 기능사용\n\"\"\"\n\nreturn [{\n  \"output\": msg\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        180,
        -194
      ],
      "id": "3827338a-7a44-412c-b351-37a132fb64f1",
      "name": "HELP"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2fdcf795-9d2c-4f28-916d-e0655afbf890",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "c5f21508-2055-4f5e-94ed-7372efd97b5a",
              "leftValue": "={{ $json.pass }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        -120
      ],
      "id": "127b361c-2b64-40c3-ba23-4663f2971882",
      "name": "ID/PASS Check1"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "msg = \"\"\"\n아이디/비번을 확인하세요.\n\"\"\"\n\nreturn [{\n  \"output\": msg\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -20
      ],
      "id": "f60eb68e-f0b1-4f28-b61e-fc7daf8a8bd3",
      "name": "ERROR"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        600,
        -194
      ],
      "id": "ae09f52e-5579-411d-b929-52eb59d44413",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "sVSowBAGLxZK6AT1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('SET VAR').item.json.id }}",
        "value": "={{ $('SET VAR').item.json.pass }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        -200
      ],
      "id": "49ec3e94-e70b-4eb4-8a83-ea2a3d389e8e",
      "name": "JOIN",
      "credentials": {
        "redis": {
          "id": "sVSowBAGLxZK6AT1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f5115e4c-baf6-47aa-af31-57fb7659efaf",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        780,
        -200
      ],
      "id": "63faadb0-9a20-4a73-8534-227d6f9599ad",
      "name": "IsMember"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "msg = \"\"\"\n회원 가입 성공! 로그인 후 사용 가능합니다.\n\"\"\"\n\nreturn [{\n  \"output\": msg\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        -200
      ],
      "id": "7cd2283e-ae3a-4114-9bf7-4a40d9654a85",
      "name": "JOIN OK"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "msg = \"\"\"\n중복된 아이디입니다.\n\"\"\"\n\nreturn [{\n  \"output\": msg\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        -20
      ],
      "id": "8c0823aa-4ed0-45a1-a281-11cfa85a3324",
      "name": "ERROR_OUTPUT"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2fdcf795-9d2c-4f28-916d-e0655afbf890",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "c5f21508-2055-4f5e-94ed-7372efd97b5a",
              "leftValue": "={{ $json.pass }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        380,
        160
      ],
      "id": "2cf7f67b-7981-455b-9e9a-2603da0e50e7",
      "name": "ID/PASS Check"
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $json.id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        600,
        260
      ],
      "id": "548d528e-ec34-46fd-bb3f-6c4aa0772813",
      "name": "Get ID",
      "credentials": {
        "redis": {
          "id": "sVSowBAGLxZK6AT1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6bf112ce-d65a-411b-bcdf-a44ec5441953",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "={{ $('SET VAR').item.json.pass }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        820,
        260
      ],
      "id": "3fed03b7-83f0-4cc4-8737-53aff58bdf9c",
      "name": "Check PASS"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('SET VAR').item.json.session_id }}",
        "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}",
        "expire": true,
        "ttl": 600
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1040,
        160
      ],
      "id": "42a46049-7fac-4603-b1e3-954fd4ab3f71",
      "name": "SAVE SessionID",
      "credentials": {
        "redis": {
          "id": "sVSowBAGLxZK6AT1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "msg = \"\"\"\n로그인 성공!!\n\"\"\"\n\nreturn [{\n  \"output\": msg\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        160
      ],
      "id": "4e83c69f-5584-46bf-b56b-33d5a5fbad36",
      "name": "LOGIN OK"
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('SET VAR').item.json.session_id }}",
        "value": "={{ $now.format('yyyy-MM-dd HH:mm:ss') }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        820,
        500
      ],
      "id": "3c039133-64a7-42f4-8b3a-440d1c380399",
      "name": "SET TTL",
      "credentials": {
        "redis": {
          "id": "sVSowBAGLxZK6AT1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "key": "={{ $('SET VAR').item.json.session_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        380,
        500
      ],
      "id": "ecfa7af3-c771-45b0-a310-ce516023349a",
      "name": "Get SessionID",
      "credentials": {
        "redis": {
          "id": "sVSowBAGLxZK6AT1",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4974ea37-3589-46bc-ab3d-9ed52a2012f6",
              "leftValue": "={{ $json.propertyName }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        560,
        500
      ],
      "id": "35db957c-a36d-4502-9a92-b14db37995fc",
      "name": "If"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "msg = \"\"\"\n로그인 후 사용가능합니다.\n\"\"\"\n\nreturn [{\n  \"output\": msg\n}]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        680
      ],
      "id": "1965cb24-3768-4e4d-a1ad-42c7755ca24d",
      "name": "LOGIN FAILED"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('SET VAR').item.json.input }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1040,
        500
      ],
      "id": "ca46d692-a1c2-4942-806c-617602721256",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1060,
        700
      ],
      "id": "e9f497f7-1797-4b0d-b068-6bc65ddae02d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "FdrbvMNQbYrT6W62",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "SET VAR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET VAR": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HELP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID/PASS Check1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ID/PASS Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get SessionID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID/PASS Check1": {
      "main": [
        [
          {
            "node": "Redis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "main": [
        [
          {
            "node": "IsMember",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IsMember": {
      "main": [
        [
          {
            "node": "JOIN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR_OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JOIN": {
      "main": [
        [
          {
            "node": "JOIN OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID/PASS Check": {
      "main": [
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get ID": {
      "main": [
        [
          {
            "node": "Check PASS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check PASS": {
      "main": [
        [
          {
            "node": "SAVE SessionID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAVE SessionID": {
      "main": [
        [
          {
            "node": "LOGIN OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SessionID": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "SET TTL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LOGIN FAILED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SET TTL": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "870148b7-5b46-4876-af7a-940fe5b4aaf2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ff6d4936f6d7bb8554affc8f6ff012ed4476cbd87b8d3638b53b1f3c45477576"
  },
  "id": "NKwg3WdOT4RTITpQ",
  "tags": []
}